{% extends 'admin/change_form.html' %}
{% load i18n %} 

{% block field_sets %}
    <div class="submit-row" style="text-align: left; border-color: orangered;">
        {% blocktranslate %}In order to use separate contract dates for electricity/gas overlapping each other, make sure to <strong>set the prices to zero</strong> not required for a contract.{% endblocktranslate %}
    </div>

    {{ block.super }}

    <div class="submit-row" style="text-align: left; border-color: orangered;">
        {% blocktranslate %}Updating prices for (past) days already stored in the Archive does <strong>not affect</strong> them.{% endblocktranslate %}
        {% blocktranslate %}In order to reapply price changes retroactively{% endblocktranslate %} <a href="https://dsmr-reader.readthedocs.io/{{ LANGUAGE_CODE }}/v5/faq.html" target="_blank">{% blocktranslate %}see the FAQ{% endblocktranslate %}</a> {% blocktranslate %}for a how-to.{% endblocktranslate %}
    </div>

{% endblock %}