{% extends "dsmr_frontend/base.html" %}
{% load humanize %} 
{% load static %} 
{% load i18n %}

{% block title %}{% translate "Configuration" %}{% endblock %}
{% block header %}{% translate "Configuration" %} &nbsp; <i class="fas fa-wrench"></i>{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content search-section">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <header class="panel-heading">
                    {% translate "Search for a topic or setting" %}
                </header>
                <div class="panel-body">
                    <div class="ui search">
                        <div class="ui icon input">
                            <input id="search" class="prompt" type="text" placeholder="{% translate "Type here to search..." %}">
                        </div>

                        &nbsp; &nbsp; <a class="btn btn-sm btn-primary" href="{% url 'admin:index' %}"><i class="fas fa-external-link-alt"></i> {% translate "Skip search and go directly to admin" %}</a>

                        <div class="results"></div>
                    </div>

                    <small>{% translate "Click a topic below to display a pop-up with more details to choose from." %}</small>
                    <ul id="category-suggestions"></ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link href="{% static 'dsmr_frontend/semantic-2.4/semantic.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'dsmr_frontend/semantic-2.4/semantic.min.js' %}"></script>

    <script>
        const api_settings_url = '{% url "admin:dsmr_api_apisettings_change" api_settings.pk %}';
        const backend_settings_url = '{% url "admin:dsmr_backend_backendsettings_change" backend_settings.pk %}';
        const backup_settings_url = '{% url "admin:dsmr_backup_backupsettings_change" backup_settings.pk %}';
        const consumption_settings_url = '{% url "admin:dsmr_consumption_consumptionsettings_change" consumption_settings.pk %}';
        const datalogger_settings_url = '{% url "admin:dsmr_datalogger_dataloggersettings_change" datalogger_settings.pk %}';
        const dropbox_settings_url = '{% url "admin:dsmr_backup_dropboxsettings_change" dropbox_settings.pk %}';
        const day_statistics_url = '{% url "admin:dsmr_stats_daystatistics_changelist" %}';
        const hour_statistics_url = '{% url "admin:dsmr_stats_hourstatistics_changelist" %}';
        const email_settings_url = '{% url "admin:dsmr_backend_emailsettings_change" email_settings.pk %}';
        const energy_supplier_price_url = '{% url "admin:dsmr_consumption_energysupplierprice_changelist" %}';
        const export_url = '{% url "frontend:export" %}';
        const frontend_settings_url = '{% url "admin:dsmr_frontend_frontendsettings_change" frontend_settings.pk %}';
        const frontend_sortedgraphs_sort_url = '{% url "admin:dsmr_frontend_sortedgraph_sort" %}';
        const influxdb_settings_url = '{% url "admin:dsmr_influxdb_influxdbintegrationsettings_change" influxdb_settings.pk %}';
        const meter_statistics_url = '{% url "admin:dsmr_datalogger_meterstatistics_changelist" %}';
        const mindergas_settings_url = '{% url "admin:dsmr_mindergas_mindergassettings_change" mindergas_settings.pk %}';
        const mqtt_broker_settings_url = '{% url "admin:dsmr_mqtt_mqttbrokersettings_change" mqtt_broker_settings.pk %}';
        const mqtt_app_url = '{% url "admin:app_list" "dsmr_mqtt" %}';
        const notification_setting_url = '{% url "admin:dsmr_notification_notificationsetting_change" notification_settings.pk %}';
        const pvoutput_apisettings_url = '{% url "admin:dsmr_pvoutput_pvoutputapisettings_change" pvoutput_api_settings.pk %}';
        const pvoutput_addstatus_settings_url = '{% url "admin:dsmr_pvoutput_pvoutputaddstatussettings_change" pvoutput_addstatus_settings.pk %}';
        const retention_settings_url = '{% url "admin:dsmr_datalogger_retentionsettings_change" retention_settings.pk %}';
        const weather_settings_url = '{% url "admin:dsmr_weather_weathersettings_change" weather_settings.pk %}';

        const categoryContent = [
            { category: "{% translate 'Interface' %}", title: "{% translate 'Override tariff names used (e.g. for Belgium)' %}", url: frontend_settings_url },
            { category: "{% translate 'Interface' %}", title: "{% translate 'GUI refresh interval' %}", url: frontend_settings_url },
            { category: "{% translate 'Interface' %}", title: "{% translate 'Dark mode' %}", url: frontend_settings_url },
            { category: "{% translate 'Interface' %}", title: "{% translate 'Merge tariffs' %}", url: frontend_settings_url },
            { category: "{% translate 'Interface' %}", title: "{% translate 'Graph line/bar colors' %}", url: frontend_settings_url },
            { category: "{% translate 'Interface' %}", title: "{% translate 'Graph sorting/order' %}", url: frontend_sortedgraphs_sort_url },
            { category: "{% translate 'Interface' %}", title: "{% translate 'Force password login everywhere' %}", url: frontend_settings_url },

            { category: "{% translate 'Datalogger' %}", title: "{% translate 'Datalogger process sleep' %}", url: datalogger_settings_url },
            { category: "{% translate 'Datalogger' %}", title: "{% translate 'Override telegram timestamp' %}", url: datalogger_settings_url },
            { category: "{% translate 'Datalogger' %}", title: "{% translate 'Serial port config' %}", url: datalogger_settings_url },
            { category: "{% translate 'Datalogger' %}", title: "{% translate 'Network socket / port' %}", url: datalogger_settings_url },
            { category: "{% translate 'Datalogger' %}", title: "{% translate 'DSMR version (telegram parser)' %}", url: datalogger_settings_url },
            { category: "{% translate 'Datalogger' %}", title: "{% translate 'Smarty meter support' %}", url: datalogger_settings_url },
            { category: "{% translate 'Datalogger' %}", title: "{% translate 'Fluvius meter support' %}", url: datalogger_settings_url },

            { category: "{% translate 'Data processing (backend)' %}", title: "{% translate 'Backend process sleep' %}", url: backend_settings_url },
            { category: "{% translate 'Data processing (backend)' %}", title: "{% translate 'Language outside browser' %}", url: backend_settings_url },
            { category: "{% translate 'Data processing (backend)' %}", title: "{% translate 'Check for updates' %}", url: backend_settings_url },
            { category: "{% translate 'Data processing (backend)' %}", title: "{% translate 'Hide electricity return graphs' %}", url: backend_settings_url },
            { category: "{% translate 'Data processing (backend)' %}", title: "{% translate 'Hide gas graphs' %}", url: backend_settings_url },

            { category: "{% translate 'Data grouping' %}", title: "{% translate 'Group electricity by reading' %}", url: consumption_settings_url },
            { category: "{% translate 'Data grouping' %}", title: "{% translate 'Group gas by hour' %}", url: consumption_settings_url },

            { category: "{% translate 'Data cleanup / retention' %}", title: "{% translate 'Periodically cleanup excess data' %}", url: retention_settings_url },

            { category: "{% translate 'Datalogger meter statistics' %}", title: "{% translate 'Meter statistics overview' %}", url: meter_statistics_url },
            { category: "{% translate 'Datalogger meter statistics' %}", title: "{% translate 'Latest telegram read dump' %}", url: meter_statistics_url },

            { category: "{% translate 'Per day/hour totals' %}", title: "{% translate 'Per day statistics' %}", url: day_statistics_url },
            { category: "{% translate 'Per day/hour totals' %}", title: "{% translate 'Per hour statistics' %}", url: hour_statistics_url },
            { category: "{% translate 'Per day/hour totals' %}", title: "{% translate 'First meter positions of the day read' %}", url: day_statistics_url },

            { category: "{% translate 'Energy costs indication' %}", title: "{% translate 'Energy supplier price contracts' %}", url: energy_supplier_price_url },
            { category: "{% translate 'Energy costs indication' %}", title: "{% translate 'Gas price/costs indication settings' %}", url: energy_supplier_price_url },
            { category: "{% translate 'Energy costs indication' %}", title: "{% translate 'Electricity price/costs indication settings' %}", url: energy_supplier_price_url },

            { category: "{% translate 'Backup' %}", title: "{% translate 'Backup settings' %}", url: backup_settings_url },
            { category: "{% translate 'Backup' %}", title: "{% translate 'Backup file name' %}", url: backup_settings_url },
            { category: "{% translate 'Backup' %}", title: "{% translate 'Backup interval' %}", url: backup_settings_url },
            { category: "{% translate 'Backup' %}", title: "{% translate 'Backup folder path' %}", url: backup_settings_url },
            { category: "{% translate 'Backup' %}", title: "{% translate 'Gzip compression level used' %}", url: backup_settings_url },

            { category: "{% translate 'CSV export' %}", title: "{% translate 'Export day totals to CSV' %}", url: export_url },
            { category: "{% translate 'CSV export' %}", title: "{% translate 'Export hour totals to CSV' %}", url: export_url },
            { category: "{% translate 'CSV export' %}", title: "{% translate 'Export temperatures to CSV' %}", url: export_url },

            { category: "{% translate 'DSMR-reader API' %}", title: "{% translate 'Enable/disable API' %}", url: api_settings_url },
            { category: "{% translate 'DSMR-reader API' %}", title: "{% translate 'DSMR-reader API (auth key)' %}", url: api_settings_url },

            { category: "{% translate 'Dropbox integration' %}", title: "{% translate 'Dropbox integration for backups' %}", url: dropbox_settings_url },

            { category: "{% translate 'InfluxDB integration' %}", title: "{% translate 'InfluxDB integration' %}", url: influxdb_settings_url },
            { category: "{% translate 'InfluxDB integration' %}", title: "{% translate 'InfluxDB HTTP / HTTPS' %}", url: influxdb_settings_url },
            { category: "{% translate 'InfluxDB integration' %}", title: "{% translate 'InfluxDB username / password' %}", url: influxdb_settings_url },
            { category: "{% translate 'InfluxDB integration' %}", title: "{% translate 'InfluxDB measurement mapping' %}", url: influxdb_settings_url },

            { category: "{% translate 'MinderGas.nl integration' %}", title: "{% translate 'Link your MinderGas API account' %}", url: mindergas_settings_url },
            { category: "{% translate 'MinderGas.nl integration' %}", title: "{% translate 'Export to MinderGas API' %}", url: mindergas_settings_url },

            { category: "{% translate 'MQTT integration' %}", title: "{% translate 'Data sources' %}", url: mqtt_app_url },
            { category: "{% translate 'MQTT integration' %}", title: "{% translate 'Broker: host / port / SSL / TLS' %}", url: mqtt_broker_settings_url },

            { category: "{% translate 'Notification apps integration' %}", title: "{% translate 'App notifications' %}", url: notification_setting_url },
            { category: "{% translate 'Notification apps integration' %}", title: "{% translate 'Pushover app' %}", url: notification_setting_url },
            { category: "{% translate 'Notification apps integration' %}", title: "{% translate 'Prowl app' %}", url: notification_setting_url },
            { category: "{% translate 'Notification apps integration' %}", title: "{% translate 'Telegram (your bot)' %}", url: notification_setting_url },

            { category: "{% translate 'PVOutput.org integration' %}", title: "{% translate 'Link your PVOutput.org API account' %}", url: pvoutput_apisettings_url },
            { category: "{% translate 'PVOutput.org integration' %}", title: "{% translate 'PVOutput.org Add Status API' %}", url: pvoutput_addstatus_settings_url },
            { category: "{% translate 'PVOutput.org integration' %}", title: "{% translate 'PVOutput.org donator API options' %}", url: pvoutput_addstatus_settings_url },

            { category: "{% translate 'Buienradar integration' %}", title: "{% translate 'Buienradar API' %}", url: weather_settings_url },
        ];

        $(document).ready(function () {
            let categoryList = [];

            $.each(categoryContent, function(k, v){
                categoryList.push(v.category);
            });

            let suggestionHandle = $('#category-suggestions');
            $.unique(categoryList)
            $.each(categoryList, function(k ,v){
                suggestionHandle.append('<li><a href="#" data-text="' + v + '" class="suggestion">' + v + '</a></li>')
            })
            $('a.suggestion').click(function(e){
                $("#search").val(
                    $(this).attr('data-text')
                ).focus();
                return false;
            });

            $('.ui.search')
              .search({
                  searchDelay: 0,
                  maxResults: 25,
                  source: categoryContent,
                  type: 'category',
                  searchFields: [
                      'category',
                      'title'
                  ]
              })
            ;
        });
    </script>

{% endblock %}