[run]
data_file = coverage_report/.coverage
omit = 
    *django*
    *migrations*
    *xml*
    *polib*
    *serial*
    *solo*
    *dropbox*
    *requests*
    *urllib3*
    *six*
    *http/cookiejar*

[html]
directory = coverage_report
