[run]
branch = True
include = ./*

omit = ./*/__init__.py
  ./*/tests/*
  ./*/migrations/*
  ./dsmr_backend/mixins.py
  ./dsmr_plugins/modules/*
  ./dsmr_dropbox/dropboxinc/*
  ./dsmr_parser/*
  ./dsmrreader/config/*

[html]
directory = coverage_report/html