[flake8]
select = B,C,E,F,I,S,W
ignore = B902,B903,E501,B950,E203,S311,W503
exclude = .venv/*,docs/*,*/migrations/*,*/tests/*,dsmrreader/*,dsmr_plugins/modules/*,dsmr_parser/*
max-complexity = 10
max-line-length = 120
