/.pydevproject
/.project
/.idea
*.pyc
*/__pycache__
/dsmrreader/settings.py
/dsmrreader/settings.py.BACKUP
/coverage_report/
/backups/
/logs/
/.coverage
/dsmr_plugins/modules/
/Pipfile
/Pipfile.lock
/.env