{% extends 'admin/change_form.html' %}
{% load i18n %} 

{% block field_sets %}

    <div class="submit-row" style="text-align: center;">
        {% blocktrans %}Test your email settings with the button below.{% endblocktrans %}
        <small><a href="{% url 'admin:dsmr_backup_emailbackupsettings_change' 1 %}">
            {% blocktrans %}Optional: View your settings for sending backups by email here.{% endblocktrans %}
        </a></small>
        <br><br>
        <input type="submit" value="{% trans 'Send test email' %}" name="send_test_email">
    </div>

    {{ block.super }}

{% endblock %}