{% extends 'admin/change_form.html' %}
{% load i18n %} 

{% block field_sets %}

    <div class="submit-row" style="text-align: left; border-color: orangered;">
        {% blocktranslate %}Test your email settings with the button below.{% endblocktranslate %}
        <small><a href="{% url 'admin:dsmr_backup_emailbackupsettings_change' 1 %}">
            {% blocktranslate %}Optional: View your settings for sending backups by email here.{% endblocktranslate %}
        </a></small>
        <br><br>
        <input type="submit" value="{% translate 'Send test email' %}" name="send_test_email">
    </div>

    {{ block.super }}

{% endblock %}