[Unit]
Description=DMSR Web Interface
After=network.target

[Service]
Type=simple
User=dsmr
Group=dsmr
StandardOutput=null
StandardError=journal
Nice=15
WorkingDirectory=/home/dsmr/dsmr-reader/
PIDFile=/var/tmp/dsmrreader--dsmr_webinterface.pid
ExecStart=/home/dsmr/.virtualenvs/dsmrreader/bin/gunicorn --timeout 60 --max-requests 500 --bind unix:/var/tmp/gunicorn--dsmr_webinterface.socket --pid /var/tmp/gunicorn--dsmr_webinterface.pid dsmrreader.wsgi
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
