[Unit]
Description=DSMR Datalogger
After=network.target

[Service]
Type=simple
User=dsmr
Group=dsmr
StandardOutput=null
StandardError=journal
WorkingDirectory=/home/dsmr/dsmr-reader/
PIDFile=/tmp/dsmrreader--dsmr_datalogger.pid
ExecStart=/home/dsmr/dsmr-reader/.venv/bin/python3 -u /home/dsmr/dsmr-reader/manage.py dsmr_datalogger
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
