"""
    For advanced users only, override any other settings (unavailable as env var) by defining them at the end of this file.
"""
from dsmrreader.config.production import *


# Add any overrides below this line and restart/reload the application with: ./reload.sh
