{% extends "dsmr_frontend/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Archive" %}{% endblock %}
{% block header %}{% translate "Archive" %} &nbsp; <i class="fas fa-history"></i>{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
{% if not capabilities.any or not start_date or not end_date %}
    <div class="alert alert-warning" role="alert">
        <span class="fas fa-exclamation-triangle fa-2x"></span> &nbsp; {% blocktranslate %}No day statistics found yet. Usually you can find data here after the first day of running DSMR-reader.{% endblocktranslate %} <i class="fas fa-smile-wink"></i>
    </div>
{% endif %}

{% if capabilities.any and start_date and end_date %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel datepicker-panel">
                <header class="panel-heading centered-header">
                    {% blocktranslate %}Data selection{% endblocktranslate %}
                </header>
                <div class="panel-body archive-header-panel-body">
                    <div class="row">
                        <div class="col-lg-push-4 col-lg-4">
                            <div class="center-block centered-header">
                                <div class="italic">{% blocktranslate %}Select level of detail.{% endblocktranslate %}</div>

                                <span class="datepicker-level-icon">
                                    <span class="center-block datepicker-level-name">{% translate "Days" %}</span>
                                    <span class="sm-st-icon st-gray datepicker-trigger" id="datepicker_trigger_days"><i class="fas fa-calendar-check"></i></span>
                                </span>

                                &nbsp;&nbsp;&nbsp;

                                <span class="datepicker-level-icon">
                                    <span class="center-block datepicker-level-name">{% translate "Months" %}</span>
                                    <span class="sm-st-icon st-green datepicker-trigger" id="datepicker_trigger_months"><i class="fas fa-calendar-check"></i></span>
                                </span>

                                &nbsp;&nbsp;&nbsp;

                                <span class="datepicker-level-icon">
                                    <span class="center-block datepicker-level-name">{% translate "Years" %}</span>
                                    <span class="sm-st-icon st-gray datepicker-trigger" id="datepicker_trigger_years"><i class="fas fa-calendar-check"></i></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-push-4 col-lg-4">
                            <div class="center-block centered-header">
                                <div class="italic">{% blocktranslate %}Pick a day, month or year.{% endblocktranslate %}</div>
                                <div id="datepicker"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 datepicker-panel">
            <div id="summary-loader" class="xhr-hidden text-center"><i class="fas fa-spinner fa-pulse fa-3x fa-fw"></i></div>
            <div id="summary-holder"></div>
        </div>
    </div>

    <div class="row chart-holder">
        <div class="col-sm-12">
            <div class="panel">
                <header class="panel-heading">
                </header>
                <div class="panel-body">
                    {% if capabilities.electricity %}
                    <div id="echarts-electricity-graph" class="graph-canvas"></div>
                    {% endif %}

                    {% if capabilities.electricity_returned %}
                    <div id="echarts-electricity-returned-graph" class="graph-canvas"></div>
                    {% endif %}

                    {% if capabilities.gas %}
                    <div id="echarts-gas-graph" class="graph-canvas"></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
</section>
{% endblock %}

{% block stylesheets %}
{{ block.super }}
        <link href="{% static 'dsmr_frontend/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
	{{ block.super }}
	 
    <script type="text/javascript" src="{% static 'dsmr_frontend/js/echarts.common-5.2.1.min.js' %}"></script>

	{% get_current_language as LANGUAGE_CODE %}
	<script type="text/javascript" src="{% static 'dsmr_frontend/js/moment-with-locales-2.29.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dsmr_frontend/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dsmr_frontend/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.en-GB.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dsmr_frontend/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.nl.min.js' %}"></script>

    <script type="text/javascript">
        let echarts_electricity_graph = null;
        let echarts_electricity_returned_graph = null;
        let echarts_gas_graph = null;

        /* Translations. */
        const LOADING_OPTIONS = {text: '{% blocktranslate %}Loading...{% endblocktranslate %}'};
        const TEXT_ELECTRICITY_HEADER = '{% blocktranslate %}Electricity consumed{% endblocktranslate %} {S|kWh}';
        const TEXT_ELECTRICITY_RETURNED_HEADER = '{% blocktranslate %}Electricity returned{% endblocktranslate %} {S|kWh}';
        const TEXT_GAS_HEADER = '{% blocktranslate %}Gas consumed{% endblocktranslate %} {S|m³}';
        const TEXT_ELECTRICITY1_DELIVERED = '{{ frontend_settings.tariff_1_delivered_name|capfirst }}';
        const TEXT_ELECTRICITY2_DELIVERED = '{{ frontend_settings.tariff_2_delivered_name|capfirst }}';
        const TEXT_ELECTRICITY1_RETURNED = '{{ frontend_settings.tariff_1_returned_name|capfirst }}';
        const TEXT_ELECTRICITY2_RETURNED = '{{ frontend_settings.tariff_2_returned_name|capfirst }}';
        const TEXT_ELECTRICITY_MERGED_DELIVERED = '{% blocktranslate %}Electricity (total){% endblocktranslate %}';
        const TEXT_ELECTRICITY_MERGED_RETURNED = '{% blocktranslate %}Electricity returned (total){% endblocktranslate %}';
        const TEXT_GAS = '{% blocktranslate %}Gas{% endblocktranslate %}';
        
        /* Colors. */
        const ELECTRICITY_DELIVERED_COLOR = "{{ frontend_settings.electricity_delivered_color }}";
        const ELECTRICITY_DELIVERED_ALTERNATE_COLOR = "{{ frontend_settings.electricity_delivered_alternate_color }}";
        const ELECTRICITY_RETURNED_COLOR = "{{ frontend_settings.electricity_returned_color }}";
        const ELECTRICITY_RETURNED_ALTERNATE_COLOR = "{{ frontend_settings.electricity_returned_alternate_color }}";
        const GAS_DELIVERED_COLOR = "{{ frontend_settings.gas_delivered_color }}";
        
        /* Settings. */
        const DATEPICKER_START_DATE = "{{ start_date|date:datepicker_date_format }}";
        const DATEPICKER_END_DATE = "{{ end_date|date:datepicker_date_format }}";
        const DATEPICKER_LOCALE_FORMAT = "{{ datepicker_locale_format }}";
        const DATEPICKER_LANGUAGE_CODE = "{{ LANGUAGE_CODE }}";
        const GAS_GRAPH_STYLE = "{{ frontend_settings.gas_graph_style }}";
        const ELECTRICITY_GRAPH_STYLE = "{{ frontend_settings.electricity_graph_style }}";
        const STACK_ELECTRICITY_GRAPHS = {{ frontend_settings.stack_electricity_graphs|yesno:'true,false' }};

        let TEXTSTYLE_COLOR = '#333';
        if (document.body.classList.contains('dark-mode')) {
            TEXTSTYLE_COLOR = 'rgba(255, 255, 255, 0.6)';
        }

        const TITLE_TEXTSTYLE_OPTIONS = {
            color: TEXTSTYLE_COLOR,
            rich: {
                S: {
                    fontSize: 10,
                    color: 'grey'
                },
            }
        };
        const TOOLBOX_OPTIONS = {
            show: true,
            feature: {
                magicType: {
                    type: ['line', 'bar']
                },
                dataView: {}
            }
        };
        const ANIMATION_DELAY_OPTIONS = function (idx) {
            return idx * 10;
        };
        const TOOLTIP_OPTIONS = {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow',
                label: {
                    show: true
                }
            }
        };
        const GRID_OPTIONS = {
            top: '12%',
            left: '1%',
            right: '2%',
            containLabel: true
        };

        const ARCHIVE_XHR_SUMMARY_URL = "{% url 'frontend:archive-xhr-summary' %}";
        const ARCHIVE_XHR_GRAPHS_URL = "{% url 'frontend:archive-xhr-graphs' %}";
    </script>

    {% if capabilities.electricity %}
    <script type="text/javascript" src="{% static 'dsmr_frontend/js/dsmr-reader/archive/electricity.js' %}?r=v{{ dsmr_version }}"></script>
    {% endif %}

    {% if capabilities.electricity_returned %}
    <script type="text/javascript" src="{% static 'dsmr_frontend/js/dsmr-reader/archive/electricity-returned.js' %}?r=v{{ dsmr_version }}"></script>
    {% endif %}

    {% if capabilities.gas %}
    <script type="text/javascript" src="{% static 'dsmr_frontend/js/dsmr-reader/archive/gas.js' %}?r=v{{ dsmr_version }}"></script>
    {% endif %}

    <script type="text/javascript" src="{% static 'dsmr_frontend/js/dsmr-reader/archive/archive.js' %}?r=v{{ dsmr_version }}"></script>
{% endblock %}
