{% extends "dsmr_frontend/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load hex_to_rgb %}

{% block title %}{% trans "Archive" %}{% endblock %}
{% block header %}{% trans "Archive" %} &nbsp; <i class="fa fa-history"></i>{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
{% if not capabilities.any or not start_date or not end_date %}
    <div class="alert alert-danger" role="alert">
        <span class="fa fa-exclamation fa-2x"></span> {% blocktrans %}No data found. It can take up to one day before any data is visible here.{% endblocktrans %}
    </div>
{% endif %}

{% if capabilities.any and start_date and end_date %}
    <div class="row">
        <div class="col-md-4">
            <div class="panel">
                <header class="panel-heading">
                    {% blocktrans %}Select level of detail displayed{% endblocktrans %}
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 date-selector">
                            {% trans "Days" %} <br />
                            <span class="sm-st-icon st-grey datepicker-trigger" id="datepicker_trigger_days" style="cursor: pointer;"><i class="fa fa-calendar-check-o"></i></span>
                        </div>
                        <div class="col-md-4 date-selector">
                            {% trans "Months" %} <br />
                            <span class="sm-st-icon st-green datepicker-trigger" id="datepicker_trigger_months" style="cursor: pointer;"><i class="fa fa-calendar-check-o"></i></span>
                        </div>
                        <div class="col-md-4 date-selector">
                            {% trans "Years" %} <br />
                            <span class="sm-st-icon st-grey datepicker-trigger" id="datepicker_trigger_years" style="cursor: pointer;"><i class="fa fa-calendar-check-o"></i></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-10">
                            <div id="datepicker"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div id="summary-loader" class="xhr-hidden text-center"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
            <div id="summary-holder"></div>
        </div>
    </div>
    
    <div id="chart-loader" class="xhr-hidden text-center"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
    
    <div class="row xhr-hidden chart-holder" id="electricity-chart-holder">
        <div class="col-md-12">
            <div class="panel" style="padding-bottom: 24px;">
                <header class="panel-heading">
                    {% blocktrans %}Electricity usage{% endblocktrans %} {% trans "(in kWh)" %}
                </header>
                <div class="panel-body" style="height: 200px;">
                    <canvas id="electricity-chart"></canvas>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row xhr-hidden chart-holder" id="electricity-returned-chart-holder">
        <div class="col-md-12">
            <div class="panel" style="padding-bottom: 24px;">
                <header class="panel-heading">
                    {% blocktrans %}Electricity returned{% endblocktrans %} {% trans "(in kWh)" %}
                </header>
                <div class="panel-body" style="height: 200px;">
                    <canvas id="electricity-returned-chart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row xhr-hidden chart-holder" id="gas-chart-holder">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% blocktrans %}Gas usage{% endblocktrans %} {% trans "(in m<sup>3</sup>)" %}
                </header>
                <div class="panel-body" style="height: 200px;">
                	<canvas id="gas-chart"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endif %}
</section>
{% endblock %}

{% block stylesheets %}
{{ block.super }}
        <link href="{% static 'dsmr_frontend/css/bootstrap-datepicker/bootstrap-datepicker3.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
        {{ block.super }}
        {% get_current_language as LANGUAGE_CODE %}
        <script type="text/javascript" src="{% static 'dsmr_frontend/js/moment-2.17.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'dsmr_frontend/js/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'dsmr_frontend/js/bootstrap-datepicker/locales/bootstrap-datepicker.en.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'dsmr_frontend/js/bootstrap-datepicker/locales/bootstrap-datepicker.nl.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'dsmr_frontend/js/chartjs/Chart-2.4.0.min.js' %}"></script>

        <script type="text/javascript">
            var line_options = {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
            
            var g_chart_instances = {
	            electricity: undefined,
	            electricity_returned: undefined,
	            gas: undefined,
            }
            var g_datepicker_view_mode = 'days';
            
        	$(document).ready(function(){
                Chart.defaults.global.responsive = true;
                Chart.defaults.global.maintainAspectRatio = false;
        		Chart.defaults.global.animation = false;
        		
        		initialize_datepicker();
        		
        		$("#datepicker_trigger_days").click(function(){
        			g_datepicker_view_mode = 'days';
        			initialize_datepicker()
        		});
                
                $("#datepicker_trigger_months").click(function(){
                    g_datepicker_view_mode = 'months';
                    initialize_datepicker()
                });
                
                $("#datepicker_trigger_years").click(function(){
                    g_datepicker_view_mode = 'years';
                    initialize_datepicker()
                });
        	});
            
            /**
             * Resets the datepicker. Required because options cannot be changed dynamically.
             */
            function initialize_datepicker()
            {
            	$('.datepicker-trigger').removeClass('st-green').addClass('st-gray');
            	$('#datepicker_trigger_' + g_datepicker_view_mode).removeClass('st-gray').addClass('st-green');
            	
            	if ($('#datepicker').children().length > 0) 
            	{
            		$('#datepicker').datepicker('remove');
            	}
            	
                $('#datepicker').datepicker({
                    startView: g_datepicker_view_mode,
                    minViewMode: g_datepicker_view_mode,
                    maxViewMode: 'years',
                    calendarWeeks: true,
                    todayHighlight: true,
                    startDate: '{{ start_date|date:datepicker_date_format }}',
                    endDate: '{{ end_date|date:datepicker_date_format }}',
                    format: "{{ datepicker_locale_format }}",
                    language: "{{ LANGUAGE_CODE }}"
                }).on('changeDate', function(e) {
                    if (g_datepicker_view_mode != 'days')
                    {
                        return;
                    }
                    update_view(e.date);
                    
                }).on('changeMonth', function(e) {
                    if (g_datepicker_view_mode != 'months')
                    {
                        return;
                    }
                    update_view(e.date);
                    
                }).on('changeYear', function(e) {
                    if (g_datepicker_view_mode != 'years')
                    {
                        return;
                    }
                    update_view(e.date);
                    
                }).datepicker('update', '{{ end_date|date:datepicker_date_format }}');
                
                update_view($('#datepicker').datepicker('getDate'));
            }
            
            /**
             * Shortcut for updating both XHR views.
             */
            function update_view(selected_date)
            {
                update_summary(selected_date);
                update_graphs(selected_date);
            }
            
            /**
             * Updates the upper view, which is the summary table.
             */
            function update_summary(selected_date)
            {
            	$("#summary-loader").show();
            	$("#summary-holder").hide();
            	
                $.ajax({
                    url: "{% url 'frontend:archive-xhr-summary' %}",
                    data: {
                        'date': moment(selected_date).format('{{ datepicker_locale_format }}'.toUpperCase()),
                        'level': g_datepicker_view_mode
                    },
                }).done(function(data) {
                	$("#summary-loader").hide();
                    $("#summary-holder").html(data).show();
                });
            }
            
            /**
             * Updates the lower view, which are the graphs displayed.
             */
            function update_graphs(selected_date)
            {
            	$("#chart-loader").show();
            	$(".chart-holder").hide();
            	
                $.ajax({
                    url: "{% url 'frontend:archive-xhr-graphs' %}",
                    dataType: "json",
                    data: {
                        'date': moment(selected_date).format('{{ datepicker_locale_format }}'.toUpperCase()),
                        'level': g_datepicker_view_mode
                    },
                }).done(function(response) {
                    $("#chart-loader").hide();
                	
                    var charts = response.charts;
                	
                    if (charts.electricity)
                    {
                    	render_chart(
                    		'electricity',
                    		"#electricity-chart-holder",
                    		"#electricity-chart",
                    		charts.electricity
                    	);
                    }
                    
                    if (charts.electricity_returned)
                    {
                        render_chart(
                       		'electricity_returned',
                            "#electricity-returned-chart-holder",
                            "#electricity-returned-chart",
                            charts.electricity_returned
                        );
                    }
                	
                    if (charts.gas)
                   	{
                        render_chart(
                       		'gas',
                            "#gas-chart-holder",
                            "#gas-chart",
                            charts.gas
                        );
                   	}
                });
            }
            
            function render_chart(global_instance_key, holder_id, chart_id, chart_info)
            {
                var data = {
                    labels: chart_info.labels,
                    datasets: chart_info.datasets
                };
                
                if (g_chart_instances[global_instance_key])
                {
                	g_chart_instances[global_instance_key].destroy();
                }

                $(holder_id).show();

                var ctx = $(chart_id).get(0).getContext("2d");
                ctx.canvas.height = $(chart_id).parent().height();
                g_chart_instances[global_instance_key] = new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: line_options
                });
            }           

            </script>
{% endblock %}