{% extends "dsmr_frontend/base.html" %}
{% load humanize %} 
{% load static %} 
{% load i18n %}

{% block title %}{% trans "Compare" %}{% endblock %}
{% block header %}{% trans "Compare" %} &nbsp; <i class="fa fa-balance-scale"></i>{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
{% if not capabilities.any %}
    <div class="alert alert-danger" role="alert">
        <span class="fa fa-exclamation fa-2x"></span> {% blocktrans %}No data found. Please make sure the datalogger is up and running and the backend process is running as well.{% endblocktrans %}
    </div>
{% endif %}

{% if capabilities.any and start_date and end_date %}
    <div class="row">
        <div class="col-md-4">
            <div class="panel">
                <header class="panel-heading">
                    {% blocktrans %}Select level of detail displayed{% endblocktrans %}
                </header>
                <div class="panel-body">
                    <div class="row">
	                    <div class="col-md-4">
	                        {% trans "Days" %} <br />
	                        <span class="sm-st-icon st-grey datepicker-trigger" id="datepicker_trigger_days" style="cursor: pointer;"><i class="fa fa-calendar-check-o"></i></span>
	                    </div>
	                    <div class="col-md-4">
	                        {% trans "Months" %} <br />
	                        <span class="sm-st-icon st-green datepicker-trigger" id="datepicker_trigger_months" style="cursor: pointer;"><i class="fa fa-calendar-check-o"></i></span>
	                    </div>
	                    <div class="col-md-4">
	                        {% trans "Years" %} <br />
	                        <span class="sm-st-icon st-grey datepicker-trigger" id="datepicker_trigger_years" style="cursor: pointer;"><i class="fa fa-calendar-check-o"></i></span>
	                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="panel">
                <header class="panel-heading">
                    {% blocktrans %}Base selection{% endblocktrans %}
                </header>
                <div class="panel-body">
                    <div id="datepicker1"></div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="panel">
                <header class="panel-heading">
                    {% blocktrans %}Compare with selection{% endblocktrans %}
                </header>
                <div class="panel-body">
                    <div id="datepicker2"></div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-md-12" id="summary-holder1"></div>
    </div>   
    
    <div class="row">
        <div class="col-md-12" id="summary-holder2"></div>
    </div>   


    <div class="row" id="electricity-chart-holder" style="display: none;">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% blocktrans %}Electricity usage{% endblocktrans %} {% trans "(in kWh)" %}
                </header>
                <div class="panel-body" style="height: 200px;">
                    <canvas id="electricity-chart1"></canvas>
                    <div id="electricity-chart-legend1"></div>
                </div>
                <div class="panel-body" style="height: 200px;">
                    <canvas id="electricity-chart2"></canvas>
                    <div id="electricity-chart-legend2"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row" id="electricity-returned-chart-holder" style="display: none;">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% blocktrans %}Electricity returned{% endblocktrans %} {% trans "(in kWh)" %}
                </header>
                 <div class="panel-body" style="height: 200px;">
                    <canvas id="electricity-returned-chart1"></canvas>
                    <div id="electricity-returned-chart-legend1"></div>
                </div>
                <div class="panel-body" style="height: 200px;">
                    <canvas id="electricity-returned-chart2"></canvas>
                    <div id="electricity-returned-chart-legend2"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="gas-chart-holder" style="display: none;">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% blocktrans %}Gas usage{% endblocktrans %} {% trans "(in m<sup>3</sup>)" %}
                </header>
                <div class="panel-body" style="height: 200px;">
                    <canvas id="gas-chart1"></canvas>
                </div>
                <div class="panel-body" style="height: 200px;">
                    <canvas id="gas-chart2"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endif %}
</section>
{% endblock %}

{% block stylesheets %}
{{ block.super }}
        <link href="{% static 'dsmr_frontend/css/bootstrap-datepicker/bootstrap-datepicker3.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
        {{ block.super }}
        {% get_current_language as LANGUAGE_CODE %}
        <script type="text/javascript" src="{% static 'dsmr_frontend/js/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'dsmr_frontend/js/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'dsmr_frontend/js/bootstrap-datepicker/locales/bootstrap-datepicker.en.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'dsmr_frontend/js/bootstrap-datepicker/locales/bootstrap-datepicker.nl.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'dsmr_frontend/js/chartjs/Chart.min.js' %}"></script>

        <script type="text/javascript">
            var line_options = {
                /* Not available globally, but it fixes duplicate tooltips being triggered by x-axis data points close to each other. */
                pointHitDetectionRadius: 5,
                pointDotRadius: 2.5,
                
                {% verbatim %}
                legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li style=\"display: inline; margin-right: 24px; font-weight: bold;\"><span style=\"color:<%=datasets[i].strokeColor%>\"><%if(datasets[i].label){%><%=datasets[i].label%><%}%></span></li><%}%></ul>"
                {% endverbatim %}
            }
            var g_electricity_chart_instance1 = undefined;
            var g_electricity_chart_instance2 = undefined;
            var g_electricity_returned_chart_instance1 = undefined;
            var g_electricity_returned_chart_instance2 = undefined;
            var g_gas_chart_instance1 = undefined;
            var g_gas_chart_instance2 = undefined;
            
            var g_datepicker_view_mode = 'months';
            
            $(document).ready(function(){
                Chart.defaults.global.responsive = true;
                Chart.defaults.global.maintainAspectRatio = false;
                Chart.defaults.global.animation = false;
                
                initialize_datepicker('1');
                initialize_datepicker('2');
                
                $("#datepicker_trigger_days").click(function(){
                    g_datepicker_view_mode = 'days';
                    initialize_datepicker('1')
                    initialize_datepicker('2')
                });
                
                $("#datepicker_trigger_months").click(function(){
                    g_datepicker_view_mode = 'months';
                    initialize_datepicker('1')
                    initialize_datepicker('2')
                });
                
                $("#datepicker_trigger_years").click(function(){
                    g_datepicker_view_mode = 'years';
                    initialize_datepicker('1')
                    initialize_datepicker('2')
                });
            });
            
            /**
             * Resets the datepicker. Required because options cannot be changed dynamically.
             */
            function initialize_datepicker(id_postfix)
            {
                $('.datepicker-trigger').removeClass('st-green').addClass('st-gray');
                $('#datepicker_trigger_' + g_datepicker_view_mode).removeClass('st-gray').addClass('st-green');
                
                if ($('#datepicker' + id_postfix).children().length > 0) 
                {
                    $('#datepicker' + id_postfix).datepicker('remove');
                }
                
                $('#datepicker' + id_postfix).datepicker({
                    startView: g_datepicker_view_mode,
                    minViewMode: g_datepicker_view_mode,
                    maxViewMode: 'years',
                    calendarWeeks: true,
                    todayHighlight: true,
                    startDate: '{{ start_date|date:datepicker_date_format }}',
                    endDate: '{{ end_date|date:datepicker_date_format }}',
                    format: "{{ datepicker_locale_format }}",
                    language: "{{ LANGUAGE_CODE }}"
                }).on('changeDate', function(e) {
                    if (g_datepicker_view_mode != 'days')
                    {
                        return;
                    }
                    update_view(e.date, id_postfix);
                    
                }).on('changeMonth', function(e) {
                    if (g_datepicker_view_mode != 'months')
                    {
                        return;
                    }
                    update_view(e.date, id_postfix);
                    
                }).on('changeYear', function(e) {
                    if (g_datepicker_view_mode != 'years')
                    {
                        return;
                    }
                    update_view(e.date, id_postfix);
                    
                });
            }
            
            /**
             * Shortcut for updating both XHR views.
             */
            function update_view(selected_date, id_postfix)
            {
                update_summary(selected_date, id_postfix);
                update_graphs(selected_date, id_postfix);
            }
            
            /**
             * Updates the upper view, which is the summary table.
             */
            function update_summary(selected_date, id_postfix)
            {
                $.ajax({
                    url: "{% url 'frontend:archive-xhr-summary' %}",
                    data: {
                        'date': moment(selected_date).format('{{ datepicker_locale_format }}'.toUpperCase()),
                        'level': g_datepicker_view_mode
                    },
                }).done(function(data) {
                    $("#summary-holder" + id_postfix).html(data);
                });
            }
            
            /**
             * Updates the lower view, which are the graphs displayed.
             */
            function update_graphs(selected_date, id_postfix)
            {
                $.ajax({
                    url: "{% url 'frontend:archive-xhr-graphs' %}",
                    dataType: "json",
                    data: {
                        'date': moment(selected_date).format('{{ datepicker_locale_format }}'.toUpperCase()),
                        'level': g_datepicker_view_mode
                    },
                }).done(function(response) {
                    var capabilities = response.capabilities;
                    var data = response.data;
                    
                    if (capabilities.electricity)
                    {
                        render_electricity_chart(
                        	data.x,
                        	data.electricity1,
                        	data.electricity2,
                        	id_postfix
                        );
                    }
                    
                    if (capabilities.electricity_returned)
                    {
                        render_electricity_returned_chart(
                       		data.x,
                       		data.electricity1_returned,
                       		data.electricity2_returned,
                       		id_postfix
                     	);
                    }

                    if (capabilities.gas)
                    {
                        render_gas_chart(
                        	data.x,
                        	data.gas,
                        	id_postfix
                        );
                    }
                });
            }
            
            function render_electricity_chart(labels, electricity1, electricity2, id_postfix)
            {
                var data = {
                    labels: labels,
                    datasets: [{
                        data: electricity1,
                        label: "{% trans 'Electricity 1 (low tariff)' %}",                        
                        fillColor: "rgba(160,0,0,0.1)",
                        strokeColor: "rgba(160,0,0,1)",
                        pointColor: "rgba(160,0,0,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(255,0,0,1)"
                    }, {
                        data: electricity2,
                        label: "{% trans 'Electricity 2 (high tariff)' %}",                        
                        fillColor: "rgba(255,0,0,0.1)",
                        strokeColor: "rgba(255,0,0,1)",
                        pointColor: "rgba(255,0,0,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(255,0,0,1)"
                    }]
                };
                
                if (window['g_electricity_chart_instance' + id_postfix])
                {
                    window['g_electricity_chart_instance' + id_postfix].destroy();
                }

                $("#electricity-chart-holder").show();
                
                var ctx = $("#electricity-chart" + id_postfix).get(0).getContext("2d");
                ctx.canvas.height = $("#electricity-chart" + id_postfix).parent().height();
                window['g_electricity_chart_instance' + id_postfix] = new Chart(ctx).Line(data, line_options);
                $("#electricity-chart-legend" + id_postfix).html(window['g_electricity_chart_instance' + id_postfix].generateLegend());
            }
                
            function render_electricity_returned_chart(labels, electricity1_returned, electricity2_returned, id_postfix)
            {
                var data = {
                    labels: labels,
                    datasets: [{
                        data: electricity1_returned,
                        label: "{% trans 'Electricity 1 returned (low tariff)' %}",                       
                        fillColor: "rgba(200,200,100,0.1)",
                        strokeColor: "rgba(200,200,100,1)",
                        pointColor: "rgba(200,200,100,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(200,200,100,1)"
                    }, {
                        data: electricity2_returned,
                        label: "{% trans 'Electricity 1 returned (high tariff)' %}",                       
                        fillColor: "rgba(39,194,76,0.1)",
                        strokeColor: "rgba(39,194,76,1)",
                        pointColor: "rgba(39,194,76,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(39,194,76,1)"
                    }]
                };
                     
                if (window['g_electricity_returned_chart_instance' + id_postfix])
                {
                    window['g_electricity_returned_chart_instance' + id_postfix].destroy();
                }
                
                $("#electricity-returned-chart-holder").show();

                var ctx = $("#electricity-returned-chart" + id_postfix).get(0).getContext("2d");
                ctx.canvas.height = $("#electricity-returned-chart" + id_postfix).parent().height();
                window['g_electricity_returned_chart_instance' + id_postfix] = new Chart(ctx).Line(data, line_options);
                $("#electricity-returned-chart-legend" + id_postfix).html(window['g_electricity_returned_chart_instance' + id_postfix].generateLegend());
            }
            
            function render_gas_chart(labels, gas, id_postfix)
            {
                var data = {
                    labels: labels,
                    datasets: [{
                        data: gas,
                        label: "{% trans 'Gas' %}",                       
                        fillColor: "rgba(250,133,0,0.1)",
                        strokeColor: "rgba(250,133,0,1)",
                        pointColor: "rgba(250,133,0,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(150,150,150,1)"
                    }]
                };
                
                if (window['g_gas_chart_instance' + id_postfix])
                {
                    window['g_gas_chart_instance' + id_postfix].destroy();
                }

                $("#gas-chart-holder").show();

                var ctx = $("#gas-chart" + id_postfix).show().get(0).getContext("2d");
                ctx.canvas.height = $("#gas-chart" + id_postfix).parent().height();
                window['g_gas_chart_instance' + id_postfix] = new Chart(ctx).Line(data, line_options);
            }
        </script>
{% endblock %}