{% extends "dsmr_frontend/base.html" %}
{% load humanize %} 
{% load static %} 
{% load i18n %}

{% block title %}{% translate "Configuration" %}{% endblock %}
{% block header %}{% translate "Configuration" %} &nbsp; <i class="fas fa-wrench"></i>{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content search-section">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <header class="panel-heading">
                    {% translate "Search for a topic or setting" %}
                </header>
                <div class="panel-body">
                    <div class="ui search">
                        <div class="ui icon input">
                            <input id="search" class="prompt" type="text" placeholder="{% translate "Type here to search..." %}">
                        </div>

                        &nbsp; &nbsp; <a class="btn btn-sm btn-primary" href="{% url 'admin:index' %}"><i class="fas fa-external-link-alt"></i> {% translate "Skip search and go directly to admin" %}</a>

                        <div class="results"></div>
                    </div>

                    <small>{% translate "Click a topic below to display a pop-up with more details to choose from." %}</small>
                    <ul id="category-suggestions"></ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link href="{% static 'dsmr_frontend/semantic-2.4/semantic.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'dsmr_frontend/semantic-2.4/semantic.min.js' %}"></script>

    <script>
        var api_settings_url = '{% url "admin:dsmr_api_apisettings_change" api_settings.pk %}';
        var backend_settings_url = '{% url "admin:dsmr_backend_backendsettings_change" backend_settings.pk %}';
        var backup_settings_url = '{% url "admin:dsmr_backup_backupsettings_change" backup_settings.pk %}';
        var consumption_settings_url = '{% url "admin:dsmr_consumption_consumptionsettings_change" consumption_settings.pk %}';
        var datalogger_settings_url = '{% url "admin:dsmr_datalogger_dataloggersettings_change" datalogger_settings.pk %}';
        var dropbox_settings_url = '{% url "admin:dsmr_backup_dropboxsettings_change" dropbox_settings.pk %}';
        var day_statistics_url = '{% url "admin:dsmr_stats_daystatistics_changelist" %}';
        var hour_statistics_url = '{% url "admin:dsmr_stats_hourstatistics_changelist" %}';
        var email_settings_url = '{% url "admin:dsmr_backend_emailsettings_change" email_settings.pk %}';
        var energy_supplier_price_url = '{% url "admin:dsmr_consumption_energysupplierprice_changelist" %}';
        var export_url = '{% url "frontend:export" %}';
        var frontend_settings_url = '{% url "admin:dsmr_frontend_frontendsettings_change" frontend_settings.pk %}';
        var frontend_sortedgraphs_sort_url = '{% url "admin:dsmr_frontend_sortedgraph_sort" %}';
        var influxdb_settings_url = '{% url "admin:dsmr_influxdb_influxdbintegrationsettings_change" influxdb_settings.pk %}';
        var meter_statistics_url = '{% url "admin:dsmr_datalogger_meterstatistics_changelist" %}';
        var mindergas_settings_url = '{% url "admin:dsmr_mindergas_mindergassettings_change" mindergas_settings.pk %}';
        var mqtt_broker_settings_url = '{% url "admin:dsmr_mqtt_mqttbrokersettings_change" mqtt_broker_settings.pk %}';
        var mqtt_jsondaytotals_settings_url = '{% url "admin:dsmr_mqtt_jsondaytotalsmqttsettings_change" mqtt_jsondaytotals_settings.pk %}';
        var mqtt_splittopicdaytotals_settings_url = '{% url "admin:dsmr_mqtt_splittopicdaytotalsmqttsettings_change" mqtt_splittopicdaytotals_settings.pk %}';
        var mqtt_jsongasconsumption_settings_url = '{% url "admin:dsmr_mqtt_jsongasconsumptionmqttsettings_change" mqtt_jsongasconsumption_settings.pk %}';
        var mqtt_splittopicgasconsumption_settings_url = '{% url "admin:dsmr_mqtt_splittopicgasconsumptionmqttsettings_change" mqtt_splittopicgasconsumption_settings.pk %}';
        var mqtt_jsontelegram_settings_url = '{% url "admin:dsmr_mqtt_jsontelegrammqttsettings_change" mqtt_jsontelegram_settings.pk %}';
        var mqtt_rawtelegram_settings_url = '{% url "admin:dsmr_mqtt_rawtelegrammqttsettings_change" mqtt_rawtelegram_settings.pk %}';
        var mqtt_splittopictelegram_settings_url = '{% url "admin:dsmr_mqtt_splittopictelegrammqttsettings_change" mqtt_splittopictelegram_settings.pk %}';
        var mqtt_splittopicmeterstatistics_settings_url = '{% url "admin:dsmr_mqtt_splittopicmeterstatisticsmqttsettings_change" mqtt_splittopicmeterstatistics_settings.pk %}';
        var notification_setting_url = '{% url "admin:dsmr_notification_notificationsetting_change" notification_settings.pk %}';
        var pvoutput_apisettings_url = '{% url "admin:dsmr_pvoutput_pvoutputapisettings_change" pvoutput_api_settings.pk %}';
        var pvoutput_addstatus_settings_url = '{% url "admin:dsmr_pvoutput_pvoutputaddstatussettings_change" pvoutput_addstatus_settings.pk %}';
        var retention_settings_url = '{% url "admin:dsmr_datalogger_retentionsettings_change" retention_settings.pk %}';
        var weather_settings_url = '{% url "admin:dsmr_weather_weathersettings_change" weather_settings.pk %}';

        var categoryContent = [
            { category: "{% translate 'API' %}", title: "{% translate 'DSMR-reader API (key)' %}", url: api_settings_url },

            { category: "{% translate 'Backend' %}", title: "{% translate 'Backend process sleep' %}", url: backend_settings_url },
            { category: "{% translate 'Backend' %}", title: "{% translate 'Language' %}", url: backend_settings_url },
            { category: "{% translate 'Backend' %}", title: "{% translate 'Check for updates' %}", url: backend_settings_url },
            { category: "{% translate 'Backend' %}", title: "{% translate 'Hide electricity return graphs' %}", url: backend_settings_url },
            { category: "{% translate 'Backend' %}", title: "{% translate 'Hide gas graphs' %}", url: backend_settings_url },

            { category: "{% translate 'Backup' %}", title: "{% translate 'Daily backup settings' %}", url: backup_settings_url },
            { category: "{% translate 'Backup' %}", title: "{% translate 'Folder to backup to' %}", url: backup_settings_url },
            { category: "{% translate 'Backup' %}", title: "{% translate 'Gzip compression level used' %}", url: backup_settings_url },

            { category: "{% translate 'Consumption' %}", title: "{% translate 'Group electricity by reading' %}", url: consumption_settings_url },
            { category: "{% translate 'Consumption' %}", title: "{% translate 'Group electricity by minute' %}", url: consumption_settings_url },
            { category: "{% translate 'Consumption' %}", title: "{% translate 'Group gas by hour' %}", url: consumption_settings_url },

            { category: "{% translate 'Datalogger' %}", title: "{% translate 'Datalogger process sleep' %}", url: datalogger_settings_url },
            { category: "{% translate 'Datalogger' %}", title: "{% translate 'Serial port' %}", url: datalogger_settings_url },
            { category: "{% translate 'Datalogger' %}", title: "{% translate 'Network socket / port' %}", url: datalogger_settings_url },
            { category: "{% translate 'Datalogger' %}", title: "{% translate 'DSMR version (telegram parser)' %}", url: datalogger_settings_url },
            { category: "{% translate 'Datalogger' %}", title: "{% translate 'Smarty meter' %}", url: datalogger_settings_url },
            { category: "{% translate 'Datalogger' %}", title: "{% translate 'Fluvius meter' %}", url: datalogger_settings_url },

            { category: "{% translate 'Dropbox' %}", title: "{% translate 'Dropbox integration for backups' %}", url: dropbox_settings_url },

            { category: "{% translate 'Email' %}", title: "{% translate 'Outgoing email' %}", url: email_settings_url },

            { category: "{% translate 'Energy supplier prices' %}", title: "{% translate 'Energy supplier price contracts' %}", url: energy_supplier_price_url },
            { category: "{% translate 'Energy supplier prices' %}", title: "{% translate 'Gas price/costs' %}", url: energy_supplier_price_url },
            { category: "{% translate 'Energy supplier prices' %}", title: "{% translate 'Electricity price/costs' %}", url: energy_supplier_price_url },

            { category: "{% translate 'Export' %}", title: "{% translate 'Export day totals to CSV' %}", url: export_url },
            { category: "{% translate 'Export' %}", title: "{% translate 'Export hour totals to CSV' %}", url: export_url },
            { category: "{% translate 'Export' %}", title: "{% translate 'Export temperatures to CSV' %}", url: export_url },

            { category: "{% translate 'Frontend' %}", title: "{% translate 'Force password login everywhere' %}", url: frontend_settings_url },
            { category: "{% translate 'Frontend' %}", title: "{% translate 'Merge tariffs' %}", url: frontend_settings_url },
            { category: "{% translate 'Frontend' %}", title: "{% translate 'Tariff names' %}", url: frontend_settings_url },
            { category: "{% translate 'Frontend' %}", title: "{% translate 'Graph line/bar colors' %}", url: frontend_settings_url },
            { category: "{% translate 'Frontend' %}", title: "{% translate 'Graph sorting/order' %}", url: frontend_sortedgraphs_sort_url },

            { category: "{% translate 'InfluxDB' %}", title: "{% translate 'InfluxDB integration' %}", url: influxdb_settings_url },
            { category: "{% translate 'InfluxDB' %}", title: "{% translate 'InfluxDB HTTP / HTTPS' %}", url: influxdb_settings_url },
            { category: "{% translate 'InfluxDB' %}", title: "{% translate 'InfluxDB username / password' %}", url: influxdb_settings_url },
            { category: "{% translate 'InfluxDB' %}", title: "{% translate 'InfluxDB measurement mapping' %}", url: influxdb_settings_url },

            { category: "{% translate 'Meter statistics' %}", title: "{% translate 'Meter statistics overview' %}", url: meter_statistics_url },
            { category: "{% translate 'Meter statistics' %}", title: "{% translate 'Latest telegram read' %}", url: meter_statistics_url },

            { category: "{% translate 'Mindergas.nl' %}", title: "{% translate 'Link your MinderGas account' %}", url: mindergas_settings_url },
            { category: "{% translate 'Mindergas.nl' %}", title: "{% translate 'Export to MinderGas' %}", url: mindergas_settings_url },

            { category: "{% translate 'MQTT' %}", title: "{% translate 'Quality of service / QoS' %}", url: mqtt_broker_settings_url },
            { category: "{% translate 'MQTT' %}", title: "{% translate 'Broker port / SSL / TLS' %}", url: mqtt_broker_settings_url },
            { category: "{% translate 'MQTT' %}", title: "{% translate 'Keep reconnecting' %}", url: mqtt_broker_settings_url },
            { category: "{% translate 'MQTT' %}", title: "{% translate 'JSON day totals' %}", url: mqtt_jsondaytotals_settings_url },
            { category: "{% translate 'MQTT' %}", title: "{% translate 'Split topic day totals' %}", url: mqtt_splittopicdaytotals_settings_url },
            { category: "{% translate 'MQTT' %}", title: "{% translate 'JSON gas consumption' %}", url: mqtt_jsongasconsumption_settings_url },
            { category: "{% translate 'MQTT' %}", title: "{% translate 'Split topic gas consumption' %}", url: mqtt_splittopicgasconsumption_settings_url },
            { category: "{% translate 'MQTT' %}", title: "{% translate 'JSON telegram' %}", url: mqtt_jsontelegram_settings_url },
            { category: "{% translate 'MQTT' %}", title: "{% translate 'Voltage (JSON)' %}", url: mqtt_jsontelegram_settings_url },
            { category: "{% translate 'MQTT' %}", title: "{% translate 'Ampere (JSON)' %}", url: mqtt_jsontelegram_settings_url },
            { category: "{% translate 'MQTT' %}", title: "{% translate 'Raw telegram' %}", url: mqtt_rawtelegram_settings_url },
            { category: "{% translate 'MQTT' %}", title: "{% translate 'Split topic telegram' %}", url: mqtt_splittopictelegram_settings_url },
            { category: "{% translate 'MQTT' %}", title: "{% translate 'Split topic meter statistics' %}", url: mqtt_splittopicmeterstatistics_settings_url },
            { category: "{% translate 'MQTT' %}", title: "{% translate 'Voltage (split topic)' %}", url: mqtt_splittopictelegram_settings_url },
            { category: "{% translate 'MQTT' %}", title: "{% translate 'Ampere (split topic)' %}", url: mqtt_splittopictelegram_settings_url },

            { category: "{% translate 'Notifications' %}", title: "{% translate 'App notifications' %}", url: notification_setting_url },
            { category: "{% translate 'Notifications' %}", title: "{% translate 'Pushover app' %}", url: notification_setting_url },
            { category: "{% translate 'Notifications' %}", title: "{% translate 'Prowl app' %}", url: notification_setting_url },
            { category: "{% translate 'Notifications' %}", title: "{% translate 'Telegram (your bot)' %}", url: notification_setting_url },

            { category: "{% translate 'PVOutput.org' %}", title: "{% translate 'Link your PVOutput.org account' %}", url: pvoutput_apisettings_url },
            { category: "{% translate 'PVOutput.org' %}", title: "{% translate 'PVOutput.org Add Status' %}", url: pvoutput_addstatus_settings_url },
            { category: "{% translate 'PVOutput.org' %}", title: "{% translate 'PVOutput.org donator options' %}", url: pvoutput_addstatus_settings_url },

            { category: "{% translate 'Retention' %}", title: "{% translate 'Clean up reading' %}", url: retention_settings_url },
            { category: "{% translate 'Retention' %}", title: "{% translate 'Apply retention' %}", url: retention_settings_url },
            { category: "{% translate 'Retention' %}", title: "{% translate 'Periodically delete data' %}", url: retention_settings_url },

            { category: "{% translate 'Statistics' %}", title: "{% translate 'Day statistics' %}", url: day_statistics_url },
            { category: "{% translate 'Statistics' %}", title: "{% translate 'Hour statistics' %}", url: hour_statistics_url },

            { category: "{% translate 'Weather' %}", title: "{% translate 'Keep track of outside temperatures' %}", url: weather_settings_url },
            { category: "{% translate 'Weather' %}", title: "{% translate 'Buienradar API' %}", url: weather_settings_url },
        ];

        $(document).ready(function () {
            let categoryList = [];

            $.each(categoryContent, function(k, v){
                categoryList.push(v.category);
            });

            let suggestionHandle = $('#category-suggestions');
            $.unique(categoryList)
            $.each(categoryList, function(k ,v){
                suggestionHandle.append('<li><a href="#" data-text="' + v + '" class="suggestion">' + v + '</a></li>')
            })
            $('a.suggestion').click(function(e){
                $("#search").val(
                    $(this).attr('data-text')
                ).focus();
                return false;
            });

            $('.ui.search')
              .search({
                  searchDelay: 0,
                  maxResults: 25,
                  source: categoryContent,
                  type: 'category',
                  searchFields: [
                      'category',
                      'title'
                  ]
              })
            ;
        });
    </script>

{% endblock %}