{% extends "dsmr_frontend/base.html" %}
{% load humanize %} 
{% load static %} 
{% load i18n %}
{% load model_meta_info %}

{% block title %}{% trans "Configuration" %}{% endblock %}
{% block header %}{% trans "Configuration" %} &nbsp; <i class="fa fa-cogs"></i>{% endblock %}

{% block header_right %}
    <li>
        <a href="{% url 'admin:index' %}" class="btn btn-primary" style="color: #fff;">
            <i class="fa fa-cogs"></i> &nbsp; {% trans "View all settings" %}
        </a>
    </li>
{% endblock %}

{% block content %}
<section class="content">
	<div id="rootwizard" class="tabbable tabs-left">
	   <div class="panel">
		   <div class="panel-body">
			    <ul>
			        <li><a href="#tab-datalogger" data-toggle="tab"><i class="fa fa-plug"></i> &nbsp; {{ datalogger_settings }}</a></li>
			        <li><a href="#tab-backup" data-toggle="tab"><i class="fa fa-floppy-o"></i> &nbsp; {{ backup_settings }}</a></li>
			        <li><a href="#tab-dropbox" data-toggle="tab"><i class="fa fa-dropbox"></i> &nbsp; {{ dropbox_settings }}</a></li>
			        <li><a href="#tab-consumption" data-toggle="tab"><i class="fa fa-compress"></i> &nbsp; {{ consumption_settings }}</a></li>
			        <li><a href="#tab-frontend" data-toggle="tab"><i class="fa fa-television"></i> &nbsp; {{ frontend_settings }}</a></li>
			        <li><a href="#tab-weather" data-toggle="tab"><i class="fa fa-sun-o"></i> &nbsp; {{ weather_settings }}</a></li>
		            <li><a href="#tab-api" data-toggle="tab"><i class="fa fa-exchange"></i> &nbsp; {{ api_settings }}</a></li>
		            <li><a href="#tab-mindergas" data-toggle="tab"><i class="fa fa-fire"></i> &nbsp; {{ mindergas_settings }}</a></li>
			    </ul>
		    </div> 
	    </div>
	    
	    <div class="tab-content">
	        <div class="tab-pane" id="tab-datalogger">
	            <div class="panel">
	                <header class="panel-heading">
	                    {{ datalogger_settings }}
	                </header>
	                <div class="panel-body">
	                    <div class="row">
	                        <div class="col-md-12">
		                        <a href="{% url 'admin:dsmr_datalogger_dataloggersettings_change' datalogger_settings.pk %}" class="btn btn-primary">
		                           <i class="fa fa-pencil-square-o"></i> &nbsp; {% trans "Edit" %} {{ datalogger_settings|lower }}
		                        </a>
	                        </div>
                        </div>

                        <br />

	                    <table class="table table-condensed">
	                        <tr>
	                            <th class="col-md-3">{% trans "Setting" %}</th>
	                            <th class="col-md-3">{% trans "Status" %} </th>
	                            <th class="col-md-6">{% trans "Description" %} </th>
	                        </tr>
	                        <tr>
	                            <td>{% model_meta_info datalogger_settings 'track_meter_statistics' 'verbose_name' %}</td>
	                            <td><i class="fa fa-{{ datalogger_settings.track_meter_statistics|yesno:'check-square-o,close' }} fa-lg"></i></td>
	                            <td>{% model_meta_info datalogger_settings 'track_meter_statistics' 'help_text' %}</td>
	                        </tr>
	                        <tr>
	                            <td>{% model_meta_info datalogger_settings 'dsmr_version' 'verbose_name' %}</td>
	                            <td>{{ datalogger_settings.get_dsmr_version_display }}</td>
	                            <td>{% model_meta_info datalogger_settings 'dsmr_version' 'help_text' %}</td>
	                        </tr>
	                        <tr>
	                            <td>{% model_meta_info datalogger_settings 'com_port' 'verbose_name' %}</td>
	                            <td>{{ datalogger_settings.com_port }}</td>
	                            <td>{% model_meta_info datalogger_settings 'com_port' 'help_text' %}</td>
	                        </tr>
	                    </table>

                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url 'admin:dsmr_datalogger_dataloggersettings_change' datalogger_settings.pk %}" class="btn btn-primary">
                                   <i class="fa fa-pencil-square-o"></i> &nbsp; {% trans "Edit" %} {{ datalogger_settings|lower }}
                                </a>
                            </div>
                        </div>
	                </div>
	            </div>
	        </div>

	        <div class="tab-pane" id="tab-backup">
	            <div class="panel">
	                <header class="panel-heading">
	                    {{ backup_settings }}
	                </header>
	                <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url 'admin:dsmr_backup_backupsettings_change' backup_settings.pk %}" class="btn btn-primary">
                                   <i class="fa fa-pencil-square-o"></i> &nbsp; {% trans "Edit" %} {{ backup_settings|lower }}
                                </a>
                            </div>
                        </div>

                        <br />

	                    <table class="table table-condensed">
	                        <tr>
	                            <th class="col-md-3">{% trans "Setting" %}</th>
	                            <th class="col-md-3">{% trans "Status" %} </th>
	                            <th class="col-md-6">{% trans "Description" %} </th>
	                        </tr>
	                        <tr{% if not backup_settings.daily_backup %} class="alert alert-danger"{% endif %}>
	                            <td>{% model_meta_info backup_settings 'daily_backup' 'verbose_name' %}</td>
	                            <td><i class="fa fa-{{ backup_settings.daily_backup|yesno:'check-square-o,close' }} fa-lg"></i></td>
	                            <td>{% model_meta_info backup_settings 'daily_backup' 'help_text' %}</td>
	                        </tr>
	                        <tr>
	                            <td>{% model_meta_info backup_settings 'compress' 'verbose_name' %}</td>
	                            <td><i class="fa fa-{{ backup_settings.compress|yesno:'check-square-o,close' }} fa-lg"></i></td>
	                            <td>{% model_meta_info backup_settings 'compress' 'help_text' %}</td>
	                        </tr>
	                        <tr>
	                            <td>{% model_meta_info backup_settings 'backup_time' 'verbose_name' %}</td>
	                            <td>{{ backup_settings.backup_time }}</td>
	                            <td>{% model_meta_info backup_settings 'backup_time' 'help_text' %}</td>
	                        </tr>
	                        <tr{% if not backup_settings.latest_backup %} class="alert alert-warning"{% endif %}>
	                            <td>{% model_meta_info backup_settings 'latest_backup' 'verbose_name' %}</td>
	                            <td>
	                                <p>{{ backup_settings.latest_backup|naturaltime|default_if_none:'-' }}</p>
	                                
	                                <form action="{% url 'frontend:configuration-force-backup' %}" method="post">
	                                    {% csrf_token %}
	                                    <button type="submit" class="btn btn-primary" title="{% blocktrans %}This will simply alter the latest backup timestamp displayed above to a week ago.{% endblocktrans %}">
	                                        <i class="fa fa-refresh"></i> &nbsp; <span>{% trans "Schedule new backup now" %}</span>
	                                    </button>
	                                </form>
	                            </td>
	                            <td>{% model_meta_info backup_settings 'latest_backup' 'help_text' %}</td>
	                        </tr>
	                    </table>

                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url 'admin:dsmr_backup_backupsettings_change' backup_settings.pk %}" class="btn btn-primary">
                                   <i class="fa fa-pencil-square-o"></i> &nbsp; {% trans "Edit" %} {{ backup_settings|lower }}
                                </a>
                            </div>
                        </div>
	                </div>
	            </div>
	        </div>

            <div class="tab-pane" id="tab-dropbox">
                <div class="panel">
                    <header class="panel-heading">
                        {{ dropbox_settings }}
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url 'admin:dsmr_backup_dropboxsettings_change' dropbox_settings.pk %}" class="btn btn-primary">
                                   <i class="fa fa-pencil-square-o"></i> &nbsp; {% trans "Edit" %} {{ dropbox_settings|lower }}
                                </a>
                            </div>
                        </div>

                        <br />
                        <table class="table table-condensed">
                            <tr>
                                <th class="col-md-3">{% trans "Setting" %}</th>
                                <th class="col-md-3">{% trans "Status" %} </th>
                                <th class="col-md-6">{% trans "Description" %} </th>
                            </tr>
                            <tr{% if not dropbox_settings.access_token %} class="alert alert-warning"{% endif %}>
                                <td>{% model_meta_info dropbox_settings 'access_token' 'verbose_name' %}</td>
                                <td><i class="fa fa-{{ dropbox_settings.access_token|yesno:'check-square-o,close' }} fa-lg"></i></td>
                                <td>{% model_meta_info dropbox_settings 'access_token' 'help_text' %}</td>
                            </tr>
                            <tr{% if dropbox_settings.access_token and not dropbox_settings.latest_sync %} class="alert alert-warning"{% endif %}>
                                <td>{% model_meta_info dropbox_settings 'latest_sync' 'verbose_name' %}</td>
                                <td>{{ dropbox_settings.latest_sync|naturaltime|default_if_none:'-' }}</td>
                                <td>{% model_meta_info dropbox_settings 'latest_sync' 'help_text' %}</td>
                            </tr>
                        </table>

                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url 'admin:dsmr_backup_dropboxsettings_change' dropbox_settings.pk %}" class="btn btn-primary">
                                   <i class="fa fa-pencil-square-o"></i> &nbsp; {% trans "Edit" %} {{ dropbox_settings|lower }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

	        <div class="tab-pane" id="tab-consumption">
	            <div class="panel">
	                <header class="panel-heading">
	                    {{ consumption_settings }} 
	                </header>
	                <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url 'admin:dsmr_consumption_consumptionsettings_change' consumption_settings.pk %}" class="btn btn-primary">
                                   <i class="fa fa-pencil-square-o"></i> &nbsp; {% trans "Edit" %} {{ consumption_settings|lower }}
                                </a>
                            </div>
                        </div>
                        
                        <br />
                        
	                    <table class="table table-condensed">
	                        <tr>
	                            <th class="col-md-3">{% trans "Setting" %}</th>
	                            <th class="col-md-3">{% trans "Status" %} </th>
	                            <th class="col-md-6">{% trans "Description" %} </th>
	                        </tr>
	                        <tr>
	                            <td>{% model_meta_info consumption_settings 'compactor_grouping_type' 'verbose_name' %}</td>
	                            <td>{{ consumption_settings.get_compactor_grouping_type_display }}</td>
	                            <td>{% model_meta_info consumption_settings 'compactor_grouping_type' 'help_text' %}</td>
	                        </tr>
	                    </table>

                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url 'admin:dsmr_consumption_consumptionsettings_change' consumption_settings.pk %}" class="btn btn-primary">
                                   <i class="fa fa-pencil-square-o"></i> &nbsp; {% trans "Edit" %} {{ consumption_settings|lower }}
                                </a>
                            </div>
                        </div>
	                </div>
	            </div>
	        </div>

	        <div class="tab-pane" id="tab-frontend">
	            <div class="panel">
	                <header class="panel-heading">
	                    {{ frontend_settings }} 
	                </header>
	                <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url 'admin:dsmr_frontend_frontendsettings_change' frontend_settings.pk %}" class="btn btn-primary">
                                   <i class="fa fa-pencil-square-o"></i> &nbsp; {% trans "Edit" %} {{ frontend_settings|lower }}
                                </a>
                            </div>
                        </div>
                        
                        <br />
                        
	                    <table class="table table-condensed">
	                        <tr>
	                            <th class="col-md-3">{% trans "Setting" %}</th>
	                            <th class="col-md-3">{% trans "Status" %} </th>
	                            <th class="col-md-6">{% trans "Description" %} </th>
	                        </tr>
	                        <tr>
	                            <td>{% model_meta_info frontend_settings 'reverse_dashboard_graphs' 'verbose_name' %}</td>
	                            <td><i class="fa fa-{{ frontend_settings.reverse_dashboard_graphs|yesno:'check-square-o,square-o' }} fa-lg"></i></td>
	                            <td>{% model_meta_info frontend_settings 'reverse_dashboard_graphs' 'help_text' %}</td>
	                        </tr>
	                    </table>

                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url 'admin:dsmr_frontend_frontendsettings_change' frontend_settings.pk %}" class="btn btn-primary">
                                   <i class="fa fa-pencil-square-o"></i> &nbsp; {% trans "Edit" %} {{ frontend_settings|lower }}
                                </a>
                            </div>
                        </div>
	                </div>
	            </div>
	        </div>

	        <div class="tab-pane" id="tab-weather">
	            <div class="panel">
	                <header class="panel-heading">
	                    {{ weather_settings }}
	                </header>
	                <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url 'admin:dsmr_weather_weathersettings_change' weather_settings.pk %}" class="btn btn-primary">
                                   <i class="fa fa-pencil-square-o"></i> &nbsp; {% trans "Edit" %} {{ weather_settings|lower }}
                                </a>
                            </div>
                        </div>

                        <br />
                        
	                    <table class="table table-condensed">
	                        <tr>
	                            <th class="col-md-3">{% trans "Setting" %}</th>
	                            <th class="col-md-3">{% trans "Status" %} </th>
	                            <th class="col-md-6">{% trans "Description" %} </th>
	                        </tr>
	                        <tr{% if not weather_settings.track %} class="alert alert-warning"{% endif %}>
	                            <td>{% model_meta_info weather_settings 'track' 'verbose_name' %}</td>
	                            <td><i class="fa fa-{{ weather_settings.track|yesno:'check-square-o,close' }} fa-lg"></i></td>
	                            <td>{% model_meta_info weather_settings 'track' 'help_text' %}</td>
	                        </tr>
	                        <tr>
	                            <td>{% model_meta_info weather_settings 'buienradar_station' 'verbose_name' %}</td>
	                            <td>{{ weather_settings.get_buienradar_station_display }}</td>
	                            <td>{% model_meta_info weather_settings 'buienradar_station' 'help_text' %}</td>
	                        </tr>
	                    </table>
	                    
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url 'admin:dsmr_weather_weathersettings_change' weather_settings.pk %}" class="btn btn-primary">
                                   <i class="fa fa-pencil-square-o"></i> &nbsp; {% trans "Edit" %} {{ weather_settings|lower }}
                                </a>
                            </div>
                        </div>
	                </div>
	            </div>
	        </div>

            <div class="tab-pane" id="tab-api">
                <div class="panel">
                    <header class="panel-heading">
                        {{ api_settings }}
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url 'admin:dsmr_api_apisettings_change' api_settings.pk %}" class="btn btn-primary">
                                   <i class="fa fa-pencil-square-o"></i> &nbsp; {% trans "Edit" %} {{ api_settings|lower }}
                                </a>
                            </div>
                        </div>

                        <br />

                        <table class="table table-condensed">
                            <tr>
                                <th class="col-md-3">{% trans "Setting" %}</th>
                                <th class="col-md-3">{% trans "Status" %} </th>
                                <th class="col-md-6">{% trans "Description" %} </th>
                            </tr>
                            <tr{% if api_settings.allow %} class="alert alert-warning"{% endif %}>
                                <td>{% model_meta_info api_settings 'allow' 'verbose_name' %}</td>
                                <td><i class="fa fa-{{ api_settings.allow|yesno:'check-square-o,close' }} fa-lg"></i></td>
                                <td>{% model_meta_info api_settings 'allow' 'help_text' %}</td>
                            </tr>
                        </table>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url 'admin:dsmr_api_apisettings_change' api_settings.pk %}" class="btn btn-primary">
                                   <i class="fa fa-pencil-square-o"></i> &nbsp; {% trans "Edit" %} {{ api_settings|lower }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
           <div class="tab-pane" id="tab-mindergas">
                <div class="panel">
                    <header class="panel-heading">
                        {{ mindergas_settings }}
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url 'admin:dsmr_mindergas_mindergassettings_change' mindergas_settings.pk %}" class="btn btn-primary">
                                   <i class="fa fa-pencil-square-o"></i> &nbsp; {% trans "Edit" %} {{ mindergas_settings|lower }}
                                </a>
                            </div>
                        </div>

                        <br />
                        
                        <table class="table table-condensed">
                            <tr>
                                <th class="col-md-3">{% trans "Setting" %}</th>
                                <th class="col-md-3">{% trans "Status" %} </th>
                                <th class="col-md-6">{% trans "Description" %} </th>
                            </tr>
                            <tr>
                                <td>{% model_meta_info mindergas_settings 'export' 'verbose_name' %}</td>
                                <td><i class="fa fa-{{ mindergas_settings.export|yesno:'check-square-o,close' }} fa-lg"></i></td>
                                <td>{% model_meta_info mindergas_settings 'export' 'help_text' %}</td>
                            </tr>
                            <tr>
                                <td>{% model_meta_info mindergas_settings 'auth_token' 'verbose_name' %}</td>
                                <td><i class="fa fa-{{ mindergas_settings.auth_token|yesno:'check-square-o,close' }} fa-lg"></i></td>
                                <td>{% model_meta_info mindergas_settings 'auth_token' 'help_text' %}</td>
                            </tr>
                            <tr>
                                <td>{% model_meta_info mindergas_settings 'next_export' 'verbose_name' %}</td>
                                <td>{{ mindergas_settings.next_export|default_if_none:'-' }}</td>
                                <td>{% model_meta_info mindergas_settings 'next_export' 'help_text' %}</td>
                            </tr>

                        </table>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url 'admin:dsmr_mindergas_mindergassettings_change' mindergas_settings.pk %}" class="btn btn-primary">
                                   <i class="fa fa-pencil-square-o"></i> &nbsp; {% trans "Edit" %} {{ mindergas_settings|lower }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

	    </div>  
	</div>
</section>
{% endblock %}

{% block javascript %}
	{{ block.super }}
    <script type="text/javascript" src="{% static 'dsmr_frontend/js/jquery.bootstrap.wizard.js' %}"></script>
	<script>
		$(document).ready(function() {
		    $('#rootwizard').bootstrapWizard({'tabClass': 'nav nav-pills'}).bootstrapWizard('show', 'xx');
		});
	</script>
{% endblock %}
        