{% extends "dsmr_frontend/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load i18n %} 
{% load hex_to_rgb %}

{% block title %}{% trans "Dashboard" %}{% endblock %}
{% block header %}{% trans "Dashboard" %} &nbsp; <i class="fa fa-dashboard"></i>{% endblock %}
    
{% block header_right %}
    <li>
        <a href="" onclick="return false;" style="cursor: default;">
            <small style="color: #999999;"><span id="latest_timestamp"></span></small>
        </a>
    </li>
    
	{% if capabilities.electricity %}
	<li>
	    <a href="" onclick="return false;" style="cursor: default;">
	        <span class="badge bg-red"><i class="fa fa-bolt"></i> 
		        &nbsp; <span id="latest_electricity"><i class="fa fa-refresh fa-spin fa-fw"></i></span> &nbsp; {% trans "Watt" %}
		        &nbsp; <small id="latest_electricity_cost"></small>
	        </span>
	    </a>
	</li>
	{% endif %}
	
	{% if capabilities.electricity_returned  %}
	<li>
	    <a href="" onclick="return false;" style="cursor: default;">
	        <span class="badge bg-green"><i class="fa fa-bolt"></i> 
	        &nbsp; <span id="latest_electricity_returned"><i class="fa fa-refresh fa-spin fa-fw"></i></span> &nbsp; {% trans "Watt" %}</span>
	    </a>
	</li>
	{% endif %}
{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
{% if not capabilities.any %}
    <div class="alert alert-danger" role="alert">
        <span class="fa fa-exclamation fa-2x"></span> {% blocktrans %}No data found. Please make sure the datalogger is up and running and the backend process is running as well.{% endblocktrans %}
    </div>
{% endif %}

    {% if notifications %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% trans "Notifications" %} &nbsp; <span class="badge badge-danger">{{ notifications.count }}</span>
                </header>
                <div class="panel-body">
                    {% for current_notification in notifications %}
                    <div class="alert alert-warning" role="alert">
                        <form action="{% url 'frontend:notification-read' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ current_notification.pk }}" />
                            <button class="btn btn-sm btn-danger" title="{% trans 'Delete notification' %}"><i class="fa fa-trash"></i></button>
                            &nbsp;

	                        {{ current_notification.message }}

	                        {% if current_notification.redirect_to %}
	                        &nbsp;
	                        <a class="btn btn-sm btn-primary" href="{% url current_notification.redirect_to %}">{% trans "View page" %}</a>
	                        {% endif %}
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div><!-- /.row -->
    {% endif %}

    {% if month_statistics %}
    <div class="row consumption-block">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% trans "This month" %} <small>({% trans "until yesterday" %})</small>
                </header>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th class="col-md-6"></th>
                            <th class="col-md-2">{% if capabilities.electricity %}{% trans "Consumed" %} ({% trans "kWh" noop %}{% if capabilities.gas %} / {% trans "m<sup>3</sup>" noop %}{% endif %}){% endif %}</th>
                            <th class="col-md-2">{% if capabilities.electricity_returned %}{% trans "Returned" %} ({% trans "kWh" noop %}){% endif %}</th>
                            <th class="col-md-2">{% trans "Cost" %} (&euro;)</th>
                        </tr>
                        {% if frontend_settings.merge_electricity_tariffs %}
			            <tr>
			                <td>{% if capabilities.electricity %}{% trans "Electricity (single tariff)" %}{% endif %}</td>
			                <td><span class="badge bg-red">{% if capabilities.electricity %}{{ month_statistics.electricity_merged|default:'-' }} </span>{% endif %}</td>
			                <td><span class="badge bg-green">{% if capabilities.electricity_returned %}{{ month_statistics.electricity_returned_merged|default:'-' }}{% endif %}</span></td>
			                <td><span class="badge bg-black">{% if capabilities.electricity %}{{ month_statistics.electricity_cost_merged|default:'-' }}{% endif %}</span></td>
			            </tr>
			            {% else %}
                        <tr>
                            <td>{% if capabilities.electricity %}{% trans "Electricity 1 (low tariff)" %}{% endif %}</td>
                            <td><span class="badge bg-red">{% if capabilities.electricity %}{{ month_statistics.electricity1|default:'-' }} </span>{% endif %}</td>
                            <td><span class="badge bg-green">{% if capabilities.electricity_returned %}{{ month_statistics.electricity1_returned|default:'-' }}{% endif %}</span></td>
                            <td><span class="badge bg-black">{% if capabilities.electricity %}{{ month_statistics.electricity1_cost|default:'-' }}{% endif %}</span></td>
                        </tr>
                        <tr>
                            <td>{% if capabilities.electricity %}{% trans "Electricity 2 (high tariff)" %}{% endif %}</td>
                            <td><span class="badge bg-red">{% if capabilities.electricity %}{{ month_statistics.electricity2|default:'-' }}{% endif %}</span></td>
                            <td><span class="badge bg-green">{% if capabilities.electricity_returned %}{{ month_statistics.electricity2_returned|default:'-' }}{% endif %}</span></td>
                            <td><span class="badge bg-black">{% if capabilities.electricity %}{{ month_statistics.electricity2_cost|default:'-' }}{% endif %}</span></td>
                        </tr>
                        {% endif %}
                        {% if capabilities.gas %}
                        <tr>
                            <td>{% trans "Gas" %}</td>
                            <td><span class="badge bg-orange">{{ month_statistics.gas|default:'-' }}</span></td>
                            <td>&nbsp;</td>
                            <td><span class="badge bg-black">{{ month_statistics.gas_cost|default:'-' }}</span></td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td style="font-weight: bold;">{% trans "Total" %}</td>
                            <td colspan="2">&nbsp;</td>
                            <td><span class="badge bg-black">{{ month_statistics.total_cost|default:'-' }}</span></td>
                        </tr>
                    </table>                
                </div>
            </div>
        </div>
    </div><!-- /.row -->
    {% endif %}

    {% if consumption %}
    <div class="row consumption-block">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {{ consumption.day }}
                    
                    <small class="pull-right">
                        <a href="{% url 'admin:dsmr_stats_note_add' %}?day={% now 'DJANGO_DATE_FORMAT' %}">
                            <span class="badge bg-green"><i class="fa fa-plus"></i> &nbsp; {% trans "Add note for today" %}</span>
                        </a>
                    </small>
                </header>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th class="col-md-6"></th>
                            <th class="col-md-2">{% if capabilities.electricity %}{% trans "Consumed" %} ({% trans "kWh" noop %}{% if capabilities.gas %} / {% trans "m<sup>3</sup>" noop %}{% endif %}){% endif %}</th>
                            <th class="col-md-2">{% if capabilities.electricity_returned %}{% trans "Returned" %} ({% trans "kWh" noop %}){% endif %}</th>
                            <th class="col-md-2">{% trans "Cost" %} (&euro;)</th>
                        </tr>
                        {% if frontend_settings.merge_electricity_tariffs %}
                        <tr>
                            <td>{% if capabilities.electricity %}{% trans "Electricity (single tariff)" %}{% endif %}</td>
                            <td><span class="badge bg-red">{% if capabilities.electricity %}{{ consumption.electricity_merged|default:'-' }} </span>{% endif %}</td>
                            <td><span class="badge bg-green">{% if capabilities.electricity_returned %}{{ consumption.electricity_returned_merged|default:'-' }}{% endif %}</span></td>
                            <td><span class="badge bg-black">{% if capabilities.electricity %}{{ consumption.electricity_cost_merged|default:'-' }}{% endif %}</span></td>
                        </tr>
                        {% else %}
                        <tr>
                            <td>{% if capabilities.electricity %}{% trans "Electricity 1 (low tariff)" %}{% endif %}</td>
                            <td><span class="badge bg-red">{% if capabilities.electricity %}{{ consumption.electricity1|default:'-' }} </span>{% endif %}</td>
                            <td><span class="badge bg-green">{% if capabilities.electricity_returned %}{{ consumption.electricity1_returned|default:'-' }}{% endif %}</span></td>
                            <td><span class="badge bg-black">{% if capabilities.electricity %}{{ consumption.electricity1_cost|default:'-' }}{% endif %}</span></td>
                        </tr>
                        <tr>
                            <td>{% if capabilities.electricity %}{% trans "Electricity 2 (high tariff)" %}{% endif %}</td>
                            <td><span class="badge bg-red">{% if capabilities.electricity %}{{ consumption.electricity2|default:'-' }}{% endif %}</span></td>
                            <td><span class="badge bg-green">{% if capabilities.electricity_returned %}{{ consumption.electricity2_returned|default:'-' }}{% endif %}</span></td>
                            <td><span class="badge bg-black">{% if capabilities.electricity %}{{ consumption.electricity2_cost|default:'-' }}{% endif %}</span></td>
                        </tr>
                        {% endif %}
                        
                        {% if capabilities.gas %}
                        <tr>
                            <td> {% trans "Gas" %}</td>
                            <td><span class="badge bg-orange">{{ consumption.gas|default:'-' }}</span></td>
                            <td>&nbsp;</td>
                            <td><span class="badge bg-black">{{ consumption.gas_cost|default:'-' }}</span></td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td style="font-weight: bold;">{% trans "Total" %}</td>
                            <td colspan="2">&nbsp;</td>
                            <td><span class="badge bg-black">{{ consumption.total_cost|default:'-' }}</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- /.row -->
    {% endif %}
    
    {% if capabilities.electricity %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% trans "Recent electricity consumed (watt)" %}
                </header>
                <div class="panel-body" style="height: 200px;">
                    <canvas id="electricity-chart"></canvas>
                </div>
            </div>
        </div>
    </div><!-- /.row -->
    {% endif %}
    
    {% if capabilities.electricity_returned %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% trans "Recent electricity returned (watt)" %}
                </header>
                <div class="panel-body" style="height: 200px;">
                    <canvas id="electricity-returned-chart"></canvas>
                </div>
            </div>
        </div>
    </div><!-- /.row -->
    {% endif %}

    {% if capabilities.gas %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% trans "Recent gas consumed (m<sup>3</sup>)" %}
                </header>
                <div class="panel-body" style="height: 200px;">
                    <canvas id="gas-chart"></canvas>
                </div>
            </div>
        </div>
    </div><!-- /.row -->
    {% endif %}
    
    {% if capabilities.weather %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% trans "Recent temperatures (&deg;C)" %}
                </header>
                <div class="panel-body" style="height: 200px;">
                    <canvas id="temperature-chart"></canvas>
                </div>
            </div>
        </div>
    </div><!-- /.row -->
    {% endif %}
</section>
{% endblock %}


{% block javascript %}
{{ block.super }}
        <script type="text/javascript" src="{% static 'dsmr_frontend/js/chartjs/Chart.min.js' %}"></script>
        <script type="text/javascript">
            var line_options = {
                /* Not available globally, but it fixes duplicate tooltips being triggered by x-axis data points close to each other. */
                pointHitDetectionRadius: 3,
                pointDotRadius: 2.5,
            }
        
            $(document).ready(function(){
                Chart.defaults.global.responsive = true;
                Chart.defaults.global.maintainAspectRatio = false;
                Chart.defaults.global.animation = false;
                Chart.defaults.global.segmentShowStroke = true;
                
            {% if capabilities.electricity %}
                render_electricity_chart();
            {% endif %}

            {% if capabilities.electricity_returned %}
                render_electricity_returned_chart();
            {% endif %}
            
            {% if capabilities.gas %}
                render_gas_chart();
            {% endif %}

            {% if capabilities.weather %}
                render_temperature_chart();
            {% endif %}
            
                /* Auto refresh. */
                update_header();
                setInterval(function(){ update_header(); }, 3000);
            });
            
            /**
             * Updates the header.
             */
            function update_header()
            {
                $("#header-loader").show();
                
                $.ajax({
                    dataType: "json",
                    url: "{% url 'frontend:dashboard-xhr-header' %}",
                }).done(function(response) {
                    $("#header-loader").hide();
                    $("#latest_timestamp").html(response.timestamp);
                    $("#latest_electricity").html(response.currently_delivered);
                    $("#latest_electricity_returned").html(response.currently_returned);
                    
                    if (response.latest_electricity_cost)
                    {
	                    $("#latest_electricity_cost").html("&euro; " + response.latest_electricity_cost + " {% trans 'per hour' %}");
                    }
                });
            }
            
       {% if capabilities.electricity %}
            function render_electricity_chart()
            {
                var data = {
                    labels: {{ electricity_x|safe }},
                    datasets: [{
                        data: {{ electricity_y|safe }},
                        label: "{% trans 'Electricity' %}",                     
                        fillColor: "rgba({{frontend_settings.electricity_delivered_color|hex_to_rgb}},0.1)",
                        strokeColor: "rgba({{frontend_settings.electricity_delivered_color|hex_to_rgb}},1)",
                        pointColor: "rgba({{frontend_settings.electricity_delivered_color|hex_to_rgb}},1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(255,0,0,1)"
                    }]
                };
    
                var ctx = $("#electricity-chart").get(0).getContext("2d");
                ctx.canvas.height = $("#electricity-chart").parent().height();
                new Chart(ctx).Line(data, line_options);
            }
        {% endif %}
        
        {% if capabilities.electricity_returned %}
             function render_electricity_returned_chart()
             {
                 var data = {
                     labels: {{ electricity_x|safe }},
                     datasets: [{
                         data: {{ electricity_returned_y|safe }},
                         label: "{% trans 'Electricity returned' %}",                     
                         fillColor: "rgba({{frontend_settings.electricity_returned_color|hex_to_rgb}},0.1)",
                         strokeColor: "rgba({{frontend_settings.electricity_returned_color|hex_to_rgb}},1)",
                         pointColor: "rgba({{frontend_settings.electricity_returned_color|hex_to_rgb}},1)",
                         pointStrokeColor: "#fff",
                         pointHighlightFill: "#fff",
                         pointHighlightStroke: "rgba(39,194,76,1)"
                     }]
                 };
     
                 var ctx = $("#electricity-returned-chart").get(0).getContext("2d");
                 ctx.canvas.height = $("#electricity-returned-chart").parent().height();
                 new Chart(ctx).Line(data, line_options);
             }
         {% endif %}
            
        {% if capabilities.gas %}
            function render_gas_chart()
            {
                var data = {
                    labels: {{ gas_x|safe }},
                    datasets: [{
                        data: {{ gas_y|safe }},
                        label: "{% trans 'Gas' %}",                     
                        fillColor: "rgba({{frontend_settings.gas_delivered_color|hex_to_rgb}},0.1)",
                        strokeColor: "rgba({{frontend_settings.gas_delivered_color|hex_to_rgb}},1)",
                        pointColor: "rgba({{frontend_settings.gas_delivered_color|hex_to_rgb}},1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(150,150,150,1)"
                    }]
                };

                var ctx = $("#gas-chart").get(0).getContext("2d");
                ctx.canvas.height = $("#gas-chart").parent().height();
                new Chart(ctx).Line(data, line_options);
            }
            {% endif %}

        {% if capabilities.weather %}
            function render_temperature_chart()
            {
                var data = {
                    labels: {{ temperature_x|safe }},
                    datasets: [{
                        data: {{ temperature_y|safe }},
                        label: "{% trans 'Temperature' %}",                       
                        fillColor: "rgba({{frontend_settings.temperature_color|hex_to_rgb}},0.1)",
                        strokeColor: "rgba({{frontend_settings.temperature_color|hex_to_rgb}},1)",
                        pointColor: "rgba({{frontend_settings.temperature_color|hex_to_rgb}},1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(150,150,150,1)"
                    }]
                };

                var ctx = $("#temperature-chart").get(0).getContext("2d");
                ctx.canvas.height = $("#temperature-chart").parent().height();
                new Chart(ctx).Line(data, line_options);
            }
        {% endif %}
        </script>

{% endblock %}