{% extends "dsmr_frontend/base.html" %}
{% load humanize %} 
{% load static %} 
{% load i18n %}

{% block title %}{% translate "Energy contracts" %}{% endblock %}
{% block header %}{% translate "Energy contracts" %} &nbsp; <i class="fas fa-euro-sign"></i>{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
{% if capabilities.costs and energy_contracts %}
	<div class="alert alert-info" role="alert">
	    <span class="fas fa-info-circle"></span> &nbsp;
        {% blocktranslate %}All data is based on whether you have set prices for each type of consumption. E.g.: Omitting gas prices will hide gas consumption for the contract.{% endblocktranslate %}
        {% blocktranslate %}The data displayed here only includes whatever prices you have entered in DSMR-reader and may differ from your energy supplier's invoice.{% endblocktranslate %}

        {% if capabilities.electricity_returned %}
            {% blocktranslate %}When applicable, any electricity returned costs calculated are approximate and will be displayed for your convenience. It may or may not match your personal situation.{% endblocktranslate %}
        {% endif %}
	</div>

    {% for current in energy_contracts %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <header class="panel-heading">
                    <strong>{{ current.description }}</strong> <span class="unit">{{ current.summary.number_of_days }} {% blocktranslate count counter=current.summary.number_of_days %}day{% plural %}days{% endblocktranslate %} {% translate "stored" %}</span>
                </header>
                <div class="panel-body">
			        <table class="table table-hover">
			            <tr>
                            {# Headers #}
			                <th class="col-sm-6"><span class="unit">{{ current.start }} &larr;&rarr; {{ current.end|default:'-' }}</span></th>
                            <th class="col-sm-2">
                            {% if current.prices.electricity_delivered_1_price or current.prices.electricity_delivered_2_price or current.prices.gas_price %}
                                {% if capabilities.electricity or capabilities.gas %}{% translate "Consumed" %}{% endif %}
                            {% endif %}
                            </th>
                            <th class="col-sm-2">
                            {% if current.prices.electricity_returned_1_price or current.prices.electricity_returned_2_price %}
                                {% if capabilities.electricity_returned %}{% translate "Returned" %}{% endif %}
                            {% endif %}
                            </th>
			                <th class="col-sm-2">{% translate "Costs" %} <span class="unit">&euro;</span></th>
			            </tr>

                    {% if current.prices.electricity_delivered_1_price or current.prices.electricity_delivered_2_price %}
			            {% if not frontend_settings.merge_electricity_tariffs %}
                            {# Tariff 1 #}
                            <tr>
                                <td>{% if capabilities.electricity %}{{ frontend_settings.tariff_1_delivered_name|capfirst }} <span class="unit">{% translate "kWh" %}</span>{% endif %}</td>
                                <td><span class="badge bg-red">{% if current.prices.electricity_delivered_1_price %}{{ current.summary.electricity1|default:'-' }} </span>{% endif %}</td>
                                <td><span class="badge bg-green">{% if current.prices.electricity_returned_1_price %}{{ current.summary.electricity1_returned|default:'-' }}{% endif %}</span></td>
                                <td><span class="badge bg-black">{% if capabilities.electricity %}{{ current.summary.electricity1_cost|default:'-' }}{% endif %}</span></td>
                            </tr>
                            {# Tariff 2 #}
                            <tr>
                                <td>{% if capabilities.electricity %}{{ frontend_settings.tariff_2_delivered_name|capfirst }} <span class="unit">{% translate "kWh" %}</span>{% endif %}</td>
                                <td><span class="badge bg-red">{% if current.prices.electricity_delivered_2_price %}{{ current.summary.electricity2|default:'-' }}{% endif %}</span></td>
                                <td><span class="badge bg-green">{% if current.prices.electricity_returned_2_price %}{{ current.summary.electricity2_returned|default:'-' }}{% endif %}</span></td>
                                <td><span class="badge bg-black">{% if capabilities.electricity %}{{ current.summary.electricity2_cost|default:'-' }}{% endif %}</span></td>
                            </tr>
                        {% endif %}

                        {# Electricity sub totals #}
                        <tr>
                            <td>
                                {% if not frontend_settings.merge_electricity_tariffs %}
                                    <strong>{% translate "Total electricity" %}</strong>
                                {% else %}
                                    {% translate "Electricity (single tariff)" %}
                                {% endif %}
                                <span class="unit">{% translate "kWh" %}</span>
                            </td>
                            <td>
                            {% if current.prices.electricity_delivered_1_price or current.prices.electricity_delivered_2_price %}
                                <span class="badge bg-red">{% if capabilities.electricity %}{{ current.summary.electricity_merged|default:'-' }}  </span>{% endif %}
                            {% endif %}
                            </td>
                            <td>
                            {% if current.prices.electricity_returned_1_price or current.prices.electricity_returned_2_price %}
                                <span class="badge bg-green">{% if capabilities.electricity_returned %}{{ current.summary.electricity_returned_merged|default:'-' }}{% endif %}</span>
                            {% endif %}
                            </td>
                            <td><span class="badge bg-black">{{ current.summary.electricity_cost_merged|default:'-' }}</span></td>
                        </tr>
                    {% endif %}
                        {# Gas #}
			            {% if capabilities.gas and current.prices.gas_price %}
                        <tr>
			                <td> {% translate "Gas" %} <span class="unit">{% translate "m³" %}</span></td>
			                <td><span class="badge bg-orange">{{ current.summary.gas|default:'-' }}</span></td>
			                <td>&nbsp;</td>
			                <td><span class="badge bg-black">{{ current.summary.gas_cost|default:'-' }}</span></td>
			            </tr>
			            {% endif %}

                        {# Fixed cost #}
                        {% if current.summary.fixed_cost %}
                        <tr>
			                <td colspan="3">{% translate "Fixed costs" %}</td>
			                <td><span class="badge bg-black">{{ current.summary.fixed_cost|default:'-' }}</span></td>
			            </tr>
                        {% endif %}

                        {# Grand totals #}
			            <tr>
			                <td style="font-weight: bold;" colspan="3">{% translate "Total costs" %}</td>
			                <td><span class="badge bg-black">{{ current.summary.total_cost|default:'-' }}</span></td>
			            </tr>

                        <tr>
                            <td colspan="4"><a class="show-unit-prices" href="#">{% translate 'Show contract prices' %}</a></td>
                        </tr>
                        {% if current.prices.electricity_delivered_1_price %}
                        <tr class="unit-prices xhr-hidden">
                            <td colspan="3"><small>{{ frontend_settings.tariff_1_delivered_name|capfirst }}</small> <span class="unit">({% translate "tariff 1" %})</span></td>
                            <td><span class="badge bg-blue"><small>{{ current.prices.electricity_delivered_1_price }}</small></span></td>
                        </tr>
                        {% endif %}
                        
                        {% if current.prices.electricity_delivered_2_price %}
                        <tr class="unit-prices xhr-hidden">
                            <td colspan="3"><small>{{ frontend_settings.tariff_2_delivered_name|capfirst }}</small> <span class="unit">({% translate "tariff 2" %})</span></td>
                            <td><span class="badge bg-blue"><small>{{ current.prices.electricity_delivered_2_price }}</small></span></td>
                        </tr>
                        {% endif %}

                        {% if current.prices.gas_price %}
                        <tr class="unit-prices xhr-hidden">
                            <td colspan="3"><small>{% translate "Gas" %}</small></td>
                            <td><span class="badge bg-blue"><small>{{ current.prices.gas_price }}</small></span></td>
                        </tr>
                        {% endif %}

                        {% if current.prices.electricity_returned_1_price %}
                        <tr class="unit-prices xhr-hidden">
                            <td colspan="3"><small>{{ frontend_settings.tariff_1_returned_name }}</small> <span class="unit">({% translate "tariff 1" %})</span></td>
                            <td><span class="badge bg-blue"><small>{{ current.prices.electricity_returned_1_price }}</small></span></td>
                        </tr>
                        {% endif %}

                        {% if current.prices.electricity_returned_2_price %}
                        <tr class="unit-prices xhr-hidden">
                            <td colspan="3"><small>{{ frontend_settings.tariff_2_returned_name }}</small> <span class="unit">({% translate "tariff 2" %})</span></td>
                            <td><span class="badge bg-blue"><small>{{ current.prices.electricity_returned_2_price }}</small></span></td>
                        </tr>
                        {% endif %}

                        {% if current.prices.fixed_daily_cost %}
                        <tr class="unit-prices xhr-hidden">
                            <td colspan="3"><small>{% translate "Fixed daily costs" %}</small></td>
                            <td><span class="badge bg-blue"><small>{{ current.prices.fixed_daily_cost }}</small></span></td>
                        </tr>
                        {% endif %}
			        </table>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
    <div class="alert alert-info" role="alert">
        <span class="fas fa-info-circle"></span> &nbsp; {% blocktranslate %}No data or energy contracts found.{% endblocktranslate %}
    </div>
{% endif %}

</section>
{% endblock %}


{% block javascript %}
{{ block.super }}
<script type="text/javascript">

    $(document).ready(function(){
        $('.show-unit-prices').click(function(){
            $('.unit-prices').show();
            $('.show-unit-prices').hide();
            return false;
        })
    });

</script>
{% endblock %}