{% extends "dsmr_frontend/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Recent history" %}{% endblock %}
{% block header %}{% trans "Recent history" %}{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% blocktrans %}Daily cost in the past {{ days_ago }} days{% endblocktrans %} {% trans "(in &euro;)" %}
                </header>
                <div class="panel-body">
                	<canvas id="cost-chart" height="150"></canvas>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% blocktrans %}Daily electricity usage in the past {{ days_ago }} days{% endblocktrans %} {% trans "(in kWh)" %}
                </header>
                <div class="panel-body">
                	<canvas id="electricity-chart" height="150"></canvas>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% blocktrans %}Daily gas usage in the past {{ days_ago }} days{% endblocktrans %} {% trans "(in m<sup>3</sup>)" %}
                </header>
                <div class="panel-body">
                	<canvas id="gas-chart" height="150"></canvas>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->

    {% if track_temperature %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% blocktrans %}Daily average temperature in the past {{ days_ago }} days{% endblocktrans %} {% trans "(in &deg;C)" %}
                </header>
                <div class="panel-body">
                    <canvas id="temperature-chart" height="150"></canvas>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->
    {% endif %}

    <div class="row">
        <div class="col-md-12">
        {% for consumption in usage %}
            <div class="panel">
                <header class="panel-heading">
                    {{ consumption.day }}
                </header>
                <div class="panel-body">
                    {% if consumption.notes %}
                    <div class="alert alert-info" role="alert">{{ consumption.notes|join:" | " }}</div>
                    {% endif %}
                
                    <table class="table table-condensed">
                        <tr>
                            <th class="col-md-6">{% trans "Type" %}</th>
                            <th class="col-md-2">{% trans "Delivered" %}</th>
                            <th class="col-md-2">{% trans "Returned" %}</th>
                            <th class="col-md-2">{% trans "Cost" %}</th>
                        </tr>
                        <tr>
                            <td>{% trans "Electricity 1 (off-peak)" %}</td>
                            <td><span class="badge bg-red">{{ consumption.electricity1 }} {% trans "kWh" noop %}</span></td>
                            <td><span class="badge bg-maroon">{{ consumption.electricity1_returned }} {% trans "kWh" noop %}</span></td>
                            <td><span class="badge bg-black">&euro; {{ consumption.electricity1_cost }}</span></td>
                        </tr>
                        <tr>
                            <td>{% trans "Electricity 2 (peak)" %}</td>
                            <td><span class="badge bg-red">{{ consumption.electricity2 }} {% trans "kWh" noop %}</span></td>
                            <td><span class="badge bg-maroon">{{ consumption.electricity2_returned }} {% trans "kWh" noop %}</span></td>
                            <td><span class="badge bg-black">&euro; {{ consumption.electricity2_cost }}</span></td>
                        </tr>
                        <tr>
                            <td>{% trans "Gas" %}</td>
                            <td><span class="badge bg-orange">{{ consumption.gas }} {% trans "m<sup>3</sup>" noop %}</span></td>
                            <td>&nbsp;</td>
                            <td><span class="badge bg-black">&euro; {{ consumption.gas_cost }}</span></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">{% trans "Total" %}</td>
                            <td colspan="2">&nbsp;</td>
                            <td><span class="badge bg-black">&euro; {{ consumption.total_cost }}</span></td>
                        </tr>
                    </table>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
           {% endfor %}
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
{% endblock %}

{% block javascript %}
{{ block.super }}
        <script type="text/javascript" src="{% static 'dsmr_frontend/js/chartjs/Chart.min.js' %}"></script>
        <script type="text/javascript">
            var line_options = {
                /* Not available globally, but it fixes duplicate tooltips being triggered by x-axis data points close to each other. */
                pointHitDetectionRadius: 3,
            }
        
        	$(document).ready(function(){
                Chart.defaults.global.responsive = true;
                Chart.defaults.global.maintainAspectRatio = false;
        		Chart.defaults.global.animation = false;
        		
        		render_cost_chart();
        		render_electricity_chart();
        		render_gas_chart();

        		{% if track_temperature %}
        		render_temperature_chart();
        		{% endif %}
        	});
        	
		   	function render_cost_chart()
		   	{
		   		var data = {
	   				labels: {{ chart.days|safe }},
	   				datasets: [{
	   					data: {{ chart.total_cost|safe }},
	   					label: "Total cost",
	   					fillColor: "rgba(255,255,255,0.2)",
	   					strokeColor: "rgba(0,0,0,1)",
	   					pointColor: "rgba(0,0,0,1)",
	   					pointStrokeColor: "#fff",
	   					pointHighlightFill: "#fff",
	   					pointHighlightStroke: "rgba(0,0,0,1)"
	   				}, {
	   					data: {{ chart.electricity1_cost|safe }},
	   					label: "Electricity 1 cost (off-peak)",	       				
	   					fillColor: "rgba(255,255,255,0.2)",
	   					strokeColor: "rgba(255,0,0,1)",
	   					pointColor: "rgba(255,0,0,1)",
	   					pointStrokeColor: "#fff",
	   					pointHighlightFill: "#fff",
	   					pointHighlightStroke: "rgba(255,0,0,1)"
	   				}, {
	   					data: {{ chart.electricity2_cost|safe }},
	   					label: "Electricity 2 cost (peak)",	       				
	   					fillColor: "rgba(255,255,255,0.2)",
	   					strokeColor: "rgba(255,0,0,1)",
	   					pointColor: "rgba(255,0,0,1)",
	   					pointStrokeColor: "#fff",
	   					pointHighlightFill: "#fff",
	   					pointHighlightStroke: "rgba(255,0,0,1)"
	   				}, {
	   					data: {{ chart.gas_cost|safe }},
	   					label: "Gas cost",	       				
	   					fillColor: "rgba(255,255,255,0.2)",
	   					strokeColor: "rgba(250,133,0,1)",
	   					pointColor: "rgba(250,133,0,1)",
	   					pointStrokeColor: "#fff",
	   					pointHighlightFill: "#fff",
	   					pointHighlightStroke: "rgba(150,150,150,1)"
	   				}]
	   			};
	
	   			var ctx = $("#cost-chart").get(0).getContext("2d");
	   			new Chart(ctx).Line(data, line_options);
   			}
        	
		   	function render_electricity_chart()
		   	{
		   		var data = {
	   				labels: {{ chart.days|safe }},
	   				datasets: [{
	   					data: {{ chart.electricity1|safe }},
	   					label: "{% trans 'Electricity 1 (off-peak)' %}",	       				
	   					fillColor: "rgba(255,255,255,0.2)",
	   					strokeColor: "rgba(255,0,0,1)",
	   					pointColor: "rgba(255,0,0,1)",
	   					pointStrokeColor: "#fff",
	   					pointHighlightFill: "#fff",
	   					pointHighlightStroke: "rgba(255,0,0,1)"
	   				}, {
	   					data: {{ chart.electricity2|safe }},
	   					label: "{% trans 'Electricity 2 (peak)' %}",	       				
	   					fillColor: "rgba(255,255,255,0.2)",
	   					strokeColor: "rgba(255,0,0,1)",
	   					pointColor: "rgba(255,0,0,1)",
	   					pointStrokeColor: "#fff",
	   					pointHighlightFill: "#fff",
	   					pointHighlightStroke: "rgba(255,0,0,1)"
	   				}, {
	   					data: {{ chart.electricity1_returned|safe }},
	   					label: "{% trans 'Electricity 1 returned (off-peak)' %}",	       				
	   					fillColor: "rgba(255,255,255,0.2)",
	   					strokeColor: "rgba(133,20,75,1)",
	   					pointColor: "rgba(133,20,75,1)",
	   					pointStrokeColor: "#fff",
	   					pointHighlightFill: "#fff",
	   					pointHighlightStroke: "rgba(133,20,75,1)"
	   				}, {
	   					data: {{ chart.electricity2_returned|safe }},
	   					label: "{% trans 'Electricity 1 returned (peak)' %}",	       				
	   					fillColor: "rgba(255,255,255,0.2)",
	   					strokeColor: "rgba(133,20,75,1)",
	   					pointColor: "rgba(133,20,75,1)",
	   					pointStrokeColor: "#fff",
	   					pointHighlightFill: "#fff",
	   					pointHighlightStroke: "rgba(133,20,75,1)"
	   				}]
	   			};
	
	   			var ctx = $("#electricity-chart").get(0).getContext("2d");
	   			new Chart(ctx).Line(data, line_options);
   			}
            
            function render_gas_chart()
            {
                var data = {
                    labels: {{ chart.days|safe }},
                    datasets: [{
                        data: {{ chart.gas|safe }},
                        label: "{% trans 'Gas' %}",                       
                        fillColor: "rgba(255,255,255,0.2)",
                        strokeColor: "rgba(250,133,0,1)",
                        pointColor: "rgba(250,133,0,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(150,150,150,1)"
                    }]
                };

                var ctx = $("#gas-chart").get(0).getContext("2d");
                new Chart(ctx).Line(data, line_options);
            }
            
        {% if track_temperature %}
		   	function render_temperature_chart()
		   	{
		   		var data = {
	   				labels: {{ chart.days|safe }},
	   				datasets: [{
	   					data: {{ chart.average_temperature|safe }},
	   					label: "{% trans 'Temperature' %}",	       				
	   					fillColor: "rgba(255,255,255,0.2)",
                        strokeColor: "rgba(35,183,229,1)",
                        pointColor: "rgba(35,183,229,1)",
	   					pointStrokeColor: "#fff",
	   					pointHighlightFill: "#fff",
	   					pointHighlightStroke: "rgba(150,150,150,1)"
	   				}]
	   			};

	   			var ctx = $("#temperature-chart").get(0).getContext("2d");
	   			new Chart(ctx).Line(data, line_options);
   			}
	   	{% endif %}

		</script>
{% endblock %}