{% extends "dsmr_frontend/base.html" %}
{% load static %}
{% load humanize %}
{% load i18n %} 
{% load l10n %}

{% block title %}{% translate "Live graphs" %}{% endblock %}
{% block header %}{% translate "Live graphs" %} &nbsp; <i class="fas fa-chart-bar"></i>{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
    {% if not capabilities.any %}
    <div class="alert alert-warning" role="alert">
        <span class="fas fa-exclamation-triangle fa-2x"></span> &nbsp; {% blocktranslate %}No data found yet. Please make sure either the dsmr_datalogger process running or you supply data using the API. The dsmr_backend process should run as well.{% endblocktranslate %}
    </div>
    {% endif %}

    {% if capabilities.electricity %}
    {% include "dsmr_frontend/fragments/live-header-include.html" with capabilities=capabilities %}

    <div class="row" data-graph-type="electricity">
        <div class="col-sm-12">
            <div class="panel">
                <header class="panel-heading">
                    {% translate "Recent electricity consumption" %}
                </header>
                <div class="panel-body">
                    <div id="echarts-electricity-graph" style="width: 100%; height: 300px;"></div>
                    <div class="graph_controls_help">
                        {% blocktranslate %}Scroll or pinch the graph to zoom in and out. To change the current point in time, drag the graph sideways, or use the scrollbar/control below the graph.{% endblocktranslate %}
                        {% blocktranslate %}You can increase the total number of hours displayed (up to a week), and the initial zoom used, in the Frontend configuration.{% endblocktranslate %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    {% if capabilities.multi_phases %}
    <div class="row" id="phases_holder" data-graph-type="phases">
        <div class="col-sm-12">
            <div class="panel">
                <header class="panel-heading">
                    {% translate "Recent distribution of electricity phases" %}
                </header>
                <div class="panel-body">
                    <div id="echarts-phases-graph" style="width: 100%; height: 300px;"></div>
                    <div class="graph_controls_help">
                        {% blocktranslate %}Scroll or pinch the graph to zoom in and out. To change the current point in time, drag the graph sideways, or use the scrollbar/control below the graph.{% endblocktranslate %}
                        {% blocktranslate %}You can increase the total number of hours displayed (up to a week), and the initial zoom used, in the Frontend configuration.{% endblocktranslate %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}   

    {% if capabilities.voltage %}
    <div class="row" id="voltage_holder" data-graph-type="voltage">
        <div class="col-sm-12">
            <div class="panel">
                <header class="panel-heading">
                    {% translate "Recent phase voltages" %}
                </header>
                <div class="panel-body">
                    <div id="echarts-voltage-graph" style="width: 100%; height: 300px;"></div>
                    <div class="graph_controls_help">
                        {% blocktranslate %}Scroll or pinch the graph to zoom in and out. To change the current point in time, drag the graph sideways, or use the scrollbar/control below the graph.{% endblocktranslate %}
                        {% blocktranslate %}You can increase the total number of hours displayed (up to a week), and the initial zoom used, in the Frontend configuration.{% endblocktranslate %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if capabilities.power_current %}
    <div class="row" id="power_current_holder" data-graph-type="power">
        <div class="col-sm-12">
            <div class="panel">
                <header class="panel-heading">
                    {% translate "Recent phase currents" %}
                </header>
                <div class="panel-body">
                    <div id="echarts-power-current-graph" style="width: 100%; height: 300px;"></div>
                    <div class="graph_controls_help">
                        {% blocktranslate %}Scroll or pinch the graph to zoom in and out. To change the current point in time, drag the graph sideways, or use the scrollbar/control below the graph.{% endblocktranslate %}
                        {% blocktranslate %}You can increase the total number of hours displayed (up to a week), and the initial zoom used, in the Frontend configuration.{% endblocktranslate %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if capabilities.gas %}
    <div class="row" data-graph-type="gas">
        <div class="col-sm-12">
            <div class="panel">
                <header class="panel-heading">
                    {% translate "Recent gas consumption" %}
                </header>
                <div class="panel-body">
                    <div id="echarts-gas-graph" style="width: 100%; height: 300px;"></div>
                    <div class="graph_controls_help">
                        {% blocktranslate %}Scroll or pinch the graph to zoom in and out. To change the current point in time, drag the graph sideways, or use the scrollbar/control below the graph.{% endblocktranslate %}
                        <strong>{% blocktranslate %}Additionally, when using a DSMR v5 smart meter{% endblocktranslate %}</strong>: {% blocktranslate %}You can increase the total number of hours displayed (up to a week), and the initial zoom used, in the Frontend configuration.{% endblocktranslate %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    {% if capabilities.weather %}
    <div class="row" id="weather_holder" data-graph-type="weather">
        <div class="col-sm-12">
            <div class="panel">
                <header class="panel-heading">
                    {% translate "Recent temperatures" %}
                </header>
                <div class="panel-body">
                    <div id="echarts-temperature-graph" style="width: 100%; height: 300px;"></div>
                    <div class="graph_controls_help">
                        {% blocktranslate %}Scroll or pinch the graph to zoom in and out. To change the current point in time, drag the graph sideways, or use the scrollbar/control below the graph.{% endblocktranslate %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>
{% endblock %}


{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'dsmr_frontend/js/echarts.common-4.9.0.min.js' %}"></script>

    <script type="text/javascript">
        {% localize off %}
        const telegram_dsmr_version = '{{ meter_statistics.dsmr_version|default:'' }}';
        const is_multi_phase = {{ capabilities.multi_phases|yesno:'true,false' }};
        const live_graphs_initial_zoom = 100 - {{ frontend_settings.live_graphs_initial_zoom }};
        const echarts_loading_options = {text: '{% blocktranslate %}Loading...{% endblocktranslate %}'};
        {% endlocalize %}
    </script>
    {{ sorted_graphs_json|json_script:'sorted_graphs_json' }}

{% if capabilities.electricity %}
    <script type="text/javascript">
        {% if capabilities.electricity_returned %}
        const echarts_electricity_graph_url = "{% url 'frontend:live-xhr-electricity' %}?delivered=True&returned=True";
        {% else %}
        const echarts_electricity_graph_url = "{% url 'frontend:live-xhr-electricity' %}?delivered=True";
        {% endif %}
        
        const electricity_delivered_color = "{{ frontend_settings.electricity_delivered_color }}";
        const electricity_returned_color = "{{ frontend_settings.electricity_returned_color }}";
        const echarts_electricity_graph_interval = 3;
    </script>
    <script type="text/javascript" src="{% static 'dsmr_frontend/js/dsmr-reader/live/electricity.js' %}?r=v{{ dsmr_version }}"></script>
{% endif %}

{% if capabilities.multi_phases %}
    <script type="text/javascript">
        {% if capabilities.electricity_returned %}
        const echarts_phases_graph_url = "{% url 'frontend:live-xhr-electricity' %}?phases=True&returned=True";
        {% else %}
        const echarts_phases_graph_url = "{% url 'frontend:live-xhr-electricity' %}?phases=True";
        {% endif %}
        
        const phase_delivered_l1_color = "{{ frontend_settings.phase_delivered_l1_color }}";
        const phase_delivered_l2_color = "{{ frontend_settings.phase_delivered_l2_color }}";
        const phase_delivered_l3_color = "{{ frontend_settings.phase_delivered_l3_color }}";
        const phase_returned_l1_color = "{{ frontend_settings.phase_returned_l1_color }}";
        const phase_returned_l2_color = "{{ frontend_settings.phase_returned_l2_color }}";
        const phase_returned_l3_color = "{{ frontend_settings.phase_returned_l3_color }}";
        
        const echarts_phases_graph_interval = 3;
    </script>
    <script type="text/javascript" src="{% static 'dsmr_frontend/js/dsmr-reader/live/phases.js' %}?r=v{{ dsmr_version }}"></script>
{% endif %}

{% if capabilities.voltage %}
    <script type="text/javascript">
        const echarts_voltage_graph_url = "{% url 'frontend:live-xhr-electricity' %}?voltage=True";
        const voltage_l1_color = "{{ frontend_settings.phase_delivered_l1_color }}";
        const voltage_l2_color = "{{ frontend_settings.phase_delivered_l2_color }}";
        const voltage_l3_color = "{{ frontend_settings.phase_delivered_l3_color }}";

        const echarts_voltage_graph_interval = 3;
    </script>
    <script type="text/javascript" src="{% static 'dsmr_frontend/js/dsmr-reader/live/voltage.js' %}?r=v{{ dsmr_version }}"></script>
{% endif %}

{% if capabilities.power_current %}
    <script type="text/javascript">
        const echarts_power_current_graph_url = "{% url 'frontend:live-xhr-electricity' %}?power_current=True";
        const power_current_l1_color = "{{ frontend_settings.phase_delivered_l1_color }}";
        const power_current_l2_color = "{{ frontend_settings.phase_delivered_l2_color }}";
        const power_current_l3_color = "{{ frontend_settings.phase_delivered_l3_color }}";

        const echarts_power_current_graph_interval = 3;
    </script>
    <script type="text/javascript" src="{% static 'dsmr_frontend/js/dsmr-reader/live/power-current.js' %}?r=v{{ dsmr_version }}"></script>
{% endif %}

{% if capabilities.gas %}
    <script type="text/javascript">
        const echarts_gas_graph_url = "{% url 'frontend:live-xhr-gas' %}";
        const gas_delivered_color = "{{ frontend_settings.gas_delivered_color }}";
        const gas_graph_style = "{{ frontend_settings.gas_graph_style }}";
    </script>
    <script type="text/javascript" src="{% static 'dsmr_frontend/js/dsmr-reader/live/gas.js' %}?r=v{{ dsmr_version }}"></script>
{% endif %}

{% if capabilities.weather %}
    <script type="text/javascript">
        const echarts_temperature_graph_url = "{% url 'frontend:live-xhr-temperature' %}";
        const temperature_color = "{{ frontend_settings.temperature_color }}";
    </script>
    <script type="text/javascript" src="{% static 'dsmr_frontend/js/dsmr-reader/live/temperature.js' %}?r=v{{ dsmr_version }}"></script>
{% endif %}
 
    <script type="text/javascript" src="{% static 'dsmr_frontend/js/dsmr-reader/consumption-header.js' %}?r=v{{ dsmr_version }}"></script>
    <script type="text/javascript">
        const xhr_consumption_header_url = "{% url 'frontend:xhr-consumption-header' %}";
        const sorted_graphs = $.parseJSON($('#sorted_graphs_json').text())

        $(document).ready(function(){
            /* This will reschedule itself again after completion. */
            update_consumption_header(1000);

            /* Reload entire page after X minutes. */
            setTimeout(function(){ location.reload(); }, 5 * 60 * 1000)

            // Sort graphs by preference.
            $('section.content > div').sort(graph_sort_callback).appendTo('section.content');
        });

        $(".help-trigger").click(function () {
            $(this).next().show();
            $(this).remove();
            return false;
        });

        function graph_sort_callback(a, b) {
            let aPos = sorted_graphs.indexOf($(a).data('graph-type'))
            let bPos = sorted_graphs.indexOf($(b).data('graph-type'))
            return (aPos) < (bPos) ? -1 : 1;
        }

    </script>

{% endblock %}
