{% extends "dsmr_frontend/base.html" %}
{% load humanize %} 
{% load static %} 
{% load i18n %}

{% block title %}{% trans "Status" %}{% endblock %}
{% block header %}{% trans "Status" %} &nbsp; <i class="fa fa-heartbeat"></i>{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
{% if not capabilities.any %}
    <div class="alert alert-danger" role="alert">
        <span class="fa fa-exclamation fa-2x"></span> {% blocktrans %}No data found. Please make sure the datalogger is up and running and the backend process is running as well.{% endblocktrans %}
    </div>
{% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    <i class="fa fa-cube"></i> &nbsp; {% trans "DSMR-reader" %} <br />
                </header>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <td class="col-md-6">{% trans "Current application version" %}</td>
                            <td class="col-md-6"><a href="https://github.com/dennissiemensma/dsmr-reader/releases/" target="_blank" title="{% trans 'View releases' %}">v{{ dsmr_version }}</a></td>
                        </tr>
                        <tr>
                            <td class="col-md-6">{% trans "Check for updates" %}</td>
                            <td class="col-md-6">
                                <a class="btn btn-success" href="#" id="check_for_updates"><i class="fa fa-refresh"></i> &nbsp; {% trans 'Check now' %}</a>
                                <div id="loader" style="display: none;"><i class="fa fa-refresh fa-spin fa-fw"></i> &nbsp; {% trans 'Currently checking for updates...' %}</div>
                                <div id="update_available" class="alert alert-warning" role="alert" style="display: none;">
	                                <i class="fa fa-exclamation"></i> &nbsp; {% blocktrans %}There is a newer version available!{% endblocktrans %} 
	                                <a href="https://github.com/dennissiemensma/dsmr-reader/releases" target="_blank">{% trans 'View the latest release' %}</a> {% trans 'for the changelog and further upgrade instructions.' %}
	                            </div>
                                <div id="no_update_available" class="alert alert-info" role="alert" style="display: none;"><i class="fa fa-smile-o"></i> &nbsp; {% blocktrans %}You are already running the latest version released.{% endblocktrans %}</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- /.row -->
 
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    <i class="fa fa-plug"></i> &nbsp; {% trans "Readings" %} <br />
                    <small>{% blocktrans %}Status regarding the latest data read from your meter.{% endblocktrans %}</small>
                </header>
                <div class="panel-body">
                    {% if delta_since_latest_reading == None or delta_since_latest_reading > 60 %}
                    <div class="alert alert-danger" role="alert">
                        <span class="fa fa-exclamation fa-2x"></span> 
                        {% blocktrans %}It has been a while since the latest meter reading. Your <strong>datalogger process</strong> might hang or has been crashed.{% endblocktrans %}
                    </div>
                    {% endif %}
                    <table class="table table-condensed">
                        <tr>
                            <td class="col-md-6">{% trans "Latest reading" %}</td>
                            <td class="col-md-6">{% if latest_reading %}{{ latest_reading.timestamp|naturaltime }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td class="col-md-6">{% trans "First reading" %}</td>
                            <td class="col-md-6">{% if first_reading %}<span class="badge bg-navy">{{ first_reading.timestamp|default:'-' }}</span>{% endif %}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- /.row -->
 
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    <i class="fa fa-cogs"></i> &nbsp; {% trans "Background" %}<br />
                    <small>{% blocktrans %}Status regarding processing readings, making them visible in other pages and graphs.{% endblocktrans %}</small>
                </header>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <td class="col-md-6">{% trans "Unprocessed readings" %}</td>
                            <td class="col-md-6">
                                {{ unprocessed_readings|default:'-' }}
                                
		                        {% if unprocessed_readings > 30 %}
		                        <br /><br />
		                        <div class="alert alert-danger" role="alert">
		                            <span class="fa fa-exclamation fa-2x"></span>
		                            {% blocktrans %}There are too many unprocessed readings. Your <strong>backend process</strong> might hang or has been crashed.{% endblocktrans %}
		                        </div>
		                        {% endif %}
                            </td>
                        </tr>
                        {% if latest_ec %}
                        <tr>
                            <td class="col-md-6">{% trans "Latest electricity consumption tracked" %}</td>
                            <td class="col-md-6">
                                {{ latest_ec.read_at|naturaltime }}

		                        {% if delta_since_latest_ec == None or delta_since_latest_ec > 120 %}
		                        <br /><br />
		                        <div class="alert alert-danger" role="alert">
		                            <span class="fa fa-exclamation fa-2x"></span>
		                            {% blocktrans %}It has been a while since electricity consumption was tracked. Your <strong>backend process</strong> might hang or has been crashed.{% endblocktrans %}
		                        </div>
		                        {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% if latest_gc %}
                        <tr>
                            <td class="col-md-6">{% trans "Latest gas consumption tracked" %}</td>
                            <td class="col-md-6">
                                {{ latest_gc.read_at|naturaltime }}
                                
		                        {% if delta_since_latest_gc == None or delta_since_latest_gc > 9000 %}
                                <br /><br />
		                        <div class="alert alert-danger" role="alert">
		                            <span class="fa fa-exclamation fa-2x"></span>
		                            {% blocktrans %}It has been a while since gas consumption was tracked. Your <strong>backend process</strong> might hang or has been crashed.{% endblocktrans %}
		                        </div>
		                        {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    <i class="fa fa-eye"></i> &nbsp; {% trans "Data availability" %} <br />
                    <small>{% blocktrans %}Based on readings until this moment. Electricity usage should be always available. Gas usage and electricity return depend on your home situation.{% endblocktrans %}</small>
                </header>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th class="col-md-6">{% trans "Data type" %}</th>
                            <th class="col-md-6">{% trans "Read" %}</th>
                        </tr>
                        <tr>
                            <td><span class="badge bg-red">&nbsp;<i class="fa fa-bolt fa-lg"></i>&nbsp;</span> &nbsp; {% trans "Electricity usage" %}</td>
                            <td><i class="fa fa-{{ capabilities.electricity|yesno:'check-square-o,close' }} fa-lg"></i></td>
                        </tr>
                        <tr>
                            <td><span class="badge bg-green">&nbsp;<i class="fa fa-bolt fa-lg"></i>&nbsp;</span> &nbsp; {% trans "Electricity return" %}</td>
                            <td><i class="fa fa-{{ capabilities.electricity_returned|yesno:'check-square-o,close' }} fa-lg"></i></td>
                        </tr>
                        <tr>
                            <td><span class="badge bg-orange"><i class="fa fa-fire fa-lg"></i></span> &nbsp; {% trans "Gas usage" %}</td>
                            <td><i class="fa fa-{{ capabilities.gas|yesno:'check-square-o,close' }} fa-lg"></i></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- /.row -->

</section>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">

	$(document).ready(function(){
		$("#check_for_updates").click(function(){
			check_for_updates();
			return false;
		});
	});
	
	/**
	 * Updates the header.
	 */
	function check_for_updates()
	{
		$("#check_for_updates").hide();
	    $("#loader").show();
	    console.log($("#loader"));
	    $.ajax({
	        dataType: "json",
	        url: "{% url 'frontend:status-xhr-check-for-updates' %}",
	    }).done(function(response) {
	        $("#loader").hide();

	        if (response.update_available)
	        {
	        	$("#update_available").show();
	        }
	        else
        	{
	        	$("#no_update_available").show();
        	}
	    });
	}

</script>
{% endblock %}
