{% extends "dsmr_frontend/base.html" %}
{% load humanize %} 
{% load static %} 
{% load i18n %}

{% block title %}{% translate "Status" %}{% endblock %}
{% block header %}{% translate "Status" %} &nbsp; <i class="fas fa-heartbeat"></i>{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <header class="panel-heading">
                    <i class="fas fa-cogs"></i> &nbsp; {% translate "Monitoring issues" %} <br />
                </header>
                <div class="panel-body">
                    {% for current in monitoring_issues %}
                        <div class="row">
                            <div class="col-sm-6">
                                <strong>{{ current.description }}</strong>
                            </div>
                            <div class="col-sm-6">
                                <div class="alert alert-danger" role="alert">
                                    <small>{% translate "Since" %}: <strong>{{ current.since|naturaltime|default:'-' }}</strong></small>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="alert alert-success" role="alert">
                                    <i class="fas fa-check"></i> &nbsp; <small>{% translate "No issues found" %}.</small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}
