{% extends "dsmr_frontend/base.html" %}
{% load humanize %} 
{% load i18n %}

{% block title %}{% trans "Statistics" %}{% endblock %}
{% block header %}{% trans "Statistics" %}{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% trans "Readings" %}
                </header>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <td class="col-md-7">{% trans "Latest reading" %}</td>
                            <td class="col-md-5">
                            {% if latest_reading %}
                            	<span class="badge bg-navy">{{ latest_reading.timestamp|naturaltime }}</span>
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans "First reading" %}</td>
                            <td>
                            {% if first_reading %}
                            	<span class="badge bg-navy">{{ first_reading.timestamp|default:'-' }}</span>
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans "Total reading count" %}</td>
                            <td><span class="badge bg-navy">{{ total_reading_count|default:'-'|intcomma }}</span></td>
                        </tr>
                    </table>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->                        
                        
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% trans "Meter positions" %}
                </header>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th class="col-md-7">&nbsp;</th>
                            <th class="col-md-3">{% trans "Delivered" %}</th>
                            <th class="col-md-2">{% trans "Returned" %}</th>
                        </tr>
                        <tr>
                            <td>{% trans "Electricity 1 (off-peak)" %}</td>
                            <td><span class="badge bg-red">{{ latest_reading.electricity_delivered_1|default:'-' }} {% trans "kWh" noop %}</span></td>
                            <td><span class="badge bg-maroon">{{ latest_reading.electricity_returned_1|default:'-' }} {% trans "kWh" noop %}</span></td>
                        </tr>
                        <tr>
                            <td>{% trans "Electricity 2 (peak)" %}</td>
                            <td><span class="badge bg-red">{{ latest_reading.electricity_delivered_2|default:'-' }} {% trans "kWh" noop %}</span></td>
                            <td><span class="badge bg-maroon">{{ latest_reading.electricity_returned_2|default:'-' }} {% trans "kWh" noop %}</span></td>
                        </tr>
                        <tr>
                            <td>{% trans "Gas " %}</td>
                            <td colspan="2"><span class="badge bg-orange">{{ latest_reading.extra_device_delivered|default:'-' }} {% trans "m<sup>3</sup>" noop %}</span></td>
                        </tr>
                    </table>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->
 
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% trans "Miscellaneous statistics" %}
                </header>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <td class="col-md-7">{% trans "Number of power failures in any phases" %}</td>
                            <td class="col-md-5"><span class="badge bg-black">{{ latest_reading.power_failure_count|default:'-' }}</span></td>
                        </tr>
                        <tr>
                            <td>{% trans "Number of long power failures in any phase" %}</td>
                            <td><span class="badge bg-black">{{ latest_reading.long_power_failure_count|default:'-' }}</span></td>
                        </tr>
                        <tr>
                            <td>{% trans "Number of voltage sags/dips in phase L1" %}</td>
                            <td><span class="badge bg-olive">{{ latest_reading.voltage_sag_count_l1|default:'-' }}</span></td>
                        </tr>
                        <tr>
                            <td>{% trans "Number of voltage sags/dips in phase L2 (polyphase meters only)" %}</td>
                            <td><span class="badge bg-olive">{{ latest_reading.voltage_sag_count_l2|default:'-' }}</span></td>
                        </tr>
                        <tr>
                            <td>{% trans "Number of voltage sags/dips in phase L3 (polyphase meters only)" %}</td>
                            <td><span class="badge bg-olive">{{ latest_reading.voltage_sag_count_l3|default:'-' }}</span></td>
                        </tr>
                        <tr>
                            <td>{% trans "Number of voltage swells in phase L1" %}</td>
                            <td><span class="badge bg-olive">{{ latest_reading.voltage_swell_count_l1|default:'-' }}</span></td>
                        </tr>
                        <tr>
                            <td>{% trans "Number of voltage swells in phase L2 (polyphase meters only)" %}</td>
                            <td><span class="badge bg-olive">{{ latest_reading.voltage_swell_count_l2|default:'-' }}</span></td>
                        </tr>
                        <tr>
                            <td>{% trans "Number of voltage swells in phase L3 (polyphase meters only)" %}</td>
                            <td><span class="badge bg-olive">{{ latest_reading.voltage_swell_count_l3|default:'-' }}</span></td>
                        </tr>
                    </table>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->
    
    {% if energy_prices %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                	{% trans "Current energy prices" %}: {{ energy_prices.description }}
                </header>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th class="col-md-7">{{ energy_prices.start }} &larr;&rarr; {{ energy_prices.end|default:'-' }}</th>
                            <th class="col-md-5">{% trans "Unit price" %}</th>
                        </tr>
                        <tr>
                            <td class="col-md-7">{% trans "Electricity 1" %}</td>
                            <td class="col-md-5"><span class="badge bg-black">&euro; {{ energy_prices.electricity_1_price }}</span></td>
                        </tr>
                        <tr>
                            <td>{% trans "Electricity 2" %}</td>
                            <td><span class="badge bg-black">&euro; {{ energy_prices.electricity_2_price }}</span></td>
                        </tr>
                        <tr>
                            <td>{% trans "Gas" %}</td>
                            <td><span class="badge bg-black">&euro; {{ energy_prices.gas_price }}</span></td>
                        </tr>
                    </table>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->
    {% endif %}

</section><!-- /.content -->
{% endblock %}