{% extends "dsmr_frontend/base.html" %}
{% load humanize %} 
{% load static %} 
{% load i18n %}

{% block title %}{% trans "Statistics" %}{% endblock %}
{% block header %}{% trans "Statistics" %} &nbsp; <i class="fas fa-list"></i>{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
{% if not capabilities.any %}
    <div class="alert alert-danger" role="alert">
        <span class="fas fa-exclamation fa-2x"></span> {% blocktrans %}No data found. Please make sure the datalogger is up and running and the backend process is running as well.{% endblocktrans %}</div>
{% endif %}

{% if capabilities.any %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% trans "Meter positions" %}
                </header>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th class="col-md-6">{% if latest_reading %}{{ latest_reading.timestamp|naturaltime }}{% endif %}</th>
                            <th class="col-md-3">{% trans "Delivered" %} ({% trans "kWh" noop %}{% if capabilities.gas %} / {% trans "m<sup>3</sup>" noop %}){% endif %}</th>
                            
                            <th class="col-md-3">{% if capabilities.electricity_returned %}{% trans "Returned" %} ({% trans "kWh" noop %}){% endif %}</th>
                        </tr>
                        <tr>
                            <td>{% trans "Electricity 1 (low tariff)" %}</td>
                            <td><span class="badge bg-red">{{ latest_reading.electricity_delivered_1|default:'-' }} </span></td>
                            <td><span class="badge bg-green">{% if capabilities.electricity_returned %}{{ latest_reading.electricity_returned_1|default:'-' }}{% endif %}</span></td>
                        </tr>
                        <tr>
                            <td>{% trans "Electricity 2 (high tariff)" %}</td>
                            <td><span class="badge bg-red">{{ latest_reading.electricity_delivered_2|default:'-' }}</span></td>
                            <td><span class="badge bg-green">{% if capabilities.electricity_returned %}{{ latest_reading.electricity_returned_2|default:'-' }}{% endif %}</span></td>
                        </tr>
                        {% if latest_reading and delivered_sum %}
                        <tr>
                            <td>{% trans "Electricity (tariffs combined)" %}</td>
                            <td><span class="badge bg-red">{{ delivered_sum|default:'-' }}</span></td>
                            <td><span class="badge bg-green">{% if capabilities.electricity_returned %}{{ returned_sum|default:'-' }}{% endif %}</span></td>
                        </tr>
                        {% endif %}
                        
                        {% if capabilities.gas %}
                        <tr>
                            <td>{% trans "Gas " %}</td>
                            <td colspan="2"><span class="badge bg-orange">{{ latest_reading.extra_device_delivered|default:'-' }}</span></td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% trans "Meter statistics" %}
                </header>
                <div class="panel-body">
                    <table class="table table-condensed">
                        {% if meter_statistics.power_failure_count %}
                        <tr>
                            <td class="col-md-6">{% trans "Number of power failures in any phases" %}</td>
                            <td class="col-md-6"><span class="badge bg-black">{{ meter_statistics.power_failure_count|default:'-' }}</span></td>
                        </tr>
                        {% endif %}
                        {% if meter_statistics.long_power_failure_count %}
                        <tr>
                            <td>{% trans "Number of long power failures in any phase" %}</td>
                            <td><span class="badge bg-black">{{ meter_statistics.long_power_failure_count|default:'-' }}</span></td>
                        </tr>
                        {% endif %}
                        {% if meter_statistics.voltage_sag_count_l1 %}
                        <tr>
                            <td>{% trans "Number of voltage sags/dips in phase L1" %}</td>
                            <td><span class="badge bg-olive">{{ meter_statistics.voltage_sag_count_l1|default:'-' }}</span></td>
                        </tr>
                        {% endif %}
                        {% if meter_statistics.voltage_sag_count_l2 %}
                        <tr>
                            <td>{% trans "Number of voltage sags/dips in phase L2 (polyphase meters only)" %}</td>
                            <td><span class="badge bg-olive">{{ meter_statistics.voltage_sag_count_l2|default:'-' }}</span></td>
                        </tr>
                        {% endif %}
                        {% if meter_statistics.voltage_sag_count_l3 %}
                        <tr>
                            <td>{% trans "Number of voltage sags/dips in phase L3 (polyphase meters only)" %}</td>
                            <td><span class="badge bg-olive">{{ meter_statistics.voltage_sag_count_l3|default:'-' }}</span></td>
                        </tr>
                        {% endif %}
                        {% if meter_statistics.voltage_swell_count_l1 %}
                        <tr>
                            <td>{% trans "Number of voltage swells in phase L1" %}</td>
                            <td><span class="badge bg-olive">{{ meter_statistics.voltage_swell_count_l1|default:'-' }}</span></td>
                        </tr>
                        {% endif %}
                        {% if meter_statistics.voltage_swell_count_l2 %}
                        <tr>
                            <td>{% trans "Number of voltage swells in phase L2 (polyphase meters only)" %}</td>
                            <td><span class="badge bg-olive">{{ meter_statistics.voltage_swell_count_l2|default:'-' }}</span></td>
                        </tr>
                        {% endif %}
                        {% if meter_statistics.voltage_swell_count_l3 %}
                        <tr>
                            <td>{% trans "Number of voltage swells in phase L3 (polyphase meters only)" %}</td>
                            <td><span class="badge bg-olive">{{ meter_statistics.voltage_swell_count_l3|default:'-' }}</span></td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
 
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% trans "Telegram readings" %}
                </header>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <td class="col-md-6">
                                {% trans "Total reading count" %} <small>
                                <br />
                                {% blocktrans %}The number of P1 DSMR telegrams read and stored in the application.{% endblocktrans %}</small>
                            </td>
                            <td class="col-md-6 ">
                                <a class="btn btn-primary trigger-extra-statistics" href="#"><i class="fas fa-sync"></i> &nbsp; {% trans 'Show' %}</a>
                                <i class="fas fa-spinner fa-pulse fa-fw xhr-loader hidden"></i>
                                <span class="badge bg-black xhr-hidden">
                                   <span id="total_reading_count"></span>
                                </span>
                            </td>
                        </tr>
                        {% if meter_statistics.rejected_telegrams %}
                        <tr>
                            <td>{% trans "Number of rejected telegrams due to invalid CRC checksum" %}</td>
                            <td><span class="badge bg-black">{{ meter_statistics.rejected_telegrams|default:'-' }}</span></td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
   
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% trans "All time highs & lows" %}
                </header>
                <div class="panel-body">
                
                {% if electricity_statistics and datalogger_settings.track_phases %}
                    <table class="table table-condensed">
                        {% if electricity_statistics.highest_usage_l1_value %}
                        <tr>
                            <td class="col-md-6">{% trans "Highest usage (L1+)" %}</td>
                            <td class="col-md-6">
                                <span class="badge bg-red">
                                   <i class="fas fa-bolt"></i> &nbsp; {{ electricity_statistics.highest_usage_l1_value }} &nbsp; 
                                   {% trans "Watt" %} &nbsp; - &nbsp; {{ electricity_statistics.highest_usage_l1_timestamp }}
                                </span>
                            </td>
                        </tr>
                        {% endif %}
                        {% if electricity_statistics.highest_usage_l2_value %}
                        <tr>
                            <td class="col-md-6">{% trans "Highest usage (L2+)" %}</td>
                            <td class="col-md-6">
                                <span class="badge bg-red">
                                   <i class="fas fa-bolt"></i> &nbsp; {{ electricity_statistics.highest_usage_l2_value }} &nbsp; 
                                   {% trans "Watt" %} &nbsp; - &nbsp; {{ electricity_statistics.highest_usage_l2_timestamp }}
                                </span>
                            </td>
                        </tr>
                        {% endif %}
                        {% if electricity_statistics.highest_usage_l3_value %}
                        <tr>
                            <td class="col-md-6">{% trans "Highest usage (L3+)" %}</td>
                            <td class="col-md-6">
                                <span class="badge bg-red">
                                   <i class="fas fa-bolt"></i> &nbsp; {{ electricity_statistics.highest_usage_l3_value }} &nbsp; 
                                   {% trans "Watt" %} &nbsp; - &nbsp; {{ electricity_statistics.highest_usage_l3_timestamp }}
                                </span>
                            </td>
                        </tr>
                        {% endif %}

                        {% if electricity_statistics.lowest_usage_l1_value %}
                        <tr>
                            <td class="col-md-6">{% trans "Lowest usage (L1+)" %}</td>
                            <td class="col-md-6">
                                <span class="badge bg-red">
                                   <i class="fas fa-bolt"></i> &nbsp; {{ electricity_statistics.lowest_usage_l1_value }} &nbsp; 
                                   {% trans "Watt" %} &nbsp; - &nbsp; {{ electricity_statistics.lowest_usage_l1_timestamp }}
                                </span>
                            </td>
                        </tr>
                        {% endif %}
                        {% if electricity_statistics.lowest_usage_l2_value %}
                        <tr>
                            <td class="col-md-6">{% trans "Lowest usage (L2+)" %}</td>
                            <td class="col-md-6">
                                <span class="badge bg-red">
                                   <i class="fas fa-bolt"></i> &nbsp; {{ electricity_statistics.lowest_usage_l2_value }} &nbsp; 
                                   {% trans "Watt" %} &nbsp; - &nbsp; {{ electricity_statistics.lowest_usage_l2_timestamp }}
                                </span>
                            </td>
                        </tr>
                        {% endif %}
                        {% if electricity_statistics.lowest_usage_l3_value %}
                        <tr>
                            <td class="col-md-6">{% trans "Lowest usage (L3+)" %}</td>
                            <td class="col-md-6">
                                <span class="badge bg-red">
                                   <i class="fas fa-bolt"></i> &nbsp; {{ electricity_statistics.lowest_usage_l3_value }} &nbsp; 
                                   {% trans "Watt" %} &nbsp; - &nbsp; {{ electricity_statistics.lowest_usage_l3_timestamp }}
                                </span>
                            </td>
                        </tr>
                        {% endif %}
                        
                        {% if electricity_statistics.highest_return_l1_value %}
                        <tr>
                            <td class="col-md-6">{% trans "Highest return (L1-)" %}</td>
                            <td class="col-md-6">
                                <span class="badge bg-green">
                                   <i class="fas fa-bolt"></i> &nbsp; {{ electricity_statistics.highest_return_l1_value }} &nbsp; 
                                   {% trans "Watt" %} &nbsp; - &nbsp; {{ electricity_statistics.highest_return_l1_timestamp }}
                                </span>
                            </td>
                        </tr>
                        {% endif %}
                        {% if electricity_statistics.highest_return_l2_value %}
                        <tr>
                            <td class="col-md-6">{% trans "Highest return (L2-)" %}</td>
                            <td class="col-md-6">
                                <span class="badge bg-green">
                                   <i class="fas fa-bolt"></i> &nbsp; {{ electricity_statistics.highest_return_l2_value }} &nbsp; 
                                   {% trans "Watt" %} &nbsp; - &nbsp; {{ electricity_statistics.highest_return_l2_timestamp }}
                                </span>
                            </td>
                        </tr>
                        {% endif %}
                        {% if electricity_statistics.highest_return_l3_value %}
                        <tr>
                            <td class="col-md-6">{% trans "Highest return (L3-)" %}</td>
                            <td class="col-md-6">
                                <span class="badge bg-green">
                                   <i class="fas fa-bolt"></i> &nbsp; {{ electricity_statistics.highest_return_l3_value }} &nbsp; 
                                   {% trans "Watt" %} &nbsp; - &nbsp; {{ electricity_statistics.highest_return_l3_timestamp }}
                                </span>
                            </td>
                        </tr>
                        {% endif %}
                    </table>
                    {% else %}
                        <small>{% blocktrans %}Enable "Track electricity phases" in the Datalogger Configuration to track this data.{% endblocktrans %}</small>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
{% endif %}
    
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                	{% trans "Current energy prices" %}{% if energy_prices %}: {{ energy_prices.description }}{% endif %}
                </header>
                <div class="panel-body">
                    {% if energy_prices %}
                    <table class="table table-condensed">
                        <tr>
                            <th class="col-md-6">{{ energy_prices.start }} &larr;&rarr; {{ energy_prices.end|default:'-' }}</th>
                            <th class="col-md-6">{% trans "Unit price" %} (&euro;)</th>
                        </tr>
                        <tr>
                            <td class="col-md-6">{% trans "Electricity 1 price (low tariff)" %}</td>
                            <td class="col-md-6"><span class="badge bg-black">{{ energy_prices.electricity_delivered_1_price }}</span></td>
                        </tr>
                        <tr>
                            <td>{% trans "Electricity 2 price (high tariff)" %}</td>
                            <td><span class="badge bg-black">{{ energy_prices.electricity_delivered_2_price }}</span></td>
                        </tr>
                        <tr>
                            <td>{% trans "Gas price" %}</td>
                            <td><span class="badge bg-black">{{ energy_prices.gas_price }}</span></td>
                        </tr>
                    </table>
                    {% else %}
                        <div class="alert alert-info" role="alert">
                            <span class="fas fa-exclamation fa-2x"></span> {% blocktrans %}No energy supplier prices found for today. Enable this feature in consumption settings to view prices.{% endblocktrans %}
                            &nbsp;
                            <a href="{% url 'admin:dsmr_consumption_energysupplierprice_add' %}" class="btn btn-primary"><i class="fas fa-cogs"></i></a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}


{% block javascript %}
{{ block.super }}
<script type="text/javascript">

    $(document).ready(function(){
    	$('.trigger-extra-statistics').click(function(){
    	    $('.trigger-extra-statistics').hide();
   		    fetch_xhr_data();
   		    return false;
    	})
    });
    
    function fetch_xhr_data()
    {
        $(".xhr-loader").removeClass("hidden").show();

        $.ajax({
            dataType: "json",
            url: "{% url 'frontend:statistics-xhr-data' %}",
        }).done(function(response) {
            $(".xhr-loader").hide();
            $("#total_reading_count").html(response.total_reading_count);
	        $(".xhr-hidden").show();
        });
    }

</script>
{% endblock %}

