{% extends "dsmr_frontend/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load i18n %} 

{% block title %}{% trans "Trends" %}{% endblock %}
{% block header %}{% trans "Trends" %} &nbsp; <i class="fa fa-bar-chart"></i>{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
{% if not capabilities.any %}
    <div class="alert alert-danger" role="alert">
        <span class="fa fa-exclamation fa-2x"></span> {% blocktrans %}No data found. Please make sure the datalogger is up and running and the backend process is running as well.{% endblocktrans %}
    </div>
{% else %}
    <div class="alert alert-info" role="alert">
    {% blocktrans %}All data below is calculated among all consumption tracked until a day ago. Untracked consumption and any usage of today is not taken into account.{% endblocktrans %}
    {% blocktrans %}Current data displayed averages {{ hour_statistics_count }} hour(s), among {{ day_statistics_count }} day(s).{% endblocktrans %}
    </div>
{% endif %}

    {% if capabilities.electricity %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% blocktrans %}Average hourly electricity consumed (in %){% endblocktrans %}
                </header>
                <div class="panel-body" style="height: 350px;">
                    <canvas id="average-electricity-consumed-chart"></canvas>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->
    {% endif %}
    
    {% if capabilities.electricity_returned %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% blocktrans %}Average hourly electricity returned (in %){% endblocktrans %}
                </header>
                <div class="panel-body" style="height: 350px;">
                    <canvas id="average-electricity-returned-chart"></canvas>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->
    {% endif %}
    
    {% if capabilities.gas %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% blocktrans %}Average hourly gas consumed (in %){% endblocktrans %}
                </header>
                <div class="panel-body" style="height: 350px;">
                    <canvas id="average-gas-consumed-chart"></canvas>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->
    {% endif %}

    {% if capabilities.electricity %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% blocktrans %}Electricity tariff ratio (passed week){% endblocktrans %}
                </header>
                <div class="panel-body" style="height: 350px;">
                    <div id="electricity-by-tariff-week-chart-legend"></div>
                    <canvas id="electricity-by-tariff-week-chart"></canvas>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% blocktrans %}Electricity tariff ratio (passed month){% endblocktrans %}
                </header>
                <div class="panel-body" style="height: 350px;">
                    <div id="electricity-by-tariff-month-chart-legend"></div>
                    <canvas id="electricity-by-tariff-month-chart"></canvas>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->
    {% endif %}

</section><!-- /.content -->
{% endblock %}


{% block javascript %}
{{ block.super }}
        <script type="text/javascript" src="{% static 'dsmr_frontend/js/chartjs/Chart.min.js' %}"></script>
        <script type="text/javascript">
            var pie_options = {
                {% verbatim %}
                tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %>%",
                legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li style=\"display: inline; margin-right: 24px; font-weight: bold;\"><span style=\"color:<%=segments[i].fillColor%>\"><%if(segments[i].label){%><%=segments[i].label%><%}%></span></li><%}%></ul>"
                {% endverbatim %}
            }
        
            var bar_options = {
                /* Not available globally, but it fixes duplicate tooltips being triggered by x-axis data points close to each other. */
                pointHitDetectionRadius: 5,
                pointDotRadius: 2.5,
                
                {% verbatim %}
                tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %>%",
                legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li style=\"display: inline; margin-right: 24px; font-weight: bold;\"><span style=\"color:<%=datasets[i].strokeColor%>\"><%if(datasets[i].label){%><%=datasets[i].label%><%}%></span></li><%}%></ul>"
                {% endverbatim %}
	        }
	        
        	$(document).ready(function(){
                Chart.defaults.global.responsive = true;
                Chart.defaults.global.maintainAspectRatio = false;
                Chart.defaults.global.animation = false;
                Chart.defaults.global.segmentShowStroke = true;

            {% if capabilities.electricity %}
                render_electricity_consumption_by_tariff_week_chart();
                render_electricity_consumption_by_tariff_month_chart();
                render_average_electricity_consumed_chart();
            {% endif %}

            {% if capabilities.electricity_returned %}
                render_average_electricity_returned_chart();
            {% endif %}

            {% if capabilities.gas %}
                render_average_gas_consumed_chart();
            {% endif %}
        	});

	    {% if capabilities.electricity %}
	        function render_electricity_consumption_by_tariff_week_chart()
	        {
	            var data = [
                    {
                        value: {{ electricity_by_tariff_week.electricity2|floatformat:"0" }},
                        color: "rgba(255,0,0,1)",
                        highlight: "#5AD3D1",
                        label: "{% trans 'Electricity 2 (high tariff)' %}"
                    },
	                {
	                    value: {{ electricity_by_tariff_week.electricity1|floatformat:"0" }},
                        color:"rgba(160,0,0,1)",
	                    highlight: "#5AD3D1",
	                    label: "{% trans 'Electricity 1 (low tariff)' %}"
	                }
	            ]
                var ctx = $("#electricity-by-tariff-week-chart").get(0).getContext("2d");
                ctx.canvas.height = $("#electricity-by-tariff-week-chart").parent().height();
                var chart_instance = new Chart(ctx).Pie(data, pie_options);	        	
                $("#electricity-by-tariff-week-chart-legend").html(chart_instance.generateLegend());
	        }
	        
            function render_electricity_consumption_by_tariff_month_chart()
            {
                var data = [
                    {
                        value: {{ electricity_by_tariff_month.electricity2|floatformat:"0" }},
                        color: "rgba(255,0,0,1)",
                        highlight: "#5AD3D1",
                        label: "{% trans 'Electricity 2 (high tariff)' %}"
                    },
                    {
                        value: {{ electricity_by_tariff_month.electricity1|floatformat:"0" }},
                        color:"rgba(160,0,0,1)",
                        highlight: "#5AD3D1",
                        label: "{% trans 'Electricity 1 (low tariff)' %}"
                    }
                ]
                var ctx = $("#electricity-by-tariff-month-chart").get(0).getContext("2d");
                ctx.canvas.height = $("#electricity-by-tariff-month-chart").parent().height();
                var chart_instance = new Chart(ctx).Pie(data, pie_options);             
                $("#electricity-by-tariff-month-chart-legend").html(chart_instance.generateLegend());
            }
	    
            function render_average_electricity_consumed_chart()
            {
                var data = {
                    labels: {{ x_hours|safe }},
                    datasets: [{
                        data: {{ avg_electricity_consumed|safe }},
                        label: "{% trans 'Electricity' %}",                      
                        fillColor: "#F05050",
                        strokeColor: "#F05050",
                        highlightFill: "#5AD3D1",
                        highlightStroke: "#5AD3D1"
                    }]
                };
                
                var ctx = $("#average-electricity-consumed-chart").get(0).getContext("2d");
                ctx.canvas.height = $("#average-electricity-consumed-chart").parent().height();
                new Chart(ctx).Bar(data, bar_options);
            }
                       
        {% endif %}

        {% if capabilities.electricity_returned %}
            function render_average_electricity_returned_chart()
            {
                var data = {
                    labels: {{ x_hours|safe }},
                    datasets: [{
                        data: {{ avg_electricity_returned|safe }},
                        label: "{% trans 'Electricity returned' %}",                      
                        fillColor: "rgba(39,194,76,1)",
                        strokeColor: "rgba(39,194,76,1)",
                        highlightFill: "#5AD3D1",
                        highlightStroke: "#5AD3D1"
                    }]
                };
            	
                var ctx = $("#average-electricity-returned-chart").get(0).getContext("2d");
                ctx.canvas.height = $("#average-electricity-returned-chart").parent().height();
                new Chart(ctx).Bar(data, bar_options);
            }
        {% endif %}
            
        {% if capabilities.gas %}
            function render_average_gas_consumed_chart()
            {
                var data = {
                    labels: {{ x_hours|safe }},
                    datasets: [{
                        data: {{ avg_gas_consumption|safe }},
                        label: "{% trans 'Gas' %}",                      
                        fillColor: "rgba(250,133,0,1)",
                        strokeColor: "rgba(250,133,0,1)",
                        highlightFill: "#5AD3D1",
                        highlightStroke: "#5AD3D1"
                    }]
                };
            	
                var ctx = $("#average-gas-consumed-chart").get(0).getContext("2d");
                ctx.canvas.height = $("#average-gas-consumed-chart").parent().height();
                new Chart(ctx).Bar(data, bar_options);
            }
        {% endif %}
		</script>

{% endblock %}