{% extends "dsmr_frontend/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load i18n %} 

{% block title %}{% trans "Trends" %}{% endblock %}
{% block header %}{% trans "Trends" %} &nbsp; <i class="fa fa-pie-chart"></i>{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
{% if not capabilities.any %}
    <div class="alert alert-danger" role="alert">
        <span class="fa fa-exclamation fa-2x"></span> {% blocktrans %}No data found. Please make sure the datalogger is up and running and the backend process is running as well.{% endblocktrans %}
    </div>
{% else %}
    <div class="alert alert-info" role="alert">
    {% blocktrans %}All data below is calculated among all consumption tracked until a day ago. Untracked consumption and any usage of today is not taken into account.{% endblocktrans %}
    {% blocktrans %}Current data displayed averages {{ hour_statistics_count }} hour(s), among {{ day_statistics_count }} day(s).{% endblocktrans %}
    </div>
{% endif %}

    {% if capabilities.electricity %}
    <div class="row">
        <div class="col-md-{% if capabilities.electricity_returned %}6{% else %}12{% endif %}">
            <div class="panel">
                <header class="panel-heading">
                    {% blocktrans %}Average hourly electricity demand in Watt{% endblocktrans %}
                </header>
                <div class="panel-body" style="height: 350px;">
                    <canvas id="average-electricity-delivered-chart"></canvas>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
        
        {% if capabilities.electricity_returned %}
        <div class="col-md-6">
            <div class="panel">
                <header class="panel-heading">
                    {% blocktrans %}Average hourly electricity returned in Watt{% endblocktrans %}
                </header>
                <div class="panel-body" style="height: 350px;">
                    <canvas id="average-electricity-returned-chart"></canvas>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
        {% endif %}
    </div><!-- /.row -->
    {% endif %}
    
    {% if capabilities.electricity %}
    <div class="row">
        <div class="col-md-{% if capabilities.electricity_returned %}6{% else %}12{% endif %}">
            <div class="panel">
                <header class="panel-heading">
                    {% blocktrans %}Average hourly electricity 1 (off-peak) consumed in kWh{% endblocktrans %}
                </header>
                <div class="panel-body" style="height: 350px;">
                    <canvas id="average-electricity1-consumed-chart"></canvas>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->

        {% if capabilities.electricity_returned %}
        <div class="col-md-6">
            <div class="panel">
                <header class="panel-heading">
                    {% blocktrans %}Average hourly electricity 1 return (off-peak) yield in kWh{% endblocktrans %}
                </header>
                <div class="panel-body" style="height: 350px;">
                    <canvas id="average-electricity1-returned-yield-chart"></canvas>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
        {% endif %}
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-{% if capabilities.electricity_returned %}6{% else %}12{% endif %}">
            <div class="panel">
                <header class="panel-heading">
                    {% blocktrans %}Average hourly electricity 2 (peak) consumed in kWh{% endblocktrans %}
                </header>
                <div class="panel-body" style="height: 350px;">
                    <canvas id="average-electricity2-consumed-chart"></canvas>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
        
        {% if capabilities.electricity_returned %}
        <div class="col-md-6">
            <div class="panel">
                <header class="panel-heading">
                    {% blocktrans %}Average hourly electricity 2 return (peak) yield in kWh{% endblocktrans %}
                </header>
                <div class="panel-body" style="height: 350px;">
                    <canvas id="average-electricity2-returned-yield-chart"></canvas>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
        {% endif %}
    </div><!-- /.row -->
    {% endif %}
    
    {% if capabilities.gas %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    {% blocktrans %}Average hourly gas consumed in m<sup>3</sup>{% endblocktrans %}
                </header>
                <div class="panel-body" style="height: 350px;">
                    <canvas id="average-gas-consumed-chart"></canvas>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->
    {% endif %}
</section><!-- /.content -->
{% endblock %}


{% block javascript %}
{{ block.super }}
        <script type="text/javascript" src="{% static 'dsmr_frontend/js/chartjs/Chart.min.js' %}"></script>
        <script type="text/javascript">
	        var polar_options = {
        		segmentStrokeWidth: 5,
	        }
        
        	$(document).ready(function(){
                Chart.defaults.global.responsive = true;
                Chart.defaults.global.maintainAspectRatio = false;
                Chart.defaults.global.animation = false;
                Chart.defaults.global.segmentShowStroke = true;

            {% if capabilities.electricity %}
                render_average_electricity_delivered_chart();
                render_average_electricity1_consumed_chart();
                render_average_electricity2_consumed_chart();
            {% endif %}

            {% if capabilities.electricity_returned %}
                render_average_electricity_returned_chart();
                render_average_electricity1_yield_chart();
                render_average_electricity2_yield_chart();
            {% endif %}

            {% if capabilities.gas %}
                render_average_gas_consumed_chart();
            {% endif %}
        	});

	    {% if capabilities.electricity %}
            function render_average_electricity_delivered_chart()
            {
                var data = {{ avg_electricity_delivered|safe }};
                var ctx = $("#average-electricity-delivered-chart").get(0).getContext("2d");
                ctx.canvas.height = $("#average-electricity-delivered-chart").parent().height();
                new Chart(ctx).PolarArea(data, polar_options);
            }
                           
            function render_average_electricity1_consumed_chart()
            {
                var data = {{ avg_electricity1_consumption|safe }};
                var ctx = $("#average-electricity1-consumed-chart").get(0).getContext("2d");
                ctx.canvas.height = $("#average-electricity1-consumed-chart").parent().height();
                new Chart(ctx).PolarArea(data, polar_options);
            }
                       
            function render_average_electricity2_consumed_chart()
            {
                var data = {{ avg_electricity2_consumption|safe }};
                var ctx = $("#average-electricity2-consumed-chart").get(0).getContext("2d");
                ctx.canvas.height = $("#average-electricity2-consumed-chart").parent().height();
                new Chart(ctx).PolarArea(data, polar_options);
            }
        {% endif %}

        {% if capabilities.electricity_returned %}
            function render_average_electricity_returned_chart()
            {
                var data = {{ avg_electricity_returned|safe }};
                var ctx = $("#average-electricity-returned-chart").get(0).getContext("2d");
                ctx.canvas.height = $("#average-electricity-returned-chart").parent().height();
                new Chart(ctx).PolarArea(data, polar_options);
            }
                           
            function render_average_electricity1_yield_chart()
            {
                var data = {{ avg_electricity1_returned_yield|safe }};
                var ctx = $("#average-electricity1-returned-yield-chart").get(0).getContext("2d");
                ctx.canvas.height = $("#average-electricity1-returned-yield-chart").parent().height();
                new Chart(ctx).PolarArea(data, polar_options);
            }
                       
            function render_average_electricity2_yield_chart()
            {
                var data = {{ avg_electricity2_returned_yield|safe }};
                var ctx = $("#average-electricity2-returned-yield-chart").get(0).getContext("2d");
                ctx.canvas.height = $("#average-electricity2-returned-yield-chart").parent().height();
                new Chart(ctx).PolarArea(data, polar_options);
            }
        {% endif %}
            
        {% if capabilities.gas %}
            function render_average_gas_consumed_chart()
            {
                var data = {{ avg_gas_consumption|safe }};
                var ctx = $("#average-gas-consumed-chart").get(0).getContext("2d");
                ctx.canvas.height = $("#average-gas-consumed-chart").parent().height();
                new Chart(ctx).PolarArea(data, polar_options);
            }
        {% endif %}
		</script>

{% endblock %}