{% extends "dsmr_frontend/base.html" %}
{% load humanize %}

{% load static %}

{% load i18n %}

{% block title %}
    {% translate "Compare" %}
{% endblock %}
{% block page_heading %}
    {% translate "Compare" %}
{% endblock %}
{% block header %}
    {% translate "Compare" %} &nbsp; <i class="fas fa-balance-scale-left"></i>
{% endblock %}

{% block content %}
    <!-- Main content -->
    <section class="content">
        {% if not capabilities.any %}
            <div class="alert alert-warning" role="alert">
                <span class="fas fa-exclamation-triangle fa-2x"></span> &nbsp; {% blocktranslate %}No day statistics found yet. Usually you can find data here after the first day of running DSMR-reader.{% endblocktranslate %} <i class="fas fa-smile-wink"></i>
            </div>
        {% endif %}

        {% if capabilities.any and start_date and end_date %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel datepicker-panel" style="min-height: 0px">
                        <h2 class="panel-heading centered-header">
                            {% blocktranslate %}Data selection{% endblocktranslate %}
                        </h2>
                        <div class="panel-body archive-header-panel-body" style="min-height: 0px">
                            <div class="row">
                                <div class="col-lg-push-4 col-lg-4">
                                    <div class="center-block centered-header">
                                        <div class="italic">
                                            {% blocktranslate %}Select level of detail.{% endblocktranslate %}
                                        </div>

                                        <span class="datepicker-level-icon">
                                            <span class="center-block datepicker-level-name">{% translate "Days" %}</span>
                                            <button class="sm-st-icon st-gray datepicker-trigger"
                                                    id="datepicker_trigger_days"
                                                    type="button"
                                                    aria-label="{% translate 'Select days view' %}">
                                                <i class="fas fa-calendar-check" aria-hidden="true"></i>
                                            </button>
                                        </span>

                                        &nbsp;&nbsp;&nbsp;

                                        <span class="datepicker-level-icon">
                                            <span class="center-block datepicker-level-name">{% translate "Months" %}</span>
                                            <button class="sm-st-icon st-green datepicker-trigger"
                                                    id="datepicker_trigger_months"
                                                    type="button"
                                                    aria-label="{% translate 'Select months view' %}">
                                                <i class="fas fa-calendar-check" aria-hidden="true"></i>
                                            </button>
                                        </span>

                                        &nbsp;&nbsp;&nbsp;

                                        <span class="datepicker-level-icon">
                                            <span class="center-block datepicker-level-name">{% translate "Years" %}</span>
                                            <button class="sm-st-icon st-gray datepicker-trigger"
                                                    id="datepicker_trigger_years"
                                                    type="button"
                                                    aria-label="{% translate 'Select years view' %}">
                                                <i class="fas fa-calendar-check" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="panel datepicker-panel">
                        <h2 class="panel-heading centered-header">
                            {% blocktranslate %}Compare from{% endblocktranslate %}
                        </h2>
                        <div class="panel-body">
                            <div class="row center-block centered-header datepicker-calendar-block">
                                <div id="datepicker1-day" style="display:none;">
                                </div>
                                <div id="datepicker1-month" style="display:none;">
                                </div>
                                <div id="datepicker1-year" style="display:none;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="panel datepicker-panel">
                        <h2 class="panel-heading centered-header">
                            {% blocktranslate %}Compare to{% endblocktranslate %}
                        </h2>
                        <div class="panel-body">
                            <div class="row center-block centered-header datepicker-calendar-block">
                                <div id="datepicker2-day" style="display:none;">
                                </div>
                                <div id="datepicker2-month" style="display:none;">
                                </div>
                                <div id="datepicker2-year" style="display:none;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div id="summary-loader" class="xhr-hidden text-center">
                    <i class="fas fa-spinner fa-pulse fa-3x fa-fw"></i>
                </div>
                <div class="col-sm-12" id="summary-holder">
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {% get_current_language as LANGUAGE_CODE %}
    <script type="text/javascript"
            src="{% static 'dsmr_frontend/js/dayjs.min.js' %}"></script>

    <script type="text/javascript">
        /* Settings. */
        const datepicker_start_date = "{{ start_date|date:'Y-m-d' }}";
        const datepicker_end_date = "{{ end_date|date:'Y-m-d' }}";
        const datepicker_locale_format = "{{ datepicker_locale_format }}";
        const datepicker_language_code = "{{ LANGUAGE_CODE }}";

        /* XHR. */
        const compare_xhr_summary_url = "{% url 'frontend:compare-xhr-summary' %}";
    </script>

    <script type="text/javascript"
            src="{% static 'dsmr_frontend/js/dsmr-reader/compare/compare.js' %}?r=v{{ dsmr_version }}"></script>
{% endblock %}
