{% load humanize %}
{% load i18n %} 
{% load l10n %}

<div class="panel">
    <header class="panel-heading">
        {{ title|unlocalize }}

        {% if selected_level == 'days' %}
        <small class="pull-right">
            <a href="{% url 'admin:dsmr_stats_note_add' %}?day={{ selected_datetime|date:django_date_format }}" title="{% translate "Add note for this date" %}">
                <span class="badge bg-green"><i class="fas fa-plus"></i></span>
            </a>
        </small>
        {% endif %}
    </header>
    <div class="panel-body">
        <table class="table table-hover">
            <tr>
                <th class="col-sm-4"></th>
                <th class="col-sm-3">{% if capabilities.electricity %}{% translate "Consumed" %}{% endif %}</th>
                <th class="col-sm-3">{% if capabilities.electricity_returned %}{% translate "Returned" %}{% endif %}</th>
                <th class="col-sm-2">{% translate "Costs" %} <span class="unit">&euro;</span></th>
            </tr>
            {% if frontend_settings.merge_electricity_tariffs %}
            <tr>
                <td>{% if capabilities.electricity %}{% translate "Electricity (single tariff)" %} <span class="unit">{% translate "kWh" %}</span>{% endif %}</td>
                <td><span class="badge bg-red">{% if capabilities.electricity %}{{ statistics.electricity_merged|default:'-' }} </span>{% endif %}</td>
                <td><span class="badge bg-green">{% if capabilities.electricity_returned %}{{ statistics.electricity_returned_merged|default:'-' }}{% endif %}</span></td>
                <td><span class="badge bg-black">{% if capabilities.electricity %}{{ statistics.electricity_cost_merged|default:'-' }}{% endif %}</span></td>
            </tr>
            {% else %}
            <tr>
                <td>{% if capabilities.electricity %}{{ frontend_settings.tariff_1_delivered_name|capfirst }} <span class="unit">{% translate "kWh" %}</span>{% endif %}</td>
                <td><span class="badge bg-red">{% if capabilities.electricity %}{{ statistics.electricity1|default:'-' }} </span>{% endif %}</td>
                <td><span class="badge bg-green">{% if capabilities.electricity_returned %}{{ statistics.electricity1_returned|default:'-' }}{% endif %}</span></td>
                <td><span class="badge bg-black">{% if capabilities.electricity %}{{ statistics.electricity1_cost|default:'-' }}{% endif %}</span></td>
            </tr>
            <tr>
                <td>{% if capabilities.electricity %}{{ frontend_settings.tariff_2_delivered_name|capfirst }} <span class="unit">{% translate "kWh" %}</span>{% endif %}</td>
                <td><span class="badge bg-red">{% if capabilities.electricity %}{{ statistics.electricity2|default:'-' }}{% endif %}</span></td>
                <td><span class="badge bg-green">{% if capabilities.electricity_returned %}{{ statistics.electricity2_returned|default:'-' }}{% endif %}</span></td>
                <td><span class="badge bg-black">{% if capabilities.electricity %}{{ statistics.electricity2_cost|default:'-' }}{% endif %}</span></td>
            </tr>
            {% endif %}
            <tr>
                <td> {% if capabilities.gas %}{% translate "Gas" %} <span class="unit">{% translate "m<sup>3</sup>" %}</span>{% endif %}</td>
                <td><span class="badge bg-orange">{% if capabilities.gas %}{{ statistics.gas|default:'-' }}{% endif %}</span></td>
                <td>&nbsp;</td>
                <td><span class="badge bg-black">{% if capabilities.gas %}{{ statistics.gas_cost|default:'-' }}{% endif %}</span></td>
            </tr>
            {% if statistics.fixed_cost %}
            <tr>
                <td> {% translate "Fixed costs" %} <span class="unit">&euro;</span></td>
                <td>
                    <span class="unit">
                        {{ statistics.number_of_days|default:'-' }}
                        {% blocktranslate count counter=statistics.number_of_days %}day{% plural %}days{% endblocktranslate %}
                    </span>
                </td>
                <td>&nbsp;</td>
                <td><span class="badge bg-black">{{ statistics.fixed_cost|default:'-' }}</span></td>
            </tr>
            {% endif %}
            <tr>
                <td style="font-weight: bold;">{% translate "Total" %}</td>
                <td><span class="badge bg-red">{% if capabilities.electricity %}{{ statistics.electricity_merged|default:'-' }}  </span>{% endif %}</td>
                <td><span class="badge bg-green">{% if capabilities.electricity_returned %}{{ statistics.electricity_returned_merged|default:'-' }}{% endif %}</span></td>
                <td><span class="badge bg-black">{{ statistics.total_cost|default:'-' }}</span></td>
            </tr>

            {% if statistics.temperature_avg %}
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
                <td> {% translate "Temp." %} <span class="unit">&deg;C</span></td>
                <td><span class="badge bg-blue">{{ statistics.temperature_min|floatformat|default:'-' }}</span> <span class="unit">{% translate "Min" %}</span></td>
                <td><span class="badge bg-blue">{{ statistics.temperature_max|floatformat|default:'-' }}</span> <span class="unit">{% translate "Max" %}</span></td>
                <td><span class="badge bg-blue">{{ statistics.temperature_avg|floatformat|default:'-' }}</span> <span class="unit">{% translate "Avg" %}</span></td>
            </tr>
            {% endif %}
        </table>
        
{% if notes %}
	    {% for current_note in notes %}
	    <div class="alert alert-warning" role="alert"><i class="fas fa-comments"></i> {{ current_note.description }}</div>
	    {% endfor %}
{% endif %}
    </div>
</div>
