{% load humanize %}
{% load i18n %} 
{% load l10n %}

<div class="panel">
    <header class="panel-heading">
        {{ title|unlocalize }}
        
        {% if selected_level == 'days' %}
        <small class="pull-right">
            <a href="{% url 'admin:dsmr_stats_note_add' %}?day={{ selected_datetime|date:django_date_format }}">
                <span class="badge bg-green"><i class="fa fa-plus"></i> &nbsp; {% trans "Add note for this date" %}</span>
            </a>
        </small>
        {% endif %}
    </header>
    <div class="panel-body">
        <table class="table table-condensed">
            <tr>
                <th class="col-md-2"></th>
                <th class="col-md-2">{% if capabilities.electricity %}{% trans "Consumed" %} ({% trans "kWh" noop %}{% if capabilities.gas %} / {% trans "m<sup>3</sup>" noop %}{% endif %}){% endif %}</th>
                <th class="col-md-2">{% if capabilities.electricity_returned %}{% trans "Returned" %} ({% trans "kWh" noop %}){% endif %}</th>
                <th class="col-md-2">{% if energy_price %}{% trans "Energy price" %} (&euro;){% endif %}</th>
                <th class="col-md-2">{% trans "Cost" %} (&euro;)</th>
            </tr>
            {% if frontend_settings.merge_electricity_tariffs %}
            <tr>
                <td>{% if capabilities.electricity %}{% trans "Electricity (single tariff)" %}{% endif %}</td>
                <td><span class="badge bg-red">{% if capabilities.electricity %}{{ statistics.electricity_merged|default:'-'|floatformat:2 }} </span>{% endif %}</td>
                <td><span class="badge bg-green">{% if capabilities.electricity_returned %}{{ statistics.electricity_returned_merged|default:'-'|floatformat:2 }}{% endif %}</span></td>
                <td><span class="badge bg-facebook">{% if energy_price %}{{ energy_price.electricity_delivered_1_price|default:'-' }}{% endif %}</span></td>
                <td><span class="badge bg-black">{% if capabilities.electricity %}{{ statistics.electricity_cost_merged|default:'-' }}{% endif %}</span></td>
            </tr>
            {% else %}
            <tr>
                <td>{% if capabilities.electricity %}{% trans "Electricity 1 (low tariff)" %}{% endif %}</td>
                <td><span class="badge bg-red">{% if capabilities.electricity %}{{ statistics.electricity1|default:'-'|floatformat:2 }} </span>{% endif %}</td>
                <td><span class="badge bg-green">{% if capabilities.electricity_returned %}{{ statistics.electricity1_returned|default:'-'|floatformat:2 }}{% endif %}</span></td>
                <td><span class="badge bg-facebook">{% if energy_price %}{{ energy_price.electricity_delivered_1_price|default:'-' }}{% endif %}</span></td>
                <td><span class="badge bg-black">{% if capabilities.electricity %}{{ statistics.electricity1_cost|default:'-' }}{% endif %}</span></td>
            </tr>
            <tr>
                <td>{% if capabilities.electricity %}{% trans "Electricity 2 (high tariff)" %}{% endif %}</td>
                <td><span class="badge bg-red">{% if capabilities.electricity %}{{ statistics.electricity2|default:'-'|floatformat:2 }}{% endif %}</span></td>
                <td><span class="badge bg-green">{% if capabilities.electricity_returned %}{{ statistics.electricity2_returned|default:'-'|floatformat:2 }}{% endif %}</span></td>
                <td><span class="badge bg-facebook">{% if energy_price %}{{ energy_price.electricity_delivered_2_price|default:'-' }}{% endif %}</span></td>
                <td><span class="badge bg-black">{% if capabilities.electricity %}{{ statistics.electricity2_cost|default:'-' }}{% endif %}</span></td>
            </tr>
            {% endif %}
            <tr>
                <td> {% if capabilities.gas %}{% trans "Gas" %}{% endif %}</td>
                <td><span class="badge bg-orange">{% if capabilities.gas %}{{ statistics.gas|default:'-'|floatformat:2 }}{% endif %}</span></td>
                <td>&nbsp;</td>
                <td><span class="badge bg-facebook">{% if energy_price %}{{ energy_price.gas_price|default:'-' }}{% endif %}</span></td>
                <td><span class="badge bg-black">{% if capabilities.gas %}{{ statistics.gas_cost|default:'-' }}{% endif %}</span></td>
            </tr>
            <tr>
                <td style="font-weight: bold;">{% trans "Total" %}</td>
                <td><span class="badge bg-red">{% if capabilities.electricity %}{{ statistics.electricity_merged|default:'-'|floatformat:2 }}  </span>{% endif %}</td>
                <td><span class="badge bg-green">{% if capabilities.electricity_returned %}{{ statistics.electricity_returned_merged|default:'-'|floatformat:2 }}{% endif %}</span></td>
                <td>&nbsp;</td>
                <td><span class="badge bg-black">{{ statistics.total_cost|default:'-' }}</span></td>
            </tr>
            {% if statistics.temperature_avg %}
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td> {% trans "Weather" %}</td>
                <td><span class="badge bg-blue">{% trans "Min." %} &nbsp; {{ statistics.temperature_min|floatformat|default:'-' }} &deg;C</span></td>
                <td><span class="badge bg-blue">{% trans "Max." %} &nbsp; {{ statistics.temperature_max|floatformat|default:'-' }} &deg;C</span></td>
                <td>&nbsp;</td>
                <td><span class="badge bg-blue">{% trans "Avg." %} &nbsp; {{ statistics.temperature_avg|floatformat|default:'-' }} &deg;C</span></td>
            </tr>
            {% endif %}
        </table>
        
{% if notes %}
	    {% for current_note in notes %}
	    <div class="alert alert-warning" role="alert"><i class="fa fa-comments-o"></i> {{ current_note.description }}</div>
	    {% endfor %}
{% endif %}
    </div>
</div>
