{% load i18n %}
{% load l10n %}

<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-body">
                <table class="table table-hover">
                    <tr class="dashboard-header">
                        <th class="col-sm-6"><span id="tariff_name"></span></th>
                        <th class="col-sm-2">{% if capabilities.electricity %}{% translate "Consumed" %}{% endif %}</th>
                        <th class="col-sm-2">{% if capabilities.electricity_returned %}{% translate "Returned" %}{% endif %}</th>
                        <th class="col-sm-2">&euro;{% translate '/hour' %}</th>
                    </tr>
                    <tr>
                        <td>
                            <span>
                                <a class="help-trigger" href="#"><small><i class="fas fa-question-circle"></i></small></a>
                                <small class="xhr-hidden">
                                    {% blocktranslate %}Latest telegram received{% endblocktranslate %}
                                </small>
                            </span>
                            <span class="unit" id="latest_timestamp"><i class="fas fa-circle-notch fa-spin fa-fw"></i></span>
                        </td>
                        <td>
                            {% if capabilities.electricity %}
                                <span class="badge bg-red" id="latest_electricity_delivered"><i class="fas fa-circle-notch fa-spin fa-fw"></i></span>
                                <span class="unit">{% translate "W" %}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if capabilities.electricity_returned %}
                                <span class="badge bg-green" id="latest_electricity_returned"><i class="fas fa-circle-notch fa-spin fa-fw"></i></span>
                                <span class="unit">{% translate "W" %}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if capabilities.electricity %}
                                <span class="xhr-hidden badge bg-black" id="cost_per_hour"></span>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
