.xhr-hidden {
	display: none;
}

div.copyright {
	position: absolute;  
	bottom: 0;  
	width: 100%; 
	text-align: center; 
	color: white; 
	height: 96px;
	padding-left: 24px;
}

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fa-rotate-315 {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}

div.date-selector {
    min-height: 100px;
    height: 100px;
}