{% extends "dsmr_stats/base.html" %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    Consumption today
                </header>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th>{{consumption.day }}</th>
                            <th style="width: 200px">Usage</th>
                            <th style="width: 200px">Cost</th>
                        </tr>
                        <tr>
                            <td>Electricity 1 (off-peak)</td>
                            <td><span class="badge bg-red">{{ consumption.electricity1 }} kWh</span></td>
                            <td><span class="badge bg-maroon">&euro; {{ consumption.electricity1_cost }}</span></td>
                        </tr>
                        <tr>
                            <td>Electricity 2 (peak)</td>
                            <td><span class="badge bg-red">{{ consumption.electricity2 }} kWh</span></td>
                            <td><span class="badge bg-maroon">&euro; {{ consumption.electricity2_cost }}</span></td>
                        </tr>
                        <tr>
                            <td>Gas</td>
                            <td><span class="badge bg-orange">{{ consumption.gas }} m<sup>3</sup></span></td>
                            <td><span class="badge bg-maroon">&euro; {{ consumption.gas_cost }}</span></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Total</td>
                            <td>&nbsp;</td>
                            <td><span class="badge bg-black">&euro; {{ consumption.total_cost }}</span></td>
                        </tr>
                    </table>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    Recent electricity consumption (watt)
                </header>
                <div class="panel-body">
                	<canvas id="power-chart" width="1000" height="200"></canvas>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    Recent gas consumption (m<sup>3</sup>)
                </header>
                <div class="panel-body">
			        <canvas id="gas-chart" width="1000" height="200"></canvas>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
{% endblock %}


{% block javascript %}
{{ block.super }}
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
        <script type="text/javascript">
        	$(document).ready(function(){
        		poll_graph_data();
        		setInterval(poll_graph_data, 5 * 1000);
        	});
        	
        	function poll_graph_data()
        	{
        		options = {
       				responsive: true,
       				animation: false,
       				scaleBeginAtZero: true,
        		};
        		
	            $.get('{% url "stats:power-data-json" %}', function(data) {
	                var ctx = $("#power-chart").get(0).getContext("2d");
	                new Chart(ctx).Line(data, options);
	            });
	            $.get('{% url "stats:gas-data-json" %}', function(data) {
	                var ctx = $("#gas-chart").get(0).getContext("2d");
	                new Chart(ctx).Line(data, options);
	            });
        	}
        </script>
{% endblock %}