{% extends "dsmr_stats/base.html" %}
{% load staticfiles %}
{% load humanize %} 

{% block title %}Dashboard{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="sm-st clearfix">
                	<small>{{ latest_electricity_read|naturaltime }}</small>
                    <span class="sm-st-icon st-red"><i class="fa fa-bolt"></i></span>
                    <div class="sm-st-info">
                        <span>{{ latest_electricity }}</span>
                        Watt
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="sm-st clearfix">
                	<small>{{ latest_gas_read|naturaltime }}</small>
                    <span class="sm-st-icon st-orange"><i class="fa fa-fire"></i></span>
                    <div class="sm-st-info">
                        <span>{{ latest_gas }}</span>
                        m<sup>3</sup> gas
                    </div>
                </div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->

	{% if consumption %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    Today
                </header>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th class="col-md-6">{{ consumption.day }}</th>
                            <th class="col-md-2">Delivered</th>
                            <th class="col-md-2">Returned</th>
                            <th class="col-md-2">Cost</th>
                        </tr>
                        <tr>
                            <td>Electricity 1 (off-peak)</td>
                            <td><span class="badge bg-red">{{ consumption.electricity1 }} kWh</span></td>
                            <td><span class="badge bg-maroon">{{ consumption.electricity1_returned }} kWh</span></td>
                            <td><span class="badge bg-black">&euro; {{ consumption.electricity1_cost }}</span></td>
                        </tr>
                        <tr>
                            <td>Electricity 2 (peak)</td>
                            <td><span class="badge bg-red">{{ consumption.electricity2 }} kWh</span></td>
                            <td><span class="badge bg-maroon">{{ consumption.electricity2_returned }} kWh</span></td>
                            <td><span class="badge bg-black">&euro; {{ consumption.electricity2_cost }}</span></td>
                        </tr>
                        <tr>
                            <td>Gas</td>
                            <td><span class="badge bg-orange">{{ consumption.gas }} m<sup>3</sup></span></td>
                            <td>&nbsp;</td>
                            <td><span class="badge bg-black">&euro; {{ consumption.gas_cost }}</span></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Total</td>
                            <td colspan="2">&nbsp;</td>
                            <td><span class="badge bg-black">&euro; {{ consumption.total_cost }}</span></td>
                        </tr>
                    </table>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->
	{% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    Recent electricity delivered (watt)
                </header>
                <div class="panel-body">
                	<canvas id="electricity-chart" width="1000" height="200"></canvas>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    Recent gas delivered (m<sup>3</sup>)
                </header>
                <div class="panel-body">
			        <canvas id="gas-chart" width="1000" height="200"></canvas>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
{% endblock %}


{% block javascript %}
{{ block.super }}
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
        <script type="text/javascript">
        	$(document).ready(function(){
        		render_electricity_chart();
        		render_gas_chart();
        	});
        	
		   	function render_electricity_chart()
		   	{
		   		var data = {
	   				labels: {{ electricity_x|safe }},
	   				datasets: [{
	   					data: {{ electricity_y|safe }},
	   					label: "Electricity",	       				
	   					fillColor: "rgba(255,255,255,0.2)",
	   					strokeColor: "rgba(255,0,0,1)",
	   					pointColor: "rgba(255,0,0,1)",
	   					pointStrokeColor: "#fff",
	   					pointHighlightFill: "#fff",
	   					pointHighlightStroke: "rgba(255,0,0,1)"
	   				}]
	   			};
	
	   			{% verbatim %}
	   			var options = {
	   				responsive: true,
	   				animation: false,
	   			};
	   			{% endverbatim %}
	
	   			var ctx = $("#electricity-chart").get(0).getContext("2d");
	   			new Chart(ctx).Line(data, options);
   			}
        	
		   	function render_gas_chart()
		   	{
		   		var data = {
	   				labels: {{ gas_x|safe }},
	   				datasets: [{
	   					data: {{ gas_y|safe }},
	   					label: "Gas",	       				
	   					fillColor: "rgba(255,255,255,0.2)",
	   					strokeColor: "rgba(250,133,0,1)",
	   					pointColor: "rgba(250,133,0,1)",
	   					pointStrokeColor: "#fff",
	   					pointHighlightFill: "#fff",
	   					pointHighlightStroke: "rgba(150,150,150,1)"
	   				}]
	   			};
	
	   			{% verbatim %}
	   			var options = {
	   				responsive: true,
	   				animation: false,
	   			};
	   			{% endverbatim %}
	
	   			var ctx = $("#gas-chart").get(0).getContext("2d");
	   			new Chart(ctx).Line(data, options);
   			}
		</script>

{% endblock %}