{% extends "dsmr_stats/base.html" %}
{% load staticfiles %}

{% block title %}History{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    Recent total cost
                </header>
                <div class="panel-body">
                	<canvas id="recent-chart" width="1000" height="200"></canvas>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-12">
        {% for consumption in usage %}
            <div class="panel">
                <header class="panel-heading">
                    {{ consumption.day }}
                </header>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th class="col-md-6">Type</th>
                            <th class="col-md-2">Consumed</th>
                            <th class="col-md-2">Returned</th>
                            <th class="col-md-2">Cost</th>
                        </tr>
                        <tr>
                            <td>Electricity 1 (off-peak)</td>
                            <td><span class="badge bg-red">{{ consumption.electricity1 }} kWh</span></td>
                            <td><span class="badge bg-maroon">{{ consumption.electricity1_returned }} kWh</span></td>
                            <td><span class="badge bg-black">&euro; {{ consumption.electricity1_cost }}</span></td>
                        </tr>
                        <tr>
                            <td>Electricity 2 (peak)</td>
                            <td><span class="badge bg-red">{{ consumption.electricity2 }} kWh</span></td>
                            <td><span class="badge bg-maroon">{{ consumption.electricity2_returned }} kWh</span></td>
                            <td><span class="badge bg-black">&euro; {{ consumption.electricity2_cost }}</span></td>
                        </tr>
                        <tr>
                            <td>Gas</td>
                            <td><span class="badge bg-orange">{{ consumption.gas }} m<sup>3</sup></span></td>
                            <td>&nbsp;</td>
                            <td><span class="badge bg-black">&euro; {{ consumption.gas_cost }}</span></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Total</td>
                            <td colspan="2">&nbsp;</td>
                            <td><span class="badge bg-black">&euro; {{ consumption.total_cost }}</span></td>
                        </tr>
                    </table>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
           {% endfor %}
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
{% endblock %}


{% block javascript %}
{{ block.super }}
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
        <script type="text/javascript">
        	$(document).ready(function(){
        		var data = {
       				labels: {{ chart_x|safe }},
       				datasets: [{
       				    data: {{ chart_y|safe }},
	       				label: "Recent total cost",
	       	            fillColor: "rgba(220,220,220,0.2)",
	       	            strokeColor: "rgba(220,220,220,1)",
	       	            pointColor: "rgba(220,220,220,1)",
	       	            pointStrokeColor: "#fff",
	       	            pointHighlightFill: "#fff",
	       	            pointHighlightStroke: "rgba(220,220,220,1)"
       				}]
        		};
        		{% verbatim %}
        		var options = {
          			responsive: true,
          			animation: false,
           		};
        		{% endverbatim %}
        		
        		var ctx = $("#recent-chart").get(0).getContext("2d");
                new Chart(ctx).Line(data, options);        		
        	});
        </script>
{% endblock %}