{% extends "dsmr_stats/base.html" %}

{% block title %}Recent{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
        {% for consumption in usage %}
            <div class="panel">
                <header class="panel-heading">
                    {{consumption.day }}
                </header>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th>Type</th>
                            <th style="width: 200px">Usage</th>
                            <th style="width: 200px">Cost</th>
                        </tr>
                        <tr>
                            <td>Electricity 1 (off-peak)</td>
                            <td><span class="badge bg-red">{{ consumption.electricity1 }} kWh</span></td>
                            <td><span class="badge bg-maroon">&euro; {{ consumption.electricity1_cost }}</span></td>
                        </tr>
                        <tr>
                            <td>Electricity 2 (peak)</td>
                            <td><span class="badge bg-red">{{ consumption.electricity2 }} kWh</span></td>
                            <td><span class="badge bg-maroon">&euro; {{ consumption.electricity2_cost }}</span></td>
                        </tr>
                        <tr>
                            <td>Gas</td>
                            <td><span class="badge bg-orange">{{ consumption.gas }} m<sup>3</sup></span></td>
                            <td><span class="badge bg-maroon">&euro; {{ consumption.gas_cost }}</span></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Total</td>
                            <td>&nbsp;</td>
                            <td><span class="badge bg-black">&euro; {{ consumption.total_cost }}</span></td>
                        </tr>
                    </table>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
           {% endfor %}
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
{% endblock %}