{% extends "dsmr_stats/base.html" %}
{% load staticfiles %}

{% block title %}Recent{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    Recent electricity consumption (watt)
                </header>
                <div class="panel-body">
                	<canvas id="power-chart" width="800" height="250"></canvas>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    Recent gas consumption (m<sup>3</sup>)
                </header>
                <div class="panel-body">
			        <canvas id="gas-chart" width="800" height="250"></canvas>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
{% endblock %}

{% block javascript %}
{{ block.super }}
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
        <script type="text/javascript">
        	$(document).ready(function(){
        		poll_graph_data();
        		setInterval(poll_graph_data, 5 * 1000);
        	});
        	
        	function poll_graph_data()
        	{
        		options = {
       				responsive: true,
       				animation: false,
       				scaleBeginAtZero: true,
        		};
        		
	            $.get('{% url "stats:power-data-json" %}', function(data) {
	                var ctx = $("#power-chart").get(0).getContext("2d");
	                new Chart(ctx).Line(data, options);
	            });
	            $.get('{% url "stats:gas-data-json" %}', function(data) {
	                var ctx = $("#gas-chart").get(0).getContext("2d");
	                new Chart(ctx).Line(data, options);
	            });
        	}
        </script>
{% endblock %}