{% extends "dsmr_stats/base.html" %}
{% load humanize %} 

{% block title %}Statistics{% endblock %}
{% block header %}Statistics{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    DSMR Readings
                </header>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <td class="col-md-7">Last reading</td>
                            <td class="col-md-5">
                            {% if last_reading %}
                            	<span class="badge bg-navy">{{ last_reading|naturaltime }}</span>
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>First reading</td>
                            <td>
                            {% if first_reading %}
                            	<span class="badge bg-navy">{{ first_reading|default:'-' }}</span>
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Total count</td>
                            <td><span class="badge bg-navy">{{ total_reading_count|default:'-'|intcomma }}</span></td>
                        </tr>
                    </table>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->                        
                        
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    Meter positions
                </header>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th class="col-md-7">&nbsp;</th>
                            <th class="col-md-3">Delivered</th>
                            <th class="col-md-2">Returned</th>
                        </tr>
                        <tr>
                            <td>Electricity 1 (off-peak) </td>
                            <td><span class="badge bg-red">{{ consumption.electricity1_end|default:'-' }} kWh</span></td>
                            <td><span class="badge bg-maroon">{{ consumption.electricity1_returned_end|default:'-' }} kWh</span></td>
                        </tr>
                        <tr>
                            <td>Electricity 2 (peak) </td>
                            <td><span class="badge bg-red">{{ consumption.electricity2_end|default:'-' }} kWh</span></td>
                            <td><span class="badge bg-maroon">{{ consumption.electricity2_returned_end|default:'-' }} kWh</span></td>
                        </tr>
                        <tr>
                            <td>Gas </td>
                            <td colspan="2"><span class="badge bg-orange">{{ consumption.gas_end|default:'-' }} m<sup>3</sup></span></td>
                        </tr>
                    </table>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->
 
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                    Miscellaneous
                </header>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <td class="col-md-7">Number of power failures in any phases</td>
                            <td class="col-md-5"><span class="badge bg-black">{{ dsmr_stats.power_failure_count|default:'-' }}</span></td>
                        </tr>
                        <tr>
                            <td>Number of long power failures in any phase</td>
                            <td><span class="badge bg-black">{{ dsmr_stats.long_power_failure_count|default:'-' }}</span></td>
                        </tr>
                        <tr>
                            <td>Number of voltage sags/dips in phase L1</td>
                            <td><span class="badge bg-orange">{{ dsmr_stats.voltage_sag_count_l1|default:'-' }}</span></td>
                        </tr>
                        <tr>
                            <td>Number of voltage sags/dips in phase L2 (polyphase meters only)</td>
                            <td><span class="badge bg-orange">{{ dsmr_stats.voltage_sag_count_l2|default:'-' }}</span></td>
                        </tr>
                        <tr>
                            <td>Number of voltage sags/dips in phase L3 (polyphase meters only)</td>
                            <td><span class="badge bg-orange">{{ dsmr_stats.voltage_sag_count_l3|default:'-' }}</span></td>
                        </tr>
                        <tr>
                            <td>Number of voltage swells in phase L1</td>
                            <td><span class="badge bg-red">{{ dsmr_stats.voltage_swell_count_l1|default:'-' }}</span></td>
                        </tr>
                        <tr>
                            <td>Number of voltage swells in phase L2 (polyphase meters only)</td>
                            <td><span class="badge bg-red">{{ dsmr_stats.voltage_swell_count_l2|default:'-' }}</span></td>
                        </tr>
                        <tr>
                            <td>Number of voltage swells in phase L3 (polyphase meters only)</td>
                            <td><span class="badge bg-red">{{ dsmr_stats.voltage_swell_count_l3|default:'-' }}</span></td>
                        </tr>
                    </table>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->
    
    {% if consumption.daily_energy_price %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <header class="panel-heading">
                	Current energy supplier: {{ consumption.daily_energy_price.description }}
                </header>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th class="col-md-7">{{ consumption.daily_energy_price.start }} &larr;&rarr; {{ consumption.daily_energy_price.end|default:'-' }}</th>
                            <th class="col-md-5">Unit price</th>
                        </tr>
                        <tr>
                            <td class="col-md-7">Electricity 1</td>
                            <td class="col-md-5"><span class="badge bg-black">&euro; {{ consumption.daily_energy_price.electricity_1_price }}</span></td>
                        </tr>
                        <tr>
                            <td>Electricity 2</td>
                            <td><span class="badge bg-black">&euro; {{ consumption.daily_energy_price.electricity_2_price }}</span></td>
                        </tr>
                        <tr>
                            <td>Gas</td>
                            <td><span class="badge bg-black">&euro; {{ consumption.daily_energy_price.gas_price }}</span></td>
                        </tr>
                    </table>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col -->
    </div><!-- /.row -->
    {% endif %}

</section><!-- /.content -->
{% endblock %}