{% extends 'admin/change_form.html' %}
{% load i18n %} 


{% block field_sets %}
    <div class="submit-row" style="text-align: left; border-color: orangered;">
        <ul>
            <li>{% blocktranslate %}Please note that lowering the "Datalogger process sleep" setting will result in more disk activity and more data being stored, possibly degrading performance.{% endblocktranslate %}</li>
            <li>{% blocktranslate %}Do not enable "Override telegram timestamp" unless your smart meter wrongly emits telegrams with an offset of multiple minutes or more.{% endblocktranslate %}</li>
        </ul>
    </div>

    {{ block.super }}

{% endblock %}