{% extends 'admin/change_form.html' %}
{% load i18n %} 


{% block field_sets %}
    <div class="submit-row" style="text-align: left; background: #FFFFCC;">
        {% blocktranslate %}All data here is based on the latest telegram received and should also deployed on the Statistics page (except for the telegram). You can find the latest raw telegram below, which can be used for debugging purposes.{% endblocktranslate %}
    </div>

    <pre>
{{ original.latest_telegram }}
    </pre>

    {{ block.super }}

{% endblock %}