{% extends 'admin/change_form.html' %}
{% load static %}
{% load i18n %}


{% block extrahead %}{{ block.super }}
    <link href="{% static 'dsmr_frontend/fontawesome-free-6.2.1-web/css/all.min.css' %}?r=v{{ dsmr_version }}" rel="stylesheet" type="text/css" />
{{ media }}
{% endblock %}

{% block field_sets %}
    <div class="submit-row" style="text-align: left; background: #FFFFCC;">
        {% blocktranslate %}This will synchronize backups to your Dropbox-account using the "Official DSMR-reader" Dropbox App.{% endblocktranslate %}
        <ul>
            <li>{% blocktranslate %}Step 1: Click the authorization link below to go to Dropbox and authorize the app for a dedicated folder in your Dropbox-account.{% endblocktranslate %}</li>
            <li style="list-style-type: none;">
                <ul>
                    <li>⚠️ <strong>{% blocktranslate %}Ensure that Dropbox states that the "Official DSMR-reader" app only requires file access for the following folder:{% endblocktranslate %}</strong> (<code>› "Apps" › "Official DSMR-Reader"</code>)</li>
                    <li>➡️ <a target="_blank" rel="noopener noreferrer" href="{% url 'dropbox:authorize-app' %}">{% translate 'Authorize "Official DSMR-reader" App for your account (opens Dropbox.com)' %}</a></li>
                </ul>
            </li>
            <li>{% blocktranslate %}Step 2: Return to the current screen in DSMR-reader and enter the given Access Code by Dropbox below.{% endblocktranslate %}</li>
            <li>{% blocktranslate %}Step 3: Click "Save and continue editing". This will verify the Access Code with Dropbox.{% endblocktranslate %}</li>
            <li>{% blocktranslate %}Step 4: When valid, the "Dropbox refresh token" indication should now be OK (✅).{% endblocktranslate %}</li>
            <li>{% blocktranslate %}Step 5: DSMR-reader will upload the backups to your Dropbox-account within a day, usually shortly.{% endblocktranslate %}</li>
        </ul>

        <small>
            {% blocktranslate %}Please note you can revoke DSMR-reader's access (the refresh token) at any time in <a target="_blank" rel="noopener noreferrer" href="https://www.dropbox.com/account/connected_apps">Your Connected Apps at Dropbox.com</a>.{% endblocktranslate %}
            {% blocktranslate %}To reauthorize or reconnect the "Official DSMR-reader" Dropbox App again, just follow the same steps above once more.{% endblocktranslate %}
        </small>
    </div>

    {{ block.super }}

{% endblock %}
